{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                               
                {{ template.topmenu|raw }}

                <div class="coachprofile">

                    <!-- START : STAFF PROFILE  -->
                    <section class="profileview">

                        <h4 class="page-title">Coach Details</h4>

                        <div class="row mt-5">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/themes/{{ app.theme }}/assets/img/profile-pic.jpg">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ coach.initials }} {{ coach.surname }}</h5>
                                                <h6 class="my-0 text-secondary">{{ staff.type }}</h6>
                                                (<i class="la la-edit">Edit</i>)
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Settings</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">
                                            
                                            <!-- ABOUT COACH -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Full Name</label>
                                                                            <input type="text" class="form-control" value="{{ coach.full_name }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC</label>
                                                                            <input type="text" class="form-control" value="{{ coach.nic }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <input type="text" class="form-control" value="{{ coach.gender }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" value="{{ coach.dob }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Landline</label>
                                                                            <input type="number" class="form-control" value="{{ coach.phone_home }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label for="">Mobile</label>
                                                                                <input type="number" class="form-control" value="{{ coach.phone_mobile }}">
                                                                            </div>
                                                                        </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" value="{{ coach.email }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" value="{{ coach.city }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" value="{{ coach.address }}">
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Coach ID</label>
                                                                            <input type="number" class="form-control" value="{{ coach.id }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission Date</label>
                                                                            <input type="date" class="form-control" value="{{ coach.admission_date }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Sport</label>
                                                                            <select class="form-control selectpicker show-tick" name="sport">
                                                                                {% for sport in sports %}
                                                                                    {% if sport.id in coach_sports %}
                                                                                        <option value="{{ sport.id }}" selected>{{ sport.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ sport.id }}">{{ sport.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : BIO TAB -->

                                            <!-- START : SETTINGS TAB -->
                                            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">User Role</label>
                                                                            <select class="form-control" name="user_role">
                                                                                <option value="" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">Preffered Theme</label>
                                                                            <select class="form-control" name="user_theme">
                                                                                {% for theme in user.themes %}
                                                                                    {% if theme.name  == settings.theme %}
                                                                                        <option value="{{ theme.name }}" selected>{{ theme.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ theme.name }}">{{ theme.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END : SETTINGS TAB -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                                

                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>