{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                               
                {{ template.topmenu|raw }}

                <div class="coachprofile">
                {% if permission.sport.profile_coach.view %}

                    <!-- START : STAFF PROFILE  -->
                    <section class="profileview">

                        <h4 class="page-title">Sport Coach Details</h4>

                        <div class="row mt-5">
                            <div class="col-12">

                                {% if propic.upload.failed.status %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{ propic.upload.failed.message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/data/propic/coach/{{ coach.id }}">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ coach.initials }} {{ coach.surname }}</h5>
                                                <h6 class="my-0 text-secondary mb-2">Sport Coach</h6>
                                                {% if permission.coach.profile.edit %}
                                                <button class="btn btn-xs btn-warning" id="btn-edit" onclick="edit_mode()"><i class="la la-edit"></i> Edit</button>
                                                <button class="btn btn-xs btn-success" id="btn-save" onclick="update_coach('{{ coach.id }}')" hidden><i class="la la-save"></i> Save</button>
                                                <button class="btn btn-xs btn-info" id="btn-cancel" onclick="cancel_edit_mode()" hidden><i class="la la-close"></i> Cancel</button>
                                                {% if permission.coach.profile.delete %}
                                                <button class="btn btn-xs btn-danger" onclick="remove_coach('{{ coach.id }}')"><i class="la la-trash"></i> Delete</button>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Settings</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">
                                            
                                            <!-- ABOUT COACH -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Full Name</label>
                                                                            <input type="text" class="form-control" id="coach-full_name" value="{{ coach.full_name }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-4">
                                                                        <div class="form-group">
                                                                            <label for="initials">Initials</label>
                                                                            <input type="text" class="form-control" id="coach-initials" value="{{ coach.initials }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-8">
                                                                        <div class="form-group">
                                                                            <label for="surname">Surname</label>
                                                                            <input type="text" class="form-control" id="coach-surname" value="{{ coach.surname }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC</label>
                                                                            <input type="text" class="form-control" id="coach-nic" value="{{ coach.nic }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <select class="form-control" id="coach-gender" name="gender" disabled>
                                                                                {% if coach.gender == "male" %}
                                                                                    <option value="Male" selected>Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                {% else %}
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female" selected>Female</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" id="coach-dob" value="{{ coach.dob }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" id="coach-email" value="{{ coach.email }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Landline</label>
                                                                            <input type="number" class="form-control" id="coach-phone_home" value="{{ coach.phone_home }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Mobile</label>
                                                                            <input type="number" class="form-control" id="coach-phone_mobile" value="{{ coach.phone_mobile }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" id="coach-address" value="{{ coach.address }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" id="coach-city" value="{{ coach.city }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="coach-district" name="district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == coach.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="coach_id">Coach ID</label>
                                                                            <input type="number" class="form-control" id="coach-id" value="{{ coach.id }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="admission_date">Admission Date</label>
                                                                            <input type="date" class="form-control" id="coach-admission_date"  value="{{ coach.admission_date }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="sport">Sports</label>
                                                                            <select class="form-control selectpicker show-tick" id="coach-sport" name="sport" multiple disabled>
                                                                                {% for sport in sports %}
                                                                                    {% if sport.id in coach_sports %}
                                                                                        <option value="{{ sport.id }}" selected>{{ sport.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ sport.id }}">{{ sport.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <!-- PROFILE PICTURE UPLOAD -->
                                                                <form action="#" method="post" enctype="multipart/form-data">
                                                                    <!-- HIDDEN -->
                                                                    <input type="hidden" name="coach_id" value="{{ coach.id }}" >
                                                                    <div class="form-row">
                                                                        <div class="col-4">
                                                                            <div class="form-group">
                                                                                <label for="">Profile Picture Upload</label>
                                                                                <input class="form-control-file" type="file" name="propic" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class="form-group">
                                                                                <label for="">&nbsp;</label>
                                                                                <button type="submit" class="btn btn-primary btn-sm form-control-sm form-control" onclick="upload_profile_picture()">Save</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : BIO TAB -->

                                            <!-- START : SETTINGS TAB -->
                                            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="status">Status</label>
                                                                            <select class="form-control" name="status" id="coach-status" disabled>
                                                                                {% if settings.status  == "Active" %}
                                                                                    <option value="Active" selected>Active</option>
                                                                                    <option value="Deactive">Deactive</option>
                                                                                {% else %}
                                                                                <option value="Active">Active</option>
                                                                                <option value="Deactive" selected>Deactive</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">User Role</label>
                                                                            <select class="form-control" id="coach-role_id"  name="role_id" disabled>
                                                                                <option value="" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">Preffered Theme</label>
                                                                            <select class="form-control" name="user_theme" disabled>
                                                                                {% if settings.theme  == "Dark" %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark" selected>Dark</option>
                                                                                {% else %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark">Dark</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" id="coach-username"  value="{{ settings.username }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <input type="text" class="form-control" id="coach-password"  placeholder="{{ settings.password }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="confirm_password">Confirm Password</label>
                                                                            <input type="text" class="form-control" id="coach-confirm_password" placeholder="Retype if changed" disabled>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END : SETTINGS TAB -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                                
                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // EDIT MODE ON
    edit_mode = () => {

        // MENU BUTTONS
        $('#btn-edit').attr('hidden', true);
        $('#btn-save').attr('hidden', false);
        $('#btn-cancel').attr('hidden', false);
        $('#btn-remove').attr('hidden', true);

        // BIO
        $('#coach-full_name').attr('disabled', false);
        $('#coach-initials').attr('disabled', false);
        $('#coach-surname').attr('disabled', false);
        $('#coach-nic').attr('disabled', false);
        $('#coach-gender').attr('disabled', false);
        $('#coach-dob').attr('disabled', false);
        $('#coach-phone_mobile').attr('disabled', false);
        $('#coach-phone_home').attr('disabled', false);
        $('#coach-email').attr('disabled', false);
        $('#coach-city').attr('disabled', false);
        $('#coach-address').attr('disabled', false);
        $('#coach-district').attr('disabled', false);

        // ACADEMIC
        $('#coach-admission_date').attr('disabled', false);
        // $('#coach-sport').attr('disabled', false);
        $('#coach-sport').prop('disabled', false);
        $('#coach-sport').selectpicker('refresh');

        // SETTINGS
        $('#coach-status').attr('disabled', false);
        $('#coach-role_id').attr('disabled', false);
        $('#coach-username').attr('disabled', false);
        $('#coach-password').attr('disabled', false);
        $('#coach-confirm_password').attr('disabled', false);
    }

    // CANCEL EDIT
    cancel_edit_mode = () => {
        alertify.confirm('<span class="text-warning"><i class="la la-exclamation-circle"></i> Confirm</span>', 'Are you sure you want to cancel...? All Unsaved changes will be lost.', 
            function(){ location.reload(); },
            function(){ alertify.success('Continue editing..')}
            // function(){ alertify.error('Cancel')}
        );
    }

    // START : UPDATE COACH
    update_coach = (coach_id) => {

        // PAYLOAD
        var formData = new FormData;

        // BIO DATA
        formData.append('coach_id', coach_id)
        formData.append('full_name', $("#coach-full_name").val())
        formData.append('initials', $("#coach-initials").val())
        formData.append('surname', $("#coach-surname").val())
        formData.append('nic', $("#coach-nic").val())
        formData.append('gender', $("#coach-gender").val())
        formData.append('dob', $("#coach-dob").val())
        formData.append('phone_mobile', $("#coach-phone_mobile").val())
        formData.append('phone_home', $("#coach-phone_home").val())
        formData.append('email', $("#coach-email").val())
        formData.append('city', $("#coach-city").val())
        formData.append('address', $("#coach-address").val())
        formData.append('district_id', $("#coach-district").val())

        // ACADEMIC
        formData.append('admission_date', $("#coach-admission_date").val())
        formData.append('sport_ids', $("#coach-sport").val())

        // SETTINGS
        formData.append('status', $("#coach-status").val())
        formData.append('role_id', $("#coach-role_id").val())
        formData.append('username', $("#coach-username").val())
        formData.append('password', $("#coach-password").val())
        formData.append('confirm_password', $("#coach-confirm_password").val())

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/sport/ajax_updatecoach",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Coach Details Updated successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                }
            },
            error: (e) => {
                alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : UPDATE COACH

    // START : REMOVE COACH
    remove_coach = (coach_id) => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('coach_id', coach_id)

        alertify.confirm('<span class="text-danger"><i class="la la-exclamation-circle"></i> Caution</span>', 'Are you sure you want to Delete...? All data related to this coach will be deleted.', 
            function(){

                // REQUEST
                $.ajax({
                    url: "{{ app.url }}/sport/ajax_removecoach",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: (res) => {
                        
                        if ( res.status == 'success' ) {
                            alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Coach Record Deleted successfully ... ").set('onok', function() {
                                window.location.replace("{{ app.url}}/sport/search_coach");
                            })
                        } else {
                            console.log(res);
                            alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                        }
                    },
                    error: (e) => {
                        alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                        console.log(e.responseText)
                    }
                })
            },
            function(){ alertify.error('Parent deletion process cancelled')}
            // function(){ alertify.error('Cancel')}
        );
    }
    // END : REMOVE COACH

</script>