{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <!-- START : CONTENT -->
            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="sportsearchcoach">
                {% if permission.sport.search_coach.view %}

                    <!-- START : SPORT SEARCH -->
                    <h4 class="page-title"> Search Coach </h4>

                    {% if permission.denied.status %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>{{ permission.denied.message }}</strong>
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}

                    <div class="card mt-4">

                        <div class="card-header">
                            Search
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="form-row">

                                    <div class="col-5">
                                        <div class="form-group">
                                            <label for="coach_name">Name</label>
                                            <input type="text" class="form-control" name="coach_name" value="{{ (form.field.coach_name) ? form.field.coach_name }}" />
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="coach_sport">Sport</label>
                                            <select class="form-control" name="coach_sport">
                                                <option value="" selected>- Select Sport -</option>
                                                {% for sport in sports %}
                                                    {% if form.field.coach_sport == sport.id %}
                                                        <option value="{{ sport.id }}" selected> {{ sport.name }} </option>
                                                    {% else %}
                                                        <option value="{{ sport.id }}"> {{ sport.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="no_of_sports">No of Sports</label>
                                            <select class="form-control" name="no_of_sports">
                                                <option value="" selected>- Select -</option>
                                                    {% if form.field.no_of_sports == "1" %}
                                                    <option value="1" selected> Only One </option>
                                                    <option value="many"> Two or More </option>
                                                    {% elseif form.field.no_of_sports == "many" %}
                                                    <option value="1"> Only One </option>
                                                    <option value="many" selected> Two or More </option>
                                                    {%else%}
                                                    <option value="1"> Only One </option>
                                                    <option value="many"> Two or More </option>
                                                    {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <input type="hidden" name="isSubmitedCoach" value="true"/>
                                        <button class="btn btn-primary px-5" type="submit"> Search </button>
                                        <button class="btn btn-secondary" type="button" onclick="clearForm(this.form);">Clear</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <!-- END : SPORT SEARCH -->

                    <!-- START : SEARCH RESULTS -->
                    <section class="mt-5">
                        <!-- START : SEARCH RESULT TABLE -->
                        {% if coaches %}
                            <table id="table_sport_search_coach" class="table table-hover table-responsive-md">
                                <caption> Search Results of Coaches </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th width="10%" class="text-center" scope="col">NIC</th>
                                        <th width="10%" class="text-center" scope="col">DoB</th>
                                        <th width="5%" class="text-center" scope="col">Gender</th>
                                        <th width="10%" class="text-center" scope="col">Mobile Number</th>
                                        <th width="10%" class="text-center" scope="col">City</th>
                                        <th width="10%" class="text-center" scope="col">Sport</th>
                                        <th width="10%" class="text-center" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for coach in coaches %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ coach.id }}</th>
                                            <td>{{ coach.coach_initials }} {{ coach.coach_surname }}</td>
                                            <td class="text-center">{{ coach.nic }}</td>
                                            <td class="text-center">{{ coach.dob }}</td>
                                            <td class="text-center">{{ coach.gender }}</td>
                                            <td class="text-center">{{ coach.phone_mobile }}</td>
                                            <td class="text-center">{{ coach.city }}</td>
                                            <td class="text-center">{{ coach.sport }}</td>
                                            <td class="text-right"><a href="{{ app.url }}/sport/profile_coach/{{ coach.id }}"><button type="button" class="btn btn-sm btn-success"><i class="la la-user"></i> View Profile</button></a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <table class="table table-bordered table-responsive-md">
                                <caption> Search Results of Coaches </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">No records to display</td>
                                    </tr>
                                </thead>
                            </table>

                        {% endif %}
                        <!-- END : SEARCH RESULT TABLE -->
                    </section>
                    <!-- END : SEARCH RESULTS -->

                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>
                <!-- END : CONTENT -->

            </div>
        </div>
    </div>

    {{ template.footer|raw }}

    <script>

        // DATA TABLE
        $(document).ready(function() {
            $('#table_sport_search_coach').DataTable();
        } );

    </script>

    <script>
        
        //  CLEAR FORM
        function clearForm(oForm) {
        
            var elements = oForm.elements; 
            
            oForm.reset();
        
            for(i=0; i<elements.length; i++) {
                
            field_type = elements[i].type.toLowerCase();
            
            switch(field_type) {
            
                case "text":
                case "number":
                case "date":
                case "time":
                case "password": 
                case "textarea":
                case "hidden":	

                    elements[i].value = ""; 
                    break;

                case "radio":
                case "checkbox":
                        if (elements[i].checked) {
                            elements[i].checked = false; 
                    }
                    break;
        
                case "select-one":
                case "select-multi":
                            elements[i].selectedIndex = -1;
                    break;
        
                default: 
                    break;
            }

            location.replace(location);
            }
        }

    </script>

</body>