{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <!-- START : BUTTON TRIGGER MODAL -->
                <div class="form-row mt-5 mr-3">
                    <button type="button" class="btn btn-warning ml-auto" data-toggle="modal" data-target="#view-exam-type"> Edit / Remove exam type </button>
                    <button type="button" class="btn btn-primary ml-3"  data-toggle="modal" data-target="#create-exam-type"> Add new exam type </button>
                </div>
                <!-- END : BUTTON TRIGGER MODAL -->
                    
                    
                <!-- START : MODAL CREATE EXAM-TYPE -->
                <div class="modal fade" id="create-exam-type" tabindex="-1" role="dialog" aria-labelledby="create-exam-type-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="create-exam-type-title"> Enter new exam type </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="exam_type"> Exam Type Name </label>
                                        <input type="text" class="form-control" id="exam_type"/>
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="addexam_type();"> Save changes </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END : MODAL CREATE EXAM-TYPE -->

                <!-- START : MODAL EDIT/REMOVE EXAM-TYPE -->
                <div class="modal fade" id="view-exam-type" tabindex="-1" role="dialog" aria-labelledby="view-exam-type-title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="view-exam-type-title"> Edit exam types </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                body
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger"> Save changes </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END : MODAL EDIT/REMOVE EXAM-TYPE -->

                <!-- START : EXAM CREATE PAGE -->
                <div class="examcreate">

                    <!-- START : ADD EXAM -->
                    <div class="addexam">

                        <h4 class="page-title"> Create an Exam </h4>

                        <!-- START : EXAM CREATE FORM -->
                        <form method="post">

                            <div class="form-row mt-4">

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="examtype"> Exam type </label>
                                        <select class="form-control" id="examtype">
                                            <option selected disabled> - Select Exam Type - </option>
                                            {% for exam_type in exam_types %}
                                                <option value="{{ exam_type.id }}"> {{ exam_type.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="examyear"> Year </label>
                                        <select id="examyear" class="form-control">
                                            <option selected disabled> - Select Year - </option>
                                            {% for year in years %}
                                                <option value="{{ year }}"> {{ year }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="venue"> Venue </label>
                                        <input type="text" class="form-control" id="venue"/>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="instructions"> Instructions </label>
                                        <textarea class="md-textarea form-control" rows="1" exam_ placeholder="type exam instructions here.."></textarea>
                                    </div>
                                </div>

                            </div>
                            
                            <div class="form-row">
                                <div class="form-group ml-auto">
                                    <button type="button" class="btn btn-primary" onclick="create_exam();"> Create exam </button>
                                </div>
                            </div>

                        </form>
                        <!-- END : EXAM CREATE FORM -->
                    </div>
                    <!-- END : ADD EXAM -->

                    <!-- START : SCHEDULE EXAM -->
                    <div class="scheduleexam">

                        <h4 class="page-title mt-3"> Schedule an exam </h4>

                        <form method="post">

                            <div class="form-row mt-4">

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="exam"> Select Exam </label>
                                        <select class="form-control" id="exam_name">
                                            <option selected disabled> - Select Exam - </option>
                                            {% for exam in exams %}
                                                <option value="{{ exam.id }}"> {{ exam.type.name }} - {{ exam.year }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="grade"> Grade </label>
                                        <select class="form-control" id="grade">
                                            <option selected disabled> - Select Grade - </option>
                                            {% for grade in grades %}
                                                <option value="{{ grade.id }}"> {{ grade.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="subject"> Subject </label>
                                        <select class="form-control" id="subject">
                                            <option selected disabled> - Select Subject - </option>
                                            {% for subject in subjects %}
                                                <option value="{{ subject.id }}"> {{ subject.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="date"> Date </label>
                                        <input type="date" class="form-control" id="date"></select>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="starttime"> Start time </label>
                                        <div class="input-group date" id="starttimepicker" data-target-input="nearest">
                                            <input type="text" id="starttime" class="form-control datetimepicker-input" data-target="#starttimepicker"/>
                                            <div class="input-group-append" data-target="#starttimepicker" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="la la-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-2">
                                    <div class="form-group">
                                        <label for="endtime"> End time </label>
                                        <div class="input-group date" id="endtimepicker" data-target-input="nearest">
                                            <input type="text" id="endtime" class="form-control datetimepicker-input" data-target="#endtimepicker"/>
                                            <div class="input-group-append" data-target="#endtimepicker" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="la la-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-9">
                                    <div class="form-group">
                                        <label for="exam_instructions"> Instructions </label>
                                        <textarea class="md-textarea form-control" rows="5" id="exam_instructions"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group ml-auto">
                                <button type="button" class="btn btn-primary" onClick="add_schedule();"> Add Schedule </button>
                            </div>

                        </form>

                    </div>
                    <!-- END : SCHEDULE EXAM -->

                </div>
                <!-- END : EXAM CREATE PAGE  -->

            </div>
            
        </div>
    </div>

    {{ template.footer|raw }}

    <script>
    
        // START : SCRIPT : ADD A EXAM_TYPE
        addexam_type = () => {

            // PAYLOAD
            var formData = new FormData;

            // ADD CLASS DATA
            formData.append('exam_type_name', $("#exam_type").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/exam/ajax_addexam_type",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Exam Type added successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }
        // END : SCRIPT : ADD A EXAM_TYPE

        // START : SCRIPT : CREATE EXAM
        create_exam = () => {

            // PAYLOAD
            var formData = new FormData;

            // ADD EXAM DATA
            formData.append('exam_type', $("#examtype").val())
            formData.append('exam_year', $("#examyear").val())
            formData.append('exam_venue', $("#venue").val())
            formData.append('exam_instructions', $("#instructions").val())
            
            // REQUEST
            $.ajax({
                url: "{{ app.url }}/exam/ajax_create_exam",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Exam created successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }
        // END : SCRIPT : CREATE EXAM

        // START : SCRIPT : ADD EXAM SCHEDULE
        add_schedule = () => {

            // PAYLOAD
            var formData = new FormData;

            // ADD EXAM SCHEDULE DATA
            formData.append('select_exam_name', $("#exam_name").val())
            formData.append('exam_grade', $("#grade").val())
            formData.append('exam_subject_name', $("#subject").val())
            formData.append('exam_date', $("#date").val())
            formData.append('exam_starttime', $("#starttime").val())
            formData.append('exam_endtime', $("#endtime").val())
            formData.append('exam_instructions', $("#exam_instructions").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/exam/ajax_add_schedule",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Exam schedule updated successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }
        // END : SCRIPT : ADD EXAM SCHEDULE

    </script>

    <script type="text/javascript">
        $(function () {
            $('#starttimepicker').datetimepicker({
                format: 'LT',
                icons: {
                    time: "la la-clock-o",
                    date: "la la-calendar",
                    up: "la la-angle-up",
                    down: "la la-angle-down"
                }
            });

            $('#endtimepicker').datetimepicker({
                format: 'LT',
                icons: {
                    time: "la la-clock-o",
                    date: "la la-calendar",
                    up: "la la-angle-up",
                    down: "la la-angle-down"
                }
            });
        });
    </script>

</body>