{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="examindex">

                    <h4 class="page-title">Exam Overview</h4>

                    <!-- START : UPCOMING EXAM -->
                    <section class="upcomingexam mt-5">
                        <div class="card">
                            <div class="card-header">
                                <span class="text-danger">Upcoming exams</span>
                            </div>
                            <div class="card-body">
                                {% for exam_schedule in exam.upcoming.schedules %}
                                <!-- <h5 class="card-title">{{ exam_schedule.exam.name }} {{ exam_schedule.exam.year }}</h5> -->
                                <p class="card-text"><b>Grade - {{ exam_schedule.exam.grade }} {{ exam_schedule.exam.subject }}</b> <br/>Scheduled on {{ exam_schedule.exam.date }} {{ exam_schedule.exam.starttime }} - {{ exam_schedule.exam.endtime }} @ {{ exam_schedule.exam.venue }}</p>
                                {% endfor %}
                                <a href="{{ app.url }}/exam/search" class="btn btn-sm btn-danger">view details</a>
                            </div>
                        </div>
                    </section>
                    <!-- END : UPCOMING EXAM -->

                    <!-- START : RECENT EXAM -->
                    <section class="recentexam mt-4">
                        <div class="card">
                            <div class="card-header">
                                Recent exams
                            </div>
                            <div class="card-body">
                                {% for exam_schedule in exam.recent.schedules %}
                                <!-- <h5 class="card-title">{{ exam_schedule.exam.name }} {{ exam_schedule.exam.year }}</h5> -->
                                <p class="card-text"><b>Grade - {{ exam_schedule.exam.grade }} {{ exam_schedule.exam.subject }}</b><br/>Held on {{ exam_schedule.exam.date }} {{ exam_schedule.exam.starttime }} - {{ exam_schedule.exam.endtime }}</p>
                                {% endfor %}
                                <a href="{{ app.url }}/exam/search" class="btn btn-sm btn-primary">view details</a>
                            </div>
                        </div>
                    </section>
                    <!-- END : RECENT EXAM -->

                </div>
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>