{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                {% if permission.exam.search.view %}
                <div class="examsearch">
                    
                    <h4 class="page-title">View exam schedule</h4>

                    <div class="card mt-4">
                        <div class="card-header">Search Exam</div>
                        <div class="card-body">

                            <form method="post">

                                <div class="form-row">

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exam_name"> Select Exam </label>
                                            <select class="form-control" name="exam_name">
                                                <option value="" selected>- Select Exam -</option>
                                                {% for exam in exams %}
                                                    {% if exam.id == form.field.exam_name %}
                                                    <option value="{{ exam.id }}" selected> {{ exam.type.name }} - {{ exam.year }}</option>
                                                    {% else %}
                                                    <option value="{{ exam.id }}"> {{ exam.type.name }} - {{ exam.year }}</option>
                                                    {% endif %}                                        
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exam_grade"> Grade </label>
                                            <select class="form-control" name="exam_grade">
                                                <option value="" selected>- Select -</option>
                                                {% for grade in grades %}
                                                    {% if grade.id == form.field.exam_grade %}
                                                    <option value="{{ grade.id }}" selected> {{ grade.name }} </option>
                                                    {% else %}
                                                    <option value="{{ grade.id }}"> {{ grade.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exam_subject"> Subject </label>
                                            <select class="form-control" name="exam_subject">
                                                <option value="" selected>- Select -</option>
                                                {% for subject in subjects %}
                                                    {% if subject.id == form.field.exam_subject %}
                                                    <option value="{{ subject.id }}" selected> {{ subject.name }} </option>
                                                    {% else %}
                                                    <option value="{{ subject.id }}"> {{ subject.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="exam_date"> Date </label>
                                            <input type="date" class="form-control" name="exam_date" value={{ form.field.exam_date }}></select>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3 d-flex" style="align-items: center;justify-content: space-between;">

                                        <div class="form-group">
                                            <input type="hidden" name="isSubmited" value="true"/>
                                            <button type="submit" class="btn btn-primary"> Search Exam Schedule </button>
                                            <button class="btn btn-secondary" type="button" onclick="clearForm(this.form);">Clear</button>
                                        </div>

                                        <!-- START : BUTTON TRIGGER MODAL -->
                                        <div class="form-group">
                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#edit-exam"> Edit / Remove exam </button>
                                        </div>
                                        <!-- END : BUTTON TRIGGER MODAL -->
                                        
                                    </div>

                                </div>

                            </form>
                        
                        </div>
                    </div>

                </div>

                <!-- START : EXAM SCHEDULE SEARCH RESULT -->
                <section class="examschedule mt-3">

                    {% if exam.schedules %}
                        <table id="table_exam_search" class="table table-hover table-responsive-md">
                            <caption> Results of Exam Schedules </caption>
                            <thead class="thead-dark">
                                <tr>
                                    <th width="20%" class="text-center" scope="col">Exam Name</th>
                                    <th width="8%" class="text-center" scope="col">Grade</th>
                                    <th class="text-center" scope="col">Subject</th>
                                    <th width="9%" class="text-center" scope="col">Date</th>
                                    <th width="8%" class="text-center" scope="col">Starts at</th>
                                    <th width="8%" class="text-center" scope="col">Ends at</th>
                                    <th class="text-center" scope="col">Venue</th>
                                    <th class="text-center" scope="col">Instructions</th>
                                    <th width="10%" class="text-right" scope="col">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for exam_schedule in exam.schedules %}
                                    <tr>
                                        <td class="text-center">{{ exam_schedule.exam_type_name }} - {{ exam_schedule.exam_year }}</td>
                                        <td class="text-center">Grade - {{ exam_schedule.grade }}</td>
                                        <td class="text-center">{{ exam_schedule.subject }}</td>
                                        <td class="text-center">{{ exam_schedule.date }}</td>
                                        <td class="text-center">{{ exam_schedule.starts }}</td>
                                        <td class="text-center">{{ exam_schedule.ends }}</td>
                                        <td class="text-center">{{ exam_schedule.venue }}</td>
                                        <td class="text-center">{{ exam_schedule.instructions }}</td>
                                        <td>
                                            <div class="col-12 text-right">
                                                    <button class="btn btn-sm btn-warning" onclick="exam.schedule.invokeExamScheduleEditModal('{{ exam_schedule.id }}', '{{ exam_schedule.venue }}', '{{ exam_schedule.instructions }}')"><i class="la la-edit"></i></button>
                                                    <button onclick="exam.schedule.remove('{{ exam_schedule.id }}','{{ exam_schedule.date }}')" class="btn btn-sm btn-danger"><i class="la la-trash"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    {% else %}
                        <table class="table table-hover table-responsive-md">
                            <caption> Results of Exam Schedules </caption>
                            <thead class="thead-dark">                            
                                <tr>
                                    <th class="text-center" scope="col">Select a exam to view schedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center" scope="row">No records to display</td>
                                </tr>
                            </tbody>
                        </table>
                    {% endif %}
                </section>
                <!-- END : EXAM SCHEDULE SEARCH RESULT -->
                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}

            </div>
            
        </div>
    </div>

    <!-- START : MODAL EDIT / REMOVE EXAMS -->
    <div class="modal fade" id="edit-exam" tabindex="-1" role="dialog" aria-labelledby="edit-exam-title" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="edit-exam-title"> Edit / Remove Exams </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table id="modal-exams" class="table table-hover table-responsive-md">

                        <thead class="thead-dark">
                            <tr>
                                <th width="1%" class="text-center" scope="col">ID</th>
                                <th width="20%" scope="col">Exam Name</th>
                                <th width="30%" scope="col">Venue</th>
                                <th scope="col">Instructions</th>
                                <th width="15%" class="text-center" scope="col">&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for exam in exams %}
                                <tr>
                                    <th class="text-center" scope="row">{{ exam.id }}</th>
                                    <td>{{ exam.type.name }} - {{ exam.year }}</td>
                                    <td>{{ exam.venue }}</td>
                                    <td>{{ exam.instructions }}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button class="btn btn-sm btn-warning" onclick="exam.invokeExamEditModal('{{ exam.id }}','{{ exam.type_id }}','{{ exam.year }}','{{ exam.venue }}','{{ exam.instructions }}');"><i class="la la-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-danger" onclick="exam.remove('{{ exam.id }}');"><i class="la la-trash"></i></button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- END : MODAL EDIT / REMOVE EXAMS -->

    <!-- START : MODAL EDIT EXAM -->
    <div class="modal fade" id="modal_editexam" tabindex="-1" role="dialog" aria-labelledby="modal_editexam-title" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> EDIT EXAM </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="modal-edit-exam-id" />
                    <form method="post">

                        <div class="form-row">
                            <div class="col-2">
                                <div class="form-group">
                                    <label for="examyear"> Year </label>
                                    <select id="modal-edit-exam-year" class="form-control">
                                        <option selected disabled> - Select - </option>
                                        {% for year in years %}
                                            <option value="{{ year }}"> {{ year }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="examtype"> Exam type </label>
                                    <select class="form-control" id="modal-edit-exam-type_id">
                                        <option selected disabled> - Select Exam Type - </option>
                                        {% for exam_type in exam_types %}
                                            <option value="{{ exam_type.id }}"> {{ exam_type.name }} </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label for="venue"> Venue </label>
                                    <input type="text" class="form-control" id="modal-edit-exam-venue"/>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exam_instructions"> Instructions </label>
                                    <textarea class="md-textarea form-control" id="modal-edit-exam-instructions" rows="4" placeholder="type exam instructions here.."></textarea>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="exam.edit();">Save changes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- END : MODAL EDIT EXAM -->

    <!-- START : MODAL EDIT EXAM SCHEDULE -->
    <div class="modal fade" id="modal_editexamschedule" tabindex="-1" role="dialog" aria-labelledby="modal_editexamschedule-title" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title"> EDIT EXAM SCHEDULE </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" id="modal-edit-exam-schedule-id" />
                    <form method="post">

                        <div class="form-row">

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="venue"> Venue </label>
                                    <input type="text" class="form-control" id="modal-edit-exam-schedule-venue"/>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exam_instructions"> Instructions </label>
                                    <textarea class="md-textarea form-control" id="modal-edit-exam-schedule-instructions" rows="4" placeholder="type exam instructions here.."></textarea>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="exam.schedule.edit();">Save changes</button>
                </div>

            </div>
        </div>
    </div>
    <!-- END : MODAL EDIT EXAM SCHEDULE -->

{{ template.footer|raw }}

    <script>

        // START : SCRIPT FOR EXAM
        var exam = {

            // INVOKE EXAM EDIT MODAL
            invokeExamEditModal: (id,type_id,year,venue,instructions) => {
                $("#modal-edit-exam-id").val(id)
                $("#modal-edit-exam-type_id").val(type_id)
                $("#modal-edit-exam-year").val(year)
                $("#modal-edit-exam-venue").val(venue)
                $("#modal-edit-exam-instructions").val(instructions)
                $("#modal_editexam").modal("show")
            },

            edit: () => {

                var formData = new FormData;
                formData.append('id', $("#modal-edit-exam-id").val())
                formData.append('type_id', $("#modal-edit-exam-type_id").val())
                formData.append('year', $("#modal-edit-exam-year").val())
                formData.append('venue', $("#modal-edit-exam-venue").val())
                formData.append('instructions', $("#modal-edit-exam-instructions").val())

                $.ajax({
                    url: "{{ app.url }}/exam/ajax_edit_exam",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: (res) => {                        
                        if ( res.status == 'success' ) {
                            alertify.alert("Success", "Exam edited successfully ... ").set('onok', function() {
                                location.reload();
                            })
                        } else {
                            console.log(res);
                            alertify.alert(res.error);
                        }
                    },
                    error: (e) => {
                        alertify.alert("Error", "Something went wrong ... ");
                        console.log(e.responseText)
                    }
                })
            },

            remove: (examId) => {

                var formData = new FormData;
                formData.append("exam_id", examId)

                $.ajax({
                    url: "{{ app.url }}/exam/ajax_remove_exam",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: (res) => {
                        if ( res.status == 'success' ) {
                            alertify.alert("Success", "Exam removed successfully ... ").set('onok', function() {
                                location.reload();
                            })
                        } else {
                            console.log(res);
                            alertify.alert(res.message);
                        }
                    },
                    error: (e) => {
                        alertify.alert("Error", "Something went wrong ... ");
                        console.log(e.responseText)
                    }
                })
                
            },

            schedule: {

                // INVOKE EXAM EDIT MODAL
                invokeExamScheduleEditModal: (id,venue,instructions) => {
                    $("#modal-edit-exam-schedule-id").val(id)
                    $("#modal-edit-exam-schedule-venue").val(venue)
                    $("#modal-edit-exam-schedule-instructions").val(instructions)
                    $("#modal_editexamschedule").modal("show")
                },

                edit: (id,date) => {

                    // PAYLOAD
                    let formData = new FormData
                    formData.append('id', $("#modal-edit-exam-schedule-id").val())
                    formData.append('venue', $("#modal-edit-exam-schedule-venue").val())
                    formData.append('instructions', $("#modal-edit-exam-schedule-instructions").val())

                    // AJAX
                    $.ajax({
                        url: "{{ app.url }}/exam/ajax_edit_exam_schedule",
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        success: Response => {
                            if ( Response.status === 'success' ) {
                                alertify.alert("Success", "Exam Schedule Modified Successfully").set({
                                    'closable': false,
                                    'onok': () => {
                                        location.reload()
                                    }
                                })
                            }
                            else {
                                alertify.alert("Failed", Response.message)
                            }
                        },
                        error: (e) => {
                            console.log( e.responseText )
                        }
                    })
                },
                remove: (id,date) => {

                    // PAYLOAD
                    let formData = new FormData
                    formData.append('id', id)
                    formData.append('date', date)

                    // AJAX
                    $.ajax({
                        url: "{{ app.url }}/exam/ajax_remove_examschedule",
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        dataType: 'json',
                        success: Response => {
                            if ( Response.status === 'success' ) {
                                alertify.alert("Success", "Schedule Deleted Successfully").set({
                                    'closable': false,
                                    'onok': () => {
                                        location.reload()
                                    }
                                })
                            }
                            else {
                                alertify.alert("Failed", Response.message)
                            }
                        },
                        error: (e) => {
                            console.log( e.responseText )
                        }
                    })
                }
            }
        }
        // END : SCRIPT FOR REMOVE EXAM 

        // DATA TABLE
        $(document).ready(function() {
            $('#table_exam_search').DataTable();
        } );
    
    </script>

    <script>
        
        //  CLEAR FORM
        function clearForm(oForm) {
        
            var elements = oForm.elements; 
            
            oForm.reset();
        
            for(i=0; i<elements.length; i++) {
                
            field_type = elements[i].type.toLowerCase();
            
            switch(field_type) {
            
                case "text":
                case "number":
                case "date":
                case "time":
                case "password": 
                case "textarea":
                case "hidden":	

                    elements[i].value = ""; 
                    break;

                case "radio":
                case "checkbox":
                        if (elements[i].checked) {
                            elements[i].checked = false; 
                    }
                    break;
        
                case "select-one":
                case "select-multi":
                            elements[i].selectedIndex = -1;
                    break;
        
                default: 
                    break;
            }

            location.replace(location);
            }
        }

    </script>

</body>