{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}                            

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="container parentadd">

                    <h4 class="page-title"> Add Parent Details </h4>


                    <!-- START : SEARCH STUDENT -->
                    <div class="card mt-4">
                        <div class="card-header">Search relevant student</div>
                        <div class="card-body">
                            
                            <form method="post">
        
                                <div class="form-row mt-4">
        
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="addno">Admission Number</label>
                                            <input type="number" class="form-control" id="addno" maxlength="6"/>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="admission_date">Admission Date</label>
                                            <input type="date" id="adddate" class="form-control"/>
                                            <small id="dobHelp" class="form-text text-muted">ex : 2019/09/18</small>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name"/>
                                        </div>
                                    </div>
        
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="class">Class</label>
                                            <select class="form-control" id="class">
                                                <option selected disabled> - Select Class - </option>
                                                {% for class in student_class %}
                                                <option value="{{ class.id }}"> {{ class.grade.name}} - {{ class.name }}</option>
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
        
                                </div>
        
                                <div class="form-row">
                                    <div class="form-group mr-auto ml-1">
                                        <input type="hidden" name="isSubmited" value="true" />
                                        <button type="submit" class="btn btn-primary"> Search Student </button>
                                    </div>
                                </div>
        
                            </form>

                        </div>
                    </div>
                    <!-- END : SEARCH STUDENT -->

                    <div class="row mt-4">
                        <pre>
                            {{ dump(students) }}
                        </pre>
                    </div>

                    <!-- START : ADD PARENT -->
                    <div class="parentaddform">

                        <form name="parentadd" method="POST" action="#">
                            <div id="accordionparentadd">

                                <!-- START : GUARDIAN 2 DETAILS -->
                                <div class="card">
        
                                    <div class="card-header" id="headingGuardian2" data-toggle="collapse" data-target="#collapseGuardian2" aria-expanded="false" aria-controls="collapseGuardian2">
                                        Father / Mother or 2nd Guardian 's Details
                                    </div>
            
                                    <div id="collapseGuardian2" class="collapse" aria-labelledby="headingGuardian2" data-parent="#accordionparentadd">

                                        <div class="card-body">

                                            <div class="form-row">

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="g2fn">Full Name</label>
                                                        <input type="text" class="form-control" id="g2fn" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2ini">Initials</label>
                                                        <input type="text" class="form-control" id="g2ini" required/>
                                                    </div>
                                                </div>

                                                <div class="col-8">
                                                    <div class="form-group">
                                                        <label for="g2sn">Surname</label>
                                                        <input type="text" class="form-control" id="g2sn" required/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2dob">Date of Birth</label>
                                                        <input type="date" class="form-control" id="g2dob" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2rel">Relationship</label>
                                                        <select class="form-control" id="g2rel" required>
                                                            <option selected disabled> - Select Relation - </option>
                                                            {% for relation in relation_type %}
                                                            <option value="{{ relation.id }}"> {{ relation.name }} </option>
                                                            {% endfor%}
                                                        </select>
                                                        <!-- <small id="addrelation" class="form-text text-muted">New Relationship</small> -->
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2gen">Gender</label>
                                                        <select class="form-control" id="g2gen" required>
                                                                <option selected disabled> - Select Gender - </option>
                                                                <option value="Male"> Male </option>
                                                                <option value="Female"> Female </option>
                                                            </select>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2nic">National Identity Card (NIC)</label>
                                                        <input type="text" class="form-control" id="g2nic" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2tel">Landline Number</label>
                                                        <input type="number" class="form-control" id="g2tel" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2mobi">Mobile Number</label>
                                                        <input type="number" class="form-control" id="g2mobi"/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2occu">Occupation</label>
                                                        <input type="text" class="form-control" id="g2occu"/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2pos">Position</label>
                                                        <input type="text" class="form-control" id="g2pos"/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2inc">Annual Income</label>
                                                        <input type="number" class="form-control" id="g2inc"/>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="g2mail">Email</label>
                                                        <input type="text" class="form-control" id="g2mail"/>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="g2address">Address</label>
                                                        <input type="text" class="form-control" id="g2address" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2city">City</label>
                                                        <input type="text" class="form-control" id="g2city" required/>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2dist">District</label>
                                                        <select class="form-control" id="g2dist" required>
                                                            <option selected disabled> - Select District - </option>
                                                            {% for district in districts %}
                                                            <option value="{{ district.id }}"> {{ district.name }} </option>
                                                            {% endfor%}
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-4">
                                                    <div class="form-group">
                                                        <label for="g2province">Province</label>
                                                        <select class="form-control" id="g2province" disabled></select>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                                
                                        </div>
            
                                    </div>
                                    
                                </div>
                                <!-- END : GUARDIAN 2 DETAILS -->

                            </div>
        
                            <button type="button" class="btn btn-primary" onClick="addparent();"> Add Parent </button>
                            <button type="reset" class="btn btn-secondary"> Clear </button>
        
                        </form>

                    </div>
                    <!-- END : ADD PARENT -->

                </div>
                
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}

    <script>

        // FORMDATA REGISTERING
        addparent = () => {

            // PAYLOAD
            var formData = new FormData;

            // GUARDIAN 2ND DATA
            formData.append('second_guardian_full_name', $("#g2fn").val())
            formData.append('second_guardian_initials', $("#g2ini").val())
            formData.append('second_guardian_surname', $("#g2sn").val())
            formData.append('second_guardian_date_of_birth', $("#g2dob").val())
            formData.append('second_guardian_relation', $("#g2rel").val())
            formData.append('second_guardian_gender', $("#g2gen").val())
            formData.append('second_guardian_nic', $("#g2nic").val())
            formData.append('second_guardian_telephone', $("#g2tel").val())
            formData.append('second_guardian_mobile_number', $("#g2mobi").val())
            formData.append('second_guardian_occupation', $("#g2occu").val())
            formData.append('second_guardian_position', $("#g2pos").val())
            formData.append('second_guardian_income', $("#g2inc").val())
            formData.append('second_guardian_email', $("#g2mail").val())
            formData.append('second_guardian_address', $("#g2address").val())
            formData.append('second_guardian_city', $("#g2city").val())
            formData.append('second_guardian_district', $("#g2dist").val())
            formData.append('second_guardian_province', $("#g2province").val())

            // CONSOLE LOG
            console.log("FN : " + $("#g2fn").val())
            console.log("INI : " + $("#g2ini").val())
            console.log("SN : " + $("#g2sn").val())
            console.log("DOB : " + $("#g2dob").val())
            console.log("RELATION : " + $("#g2rel").val())
            console.log("GEN : " + $("#g2gen").val())
            console.log("GEN : " + $("#g2nic").val())
            console.log("EMAIL : " + $("#g2mail").val())
            console.log("LANDLINE : " + $("#g2tel").val())
            console.log("MOBILE : " + $("#g2mobi").val())
            console.log("GEN : " + $("#g2occu").val())
            console.log("GEN : " + $("#g2pos").val())
            console.log("GEN : " + $("#g2inc").val())
            console.log("ADDRESS : " + $("#g2address").val())
            console.log("CITY : " + $("#g2city").val())
            console.log("DISTRICT : " + $("#g2dist").val())
            console.log("PROVINCE : " + $("#g2province").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/parents/ajax_addparent",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Parent added successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }

        //VIEW PROVINCE BY DISTRICT
        $("#g1dist").on('change', function () {

            var id = $("#g1dist").val()

            $.ajax({
                url: '{{ app.url }}/parents/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#g1province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

        //VIEW PROVINCE BY DISTRICT
        $("#g2dist").on('change', function () {

            var id = $("#g2dist").val()

            $.ajax({
                url: '{{ app.url }}/parents/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#g2province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

    </script>
</body>

