{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}                            

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="parentadd">

                    <h4 class="page-title"> Add Parent Details </h4>

                    <!-- START : SEARCH STUDENT -->
                    <div class="card mt-4">
                        <div class="card-header">Search relevant student</div>
                        <div class="card-body">
                            
                            <form method="post">
        
                                <div class="form-row mt-4">
        
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="addno">Admission Number</label>
                                            {% if search.query.addno %}
                                            <input type="number" value="{{ search.query.addno }}" class="form-control" name="addno" maxlength="6"/>
                                            {% else %}
                                            <input type="number" class="form-control" name="addno" maxlength="6"/>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="admission_date">Admission Date</label>
                                            {% if search.query.admission_date %}
                                            <input type="date" value="{{ search.query.admission_date }}" class="form-control" name="admission_date" maxlength="6"/>
                                            {% else %}
                                            <input type="date" name="admission_date" class="form-control"/>
                                            {% endif %}
                                            <small id="dobHelp" class="form-text text-muted">ex : 2019/09/18</small>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            {% if search.query.name %}
                                            <input type="text" value="{{ search.query.name }}" class="form-control" name="name"/>
                                            {% else %}
                                            <input type="text" class="form-control" name="name" maxlength="6"/>
                                            {% endif %}
                                        </div>
                                    </div>
        
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="class">Class</label>
                                            <select class="form-control" name="class">
                                                <option>- Select Class -</option>
                                                {% for class in student_class %}
                                                    {% if search.query.class == class.id %}
                                                    <option value="{{ class.id }}" selected> {{ class.grade.name}} - {{ class.name }}</option>
                                                    {% else %}
                                                    <option value="{{ class.id }}"> {{ class.grade.name}} - {{ class.name }}</option>
                                                    {% endif %}
                                                {% endfor%}
                                            </select>
                                        </div>
                                    </div>
        
                                </div>
        
                                <div class="form-row">
                                    <div class="form-group mr-auto ml-1">
                                        <input type="hidden" name="isSubmited" value="true" />
                                        <button type="submit" class="btn btn-primary">Search Student</button>
                                        <button class="btn btn-secondary" type="button" onclick="clearForm(this.form);">Clear</button>
                                    </div>
                                </div>
        
                            </form>

                        </div>
                    </div>
                    <!-- END : SEARCH STUDENT -->

                    <!-- START : SEARCH STUDENT RESULT TABLE -->
                    <div class="student-result-table">
                        {% if search.students %}
                            <table class="table table-hover table-responsive-md">
                                <caption> Search Results of Student </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="5%" class="text-center" scope="col">Admission</th>
                                        <th width="5%" class="text-center" scope="col">Class</th>
                                        <th width="5%" class="text-center" scope="col">Index</th>
                                        <th class="text-center" scope="col">Name</th>
                                        <th width="5%" class="text-center" scope="col">Gender</th>
                                        <th class="text-center" scope="col">DOB</th>
                                        <th class="text-center" scope="col">Address</th>
                                        <th class="text-center" scope="col">City</th>
                                        <th> &nbsp; </th>
                                        
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for student in search.students %}
                                    <tr>
                                        <th class="text-center" scope="row">{{ student.admission_no }}</th>
                                        <td class="text-center">{{ student.class }}</td>
                                        <td class="text-center">{{ student.index }}</td>
                                        <td class="text-center">{{ student.name }}</td>
                                        <td class="text-center">{{ student.gender }}</td>
                                        <td class="text-center">{{ student.dob }}</td>
                                        <td class="text-center">{{ student.address }}</td>
                                        <td class="text-center">{{ student.city }}</td>
                                        <td class="text-center" width="8%">
                                            {% if student.disabled %}
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_addparent" disabled>Add</button>
                                            {% else %}
                                            <button onclick="selectStudent({{ student.id }});" type="button" class="btn btn-primary">Add</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-hover table-responsive-md">
                                <caption> Search Results of Student </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="8" class="text-center"> No records to display </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <!-- END : SEARCH STUDENT RESULT TABLE -->

                </div>
                
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}

    <!-- START : MODAL : ADD PARENT -->
    <div class="modal fade" id="modal_addparent" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ADD A NEW PARENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>

                <div class="modal-body">

                    <!-- START : ADD PARENT -->
                    <div class="parentaddform">

                        <form method="POST">
                            <div id="accordionparentadd">

                                <!-- START : GUARDIAN 2 DETAILS -->
                                <div class="card">

                                    <div class="card-body">

                                        <div class="form-row">

                                            <input type="hidden" id="student_id"/>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g2fn">Full Name</label>
                                                    <input type="text" class="form-control" id="g2fn"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2ini">Initials</label>
                                                    <input type="text" class="form-control" id="g2ini"/>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label for="g2sn">Surname</label>
                                                    <input type="text" class="form-control" id="g2sn"/>
                                                </div>
                                            </div>
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2dob">Date of Birth</label>
                                                    <input type="date" class="form-control" id="g2dob"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2rel">Relationship</label>
                                                    <select class="form-control" id="g2rel">
                                                        <option selected disabled> - Select Relation - </option>
                                                        {% for relation in relation_type %}
                                                        <option value="{{ relation.id }}"> {{ relation.name }} </option>
                                                        {% endfor%}
                                                    </select>
                                                    <!-- <small id="addrelation" class="form-text text-muted">New Relationship</small> -->
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2gen">Gender</label>
                                                    <select class="form-control" id="g2gen">
                                                            <option selected disabled> - Select Gender - </option>
                                                            <option value="Male"> Male </option>
                                                            <option value="Female"> Female </option>
                                                        </select>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2nic">National Identity Card (NIC)</label>
                                                    <input type="text" class="form-control" id="g2nic"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2tel">Landline Number</label>
                                                    <input type="number" class="form-control" id="g2tel"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2mobi">Mobile Number</label>
                                                    <input type="number" class="form-control" id="g2mobi"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2occu">Occupation</label>
                                                    <input type="text" class="form-control" id="g2occu"/>
                                                    <small id="helpg2occu" class="form-text text-muted">Insert 'None' if Occupation isn't available</small>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2pos">Position</label>
                                                    <input type="text" class="form-control" id="g2pos"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2inc">Annual Income</label>
                                                    <input type="number" class="form-control" id="g2inc"/>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g2mail">Email</label>
                                                    <input type="text" class="form-control" id="g2mail"/>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g2address">Address</label>
                                                    <input type="text" class="form-control" id="g2address"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2city">City</label>
                                                    <input type="text" class="form-control" id="g2city"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2dist">District</label>
                                                    <select class="form-control" id="g2dist">
                                                        <option selected disabled> - Select District - </option>
                                                        {% for district in districts %}
                                                        <option value="{{ district.id }}"> {{ district.name }} </option>
                                                        {% endfor%}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g2province">Province</label>
                                                    <select class="form-control" id="g2province" disabled></select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                            
                                    </div>
                                    
                                </div>
                                <!-- END : GUARDIAN 2 DETAILS -->

                            </div>
        
                        </form>

                    </div>
                    <!-- END : ADD PARENT -->

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="addparent();">Add Parent</button>
                </div>

            </div>
        </div>
    </div>
    <!-- END : MODAL : ADD PARENT -->

    <script>

        // FORMDATA REGISTERING
        addparent = () => {

            // PAYLOAD
            var formData = new FormData;

            // GUARDIAN 2ND DATA
            formData.append('student_id', $("#student_id").val())
            formData.append('second_guardian_full_name', $("#g2fn").val())
            formData.append('second_guardian_initials', $("#g2ini").val())
            formData.append('second_guardian_surname', $("#g2sn").val())
            formData.append('second_guardian_date_of_birth', $("#g2dob").val())
            formData.append('second_guardian_relation', $("#g2rel").val())
            formData.append('second_guardian_gender', $("#g2gen").val())
            formData.append('second_guardian_nic', $("#g2nic").val())
            formData.append('second_guardian_telephone', $("#g2tel").val())
            formData.append('second_guardian_mobile_number', $("#g2mobi").val())
            formData.append('second_guardian_occupation', $("#g2occu").val())
            formData.append('second_guardian_position', $("#g2pos").val())
            formData.append('second_guardian_income', $("#g2inc").val())
            formData.append('second_guardian_email', $("#g2mail").val())
            formData.append('second_guardian_address', $("#g2address").val())
            formData.append('second_guardian_city', $("#g2city").val())
            formData.append('second_guardian_district', $("#g2dist").val())
            formData.append('second_guardian_province', $("#g2province").val())

            // CONSOLE LOG
            console.log("STUDENT_ID : " + $("#student_id").val())
            console.log("FN : " + $("#g2fn").val())
            console.log("INI : " + $("#g2ini").val())
            console.log("SN : " + $("#g2sn").val())
            console.log("DOB : " + $("#g2dob").val())
            console.log("RELATION : " + $("#g2rel").val())
            console.log("GEN : " + $("#g2gen").val())
            console.log("GEN : " + $("#g2nic").val())
            console.log("EMAIL : " + $("#g2mail").val())
            console.log("LANDLINE : " + $("#g2tel").val())
            console.log("MOBILE : " + $("#g2mobi").val())
            console.log("GEN : " + $("#g2occu").val())
            console.log("GEN : " + $("#g2pos").val())
            console.log("GEN : " + $("#g2inc").val())
            console.log("ADDRESS : " + $("#g2address").val())
            console.log("CITY : " + $("#g2city").val())
            console.log("DISTRICT : " + $("#g2dist").val())
            console.log("PROVINCE : " + $("#g2province").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/parents/ajax_addparent",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Parent added successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }

        //VIEW PROVINCE BY DISTRICT
        $("#g1dist").on('change', function () {

            var id = $("#g1dist").val()

            $.ajax({
                url: '{{ app.url }}/parents/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#g1province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

        //VIEW PROVINCE BY DISTRICT
        $("#g2dist").on('change', function () {

            var id = $("#g2dist").val()

            $.ajax({
                url: '{{ app.url }}/parents/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#g2province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })


        selectStudent = (studentId) => {
            console.log(studentId)
            $("#student_id").val(studentId);
            $("#modal_addparent").modal("show");
        }
    </script>

    <script>
        
        //  CLEAR FORM
        function clearForm(oForm) {
        
            var elements = oForm.elements; 
            
            oForm.reset();
        
            for(i=0; i<elements.length; i++) {
                
            field_type = elements[i].type.toLowerCase();
            
            switch(field_type) {
            
                case "text":
                case "number":
                case "date":
                case "time":
                case "password": 
                case "textarea":
                case "hidden":	

                    elements[i].value = ""; 
                    break;

                case "radio":
                case "checkbox":
                        if (elements[i].checked) {
                            elements[i].checked = false; 
                    }
                    break;
        
                case "select-one":
                case "select-multi":
                            elements[i].selectedIndex = -1;
                    break;
        
                default: 
                    break;
            }

            location.replace(location);
            }
        }

    </script>
</body>

