{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="parentindex">
                {% if permission.parents.index.view %}

                    <!-- START : SPORT SUMMARY  -->
                    <section class="attendaceview">

                        <h4 class="page-title"> Parent Overview </h4>

                        <div class="row mt-5">

                            <div class="col-12">
                                <div class="card-deck">

                                    <!-- TOTAL SPORTS -->
                                    <div class="card">
                                        <div class="card-header">
                                            Total Parents
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ parent.total.all }}</h5>
                                            <p class="card-text">
                                                Male - <span class="text-success"> <i class="la la-male"></i> {{ parent.total.male }} </span><br/>
                                                Female - <span class="text-success"> <i class="la la-female"></i> {{ parent.total.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/parent" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>

                                    <!-- TOTAL COACHES -->
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="text-success">Total Parents above Average Income</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-success">{{ parent.above.income.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-success"> <i class="la la-male"></i> {{ parent.above.income.male }}</span><br/>
                                                Female - <span class="text-success"> <i class="la la-female"></i> {{ parent.above.income.female }}</span>
                                            </p>
                                            <a href="{{ app.url}}/parent/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>

                                    <!-- STUDENTS DOING SPORTS -->
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="text-danger">Total Parents below Average Income</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-danger">{{ parent.below.income.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-danger"> <i class="la la-male"></i> {{ parent.below.income.male }} </span><br/>
                                                Female - <span class="text-danger"> <i class="la la-female"></i> {{ parent.below.income.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/parent/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>
            
                                    <!-- OCCUPATION -->
                                    <!-- <div class="card">
                                        <div class="card-header">
                                            <span class="text-warning">Most listed Occupation</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-warning">{{ parent.most.occupation.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-warning"> <i class="la la-male"></i> {{ parent.most.occupation.male }} </span><br/>
                                                Female - <span class="text-warning"> <i class="la la-female"></i> {{ parent.most.occupation.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/parent/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- END : ATTENDANCE SUMMARY  -->

                    <!-- START : CLASS VIEW ATTENDANCE -->
                    <section class="class-attendance-chart mt-5">

                        <!-- TITLE -->
                        <h4 class="page-title mb-4">Income</h4>

                        <div class="row">
                            <div class="col-6">
                                <div class="col chart-bg pt-3" id="chart-1"></div>
                            </div>
                            <div class="col-6">
                                <div class="col chart-bg pt-3" id="chart-2"></div>
                            </div>
                        </div>

                    </section>
                    <!-- END : CLASS VIEW ATTENDANCE -->

                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // APEXCHARTS
    let options = {
        chart: {
            height: 500,
            type: 'bar',
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        plotOptions: {
            bar: {
                horizontal: false,
            }
        },
        dataLabels: {
            enabled: true
        },
        title: {
            text: 'Income'
        },
        series: [{
            data: [{{overall_below_income}}, {{overall_average_income}}, {{overall_above_income}}]
        }],
        xaxis: {
            categories: [ 'Below in income', 'Average in income', 'Above in income' ],
        }
    }

    let options2 = {
        chart: {
            width: 660,
            type: 'pie',
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        title: {
            text: 'Income Percentage'
        },
        labels: ['Below in income', 'Average in income', 'Above in income'],
        series: [{{overall_below_income}}, {{overall_average_income}}, {{overall_above_income}}],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }

    let chart1 = new ApexCharts(
        document.querySelector("#chart-1"),
        options
    )
    let chart2 = new ApexCharts(
        document.querySelector("#chart-2"),
        options2
    )
    chart1.render()
    chart2.render()

</script>