{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="parentsearch">

                    <h4 class="page-title">Search Parent</h4>

                    <!-- START : SEARCH PARENT PANEL -->
                    <div class="card mt-4">
                        <div class="card-header">Search Parent</div>
                        <div class="card-body">
                            <form method="post">
                                <h6><strong>Search by Parent Details</strong></h6><br>
                                <div class="form-row">

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="gnic">NIC</label>
                                            <input type="text" class="form-control" name="gnic" value="{{ (form.field.gnic) ? form.field.gnic }}"/>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="gname">Name</label>
                                            <input type="text" class="form-control" name="gname" value="{{ (form.field.gname) ? form.field.gname }}"/>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="grelation">Relationship</label>
                                            <select class="form-control" name="grelation">
                                                <option value="" selected> - Select Relationship - </option>
                                                {% for relationship in student_relations %}
                                                    {% if form.field.grelation == relationship.id %}
                                                    <option value="{{ relationship.id }}" selected>{{ relationship.name }}</option>
                                                    {% else %}
                                                    <option value="{{ relationship.id }}">{{ relationship.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="ggen">Gender</label>
                                            <select class="form-control" name="ggen">
                                                <option value="" selected> - Select Gender - </option>
                                                {% if form.field.ggen == "Male" %}
                                                <option value="Male" selected>Male</option>
                                                <option value="Female">Female</option>
                                                {% elseif form.field.ggen == "Female" %}
                                                <option value="Male">Male</option>
                                                <option value="Female" selected>Female</option>
                                                {% else %}
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gcity">City</label>
                                            <select class="form-control" name="gcity">
                                                <option value="" selected> - Select City - </option>
                                                {% for city in cities %}
                                                    {% if form.field.gcity == city.name %}
                                                    <option value="{{ city.name }}" selected>{{ city.name }}</option>
                                                    {% else %}
                                                    <option value="{{ city.name }}">{{ city.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="goccu">Occupation</label>
                                            <select class="form-control" name="goccu">
                                                <option value="" selected> - Select Occupation - </option>
                                                {% for occupation in occupations %}
                                                    {% if form.field.goccu == occupation.name %}
                                                    <option value="{{ occupation.name }}" selected>{{ occupation.name }}</option>
                                                    {% else %}
                                                    <option value="{{ occupation.name }}">{{ occupation.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gincome">Monthly Income &gt;&equals; </label>
                                            <input type="number" class="form-control" name="gincome" value="{{ (form.field.gincome) ? form.field.gincome }}"/>
                                        </div>   
                                    </div>
                                </div>
                                <hr><h6><strong>Search by Student Details</strong></h6><br>
                                <div class="form-row">

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="saddno">Admission Number</label>
                                            <input type="number" class="form-control" name="saddno" value="{{ (form.field.saddno) ? form.field.saddno }}"/>
                                        </div>                                        
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="sname">Name</label>
                                            <input type="text" class="form-control" name="sname" value="{{ (form.field.sname) ? form.field.sname }}"/>
                                        </div>                                        
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="sclass">Class</label>
                                            <select class="form-control" name="sclass">
                                                    <option value="" selected> - Select Class - </option>
                                                    {% for class in classes %}
                                                        {% if form.field.sclass == class.id %}
                                                            <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                        {% else %}
                                                            <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                                        {% endif %}
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="sgrade">Grade</label>
                                            <select class="form-control" name="sgrade">
                                                    <option value="" selected> - Select Grade - </option>
                                                    {% for grade in grades %}
                                                       {% if form.field.sgrade == grade.id %}
                                                            <option value="{{ grade.id }}" selected> Grade - {{ grade.name }} </option>
                                                        {% else %}
                                                            <option value="{{ grade.id }}"> Grade - {{ grade.name }} </option>
                                                        {% endif %}
                                                    {% endfor %}
                                            </select>
                                        </div>                                        
                                    </div>

                                    <div class="col-12">
                                        <input type="hidden" name="isSubmited"/>
                                        <button class="btn btn-primary" type="submit">Search</button>
                                        <button class="btn btn-secondary" type="button" onclick="clearForm(this.form);">Clear</button>
                                    </div>
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- END : SEARCH PARENT PANEL -->

                    <!-- START : SEARCH RESULTS -->
                    <section class="mt-5">
                        <!-- START : SEARCH RESULT TABLE -->
                        {% if parents %}
                            <table id="table_parent_search" class="table table-hover table-responsive-md">
                                <caption> Search Results of parents </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th width="10%" class="text-center" scope="col">NIC</th>
                                        <th width="10%" class="text-center" scope="col">DoB</th>
                                        <th width="1%" class="text-center" scope="col">Gender</th>
                                        <th width="15%" class="text-center" scope="col">Occupation</th>
                                        <th width="10%" class="text-center" scope="col">Mobile</th>             
                                        <th width="10%" class="text-center" scope="col">City</th>                                 
                                        <th width="12%" class="text-center" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for parent in parents %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ parent.id }}</th>
                                            <td> {{ parent.name }}</td>
                                            <td> {{ parent.nic }}</td>
                                            <td class="text-center">{{ parent.dob }}</td>
                                            <td class="text-center">{{ parent.gender }}</td>
                                            <td class="text-center">{{ parent.occupation }}</td>
                                            <td class="text-center">{{ parent.mobile }}</td>
                                            <td class="text-center">{{ parent.city }}</td>                              
                                            <td class="text-right">
                                                <a href="{{ app.url }}/parents/profile/{{ parent.id }}"><button type="button" class="btn btn-sm btn-success"><i class="la la-user"></i> View Profile</button></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-bordered table-responsive-md">
                                <caption> Search Results of Parents </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">No records to display</td>
                                    </tr>
                                </thead>
                            </table>
                        {% endif %}
                        <!-- END : SEARCH RESULT TABLE -->
                    </section>
                    <!-- END : SEARCH RESULTS -->

                </div>
            </div>
        </div>
    </div>

    {{ template.footer|raw }}

    <script>
        // DATA TABLE
        $(document).ready(function() {
            $('#table_parent_search').DataTable();
        } );
        
        //  CLEAR FORM
        function clearForm(oForm) {
        
            var elements = oForm.elements; 
            
            oForm.reset();
        
            for(i=0; i<elements.length; i++) {
                
            field_type = elements[i].type.toLowerCase();
            
            switch(field_type) {
            
                case "text":
                case "number":
                case "date":
                case "time":
                case "password": 
                case "textarea":
                case "hidden":	

                    elements[i].value = ""; 
                    break;

                case "radio":
                case "checkbox":
                        if (elements[i].checked) {
                            elements[i].checked = false; 
                    }
                    break;
        
                case "select-one":
                case "select-multi":
                            elements[i].selectedIndex = -1;
                    break;
        
                default: 
                    break;
            }

            location.replace(location);
            }
        }

    </script>

</body>