{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="parentsearch">

                    <h4 class="page-title">View Staff</h4>

                    <!-- START : SEARCH PARENT PANEL -->
                    <div class="card mt-4">
                        <div class="card-header">Search Parent</div>
                        <div class="card-body">
                            <form method="post">
                                <h6><strong>Search by Parent Details</strong></h6><br>
                                <div class="form-row">

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="gnic">NIC</label>
                                            <input type="text" class="form-control" id="gnic"/>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="gname">Name</label>
                                            <input type="text" class="form-control" id="gname"/>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="grelation">Relationship</label>
                                            <select class="form-control" id="grelation">
                                                <option selected disabled> - Select Relationship - </option>
                                                {% for relationship in student_relations %}
                                                    <option value="{{ relationship.id }}">{{ relationship.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="ggen">Gender</label>
                                            <select class="form-control" id="ggen">
                                                <option selected disabled> - Select Gender - </option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gcity">City</label>
                                            <select class="form-control" id="gcity">
                                                <option selected disabled> - Select City - </option>
                                                {% for city in cities %}
                                                    <option value="{{ city.name }}">{{ city.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="goccu">Occupation</label>
                                            <select class="form-control" id="goccu">
                                                <option selected disabled> - Select Occupation - </option>
                                                {% for occupation in occupations %}
                                                    <option value="{{ occupation.name }}">{{ occupation.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="gpos">Position</label>
                                            <select class="form-control" id="gpos">
                                                <option selected disabled> - Select Position - </option>
                                                {% for position in positions %}
                                                    <option value="{{ position.name }}">{{ position.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="ginc">Annual Income &gt; </label>
                                            <input type="number" class="form-control" id="ginc"/>
                                        </div>   
                                    </div>
                                </div>
                                <hr>
                                <h6><strong>Search by Student Details</strong></h6>
                                <br>
                                <div class="form-row">

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="addno">Admission Number</label>
                                            <input type="number" class="form-control" id="addno"/>
                                        </div>                                        
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name"/>
                                        </div>                                        
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="class">Class</label>
                                            <select class="form-control" id="class">
                                                    <option selected disabled> - Select Class - </option>
                                                    {% for class in classes %}
                                                        <option value="{{ class.id }}">{{ class.grade.name }} - {{ class.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="grade">Grade</label>
                                            <select class="form-control" id="grade">
                                                    <option selected disabled> - Select Grade - </option>
                                                    {% for grade in grades %}
                                                        <option value="{{ grade.id }}">{{ grade.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>                                        
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="sport">Sport</label>
                                            <select class="form-control" id="sport">
                                                    <option selected disabled> - Select sport - </option>
                                                    {% for sport in sports %}
                                                        <option value="{{ sport.id }}">{{ sport.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="religion">Religion</label>
                                            <select class="form-control" id="religion">
                                                    <option selected disabled> - Select Religion - </option>
                                                    {% for religion in religions %}
                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                    {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary mt-3 px-5" type="submit"> Search </button>
                                    </div>
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                    <!-- END : SEARCH PARENT PANEL -->

                </div>
            </div>
        </div>
    </div>

{{ template.footer|raw }}
</body>