:root{
    --main-bg-color: #333333;
    --main-text-color: #98A6AD;
    --sub-text-color: #6C757D;
    --sidenav-main-text-color: #ffffff;
    --sidenav-sub-text-color: #CEDCE4;
    --footer-bg-color: #333333;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  
/* CSS of common/footer */
.footer{
    background-color: var(--footer-bg-color);
    color: var(--main-text-color);
    font-size: 80%
}


/* CSS of common/sidenav */
.sidenav{
    padding-left: 0%;
    margin: 0%;
}

.sidenav li{
    cursor: pointer;
    list-style: none;  
}

.sidenav li a{
    text-decoration: none;
    color: var(--nav-sub-text-color);
}

.sidenav li.main-menu{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 18px;
    color: var(--sidenav-sub-text-color);
    display: flex;
    align-items: center;
}

.sidenav li.main-menu a{
    display: flex;
    align-items: center;
}

.sidenav li.main-menu:hover{
    color: var(--sidenav-main-text-color);
}

.sidenav .main-menu .la{
    font-size: 30px;
}

.sidenav #dashboard{
    background-color: rgba(255,255,255,0.1)
}

.sidenav li.sub-menu{
   
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    font-size: 16px;
    color: var(--sidenav-sub-text-color);
}

.sidenav li.sub-menu a{
    display: flex;
    align-items: center;
}

.sidenav li.sub-menu:hover{
    color: var(--sidenav-main-text-color);
}

.sidenav .sub-menu .la{
    font-size: 20px;
}


/* CSS of home/index */
.home .left-pane{
    background-image: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    height: 100vh;
    padding: 0%;
    overflow-y: auto;
    overflow-x: hidden;
}

.home .left-pane .logo{
    height: 15vh;
}

.home .content{
    overflow-y: auto;
}


/* CSS of login/index */
.login{
    background-image: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login h1{
    color: #ffffff;
    
}

.login h2{
    color: #cccccc;
}







  
  
  
  