/* site */
:root{
    --main-theme-color: #727cf5;
    --main-bg-color: #e6e6e65b;
    --sub-theme-color: #8f75da;
    --main-text-color: #6c6c6c;
    --sub-text-color: #b8c9d1;
    --sidenav-sub-text-color: #CEDCE4;
    --footer-bg-color: #333333;
}

body{
    cursor: default;
    font-size: 1rem;
}

.content{
    overflow-y: auto;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.btn-outline-theme-primary{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border-color: var(--sub-theme-color);
}

.btn-outline-theme-primary:hover{
    color: var(--white);
    background-color: var(--sub-theme-color);
    border-color: var(--sub-theme-color);
}

.hrsearch{
    display: block; 
    height: 1rem;
    border: 0; 
    border-top: 0.05rem solid var(--sub-theme-color);
    margin: 2rem 0rem 2rem 0rem; 
    padding: 0;
}

.page-title{
    color: var(--main-text-color);
    margin-top: 1rem;
}

.table{
    background-color: var(--white);
}

.table thead th{
    border: 0rem;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 0.7rem;
  }
  
  /* Track */
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b9b8bb5b; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.596); 
  }


/* attendance */
/* attendance/index */
.attendanceindex{
    padding: 1rem;
  }

.attendanceindex .card{
    border: 0rem;
}

.attendanceindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}


/* attendance/mark */
.attendancemark{
    padding: 1rem;
}

.attendancemark .attendancefilter{
    padding-top: 2rem;
}

/* attendance/search */
.attendancesearch{
    padding: 1rem;
}

.attendancesearch .attendancefilter{
    padding-top: 2rem;
}



/* common  */
/* common/footer */
.footer{
    background-color: var(--footer-bg-color);
    color: var(--sub-text-color);
    font-size: 80%
}
/* common/topmenu */
.topmenu{
    font-weight: bold;
    height: 7vh;
    color: var(--sub-theme-color);
    background-color: var(--white);
    padding: 1rem;
}

.topmenu .title{
    text-align: left;
}

.topmenu .time{
    text-align: center;
}

.topmenu .notifications{
    cursor: pointer;
    padding-right: 2rem;
}

.topmenu .settings{
    cursor: pointer;
    padding-right: 3rem;
}


.topmenu i{
    font-size: 2rem;
}

.topmenu .notifications p{
    color: var(--main-theme-color);
}

.topmenu .settings .dropdown-menu .dropdown-item{
    color: var(--main-theme-color);
}

.topmenu .settings .dropdown-menu .dropdown-item:hover{
    font-weight: bold;
    color: var(--sub-theme-color);
    
}

/* common/sidenav */
.left-pane{
    background-image: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    height: 100vh;
    padding: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.left-pane .logo{
    height: 25vh;
    text-align: center;
}

.left-pane .logo .sidenavusername{
    color: var(--white);
}

.left-pane .logo .sidenavuserhr{
    color: var(--footer-bg-color);
    width: 90%;
}

.sidenav{
    padding: 0rem 0rem 3rem 0rem;
    margin: 0%;
}

.sidenav li{
    cursor: pointer;
    list-style: none;  
}

.sidenav li a{
    text-decoration: none;
    color: var(--nav-sub-text-color);
}

.sidenav li.main-menu{
    font-size: 1.1rem;
    color: var(--sidenav-sub-text-color);
    display: flex;
    align-items: center;
}

.sidenav .main-menu :hover{
    color: var(--white);
}

.sidenav li.main-menu .col-md-9{
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin: 0%;
}

.sidenav li.main-menu .col-md-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin: 0%;
}

.sidenav li.main-menu a{
    display: flex;
    align-items: center;
}

.sidenav .main-menu .la{
    font-size: 1.8rem;
}

.sidenav .main-menu .la-angle-down{
    font-size: 1rem;
    float: right;
    padding-right: 1rem;
}

.sidenav #dashboard{
    padding: 1rem 0rem 1rem 1rem;
    background-color: rgba(255,255,255,0.1);
}

.sidenav li.sub-menu{
    padding: 0.7rem 0rem 0.7rem 1rem;
    font-size: 1rem;
    color: var(--sidenav-sub-text-color);
}

.sidenav li.sub-menu a{
    display: flex;
    align-items: center;
}

.sidenav li.sub-menu:hover{
    color: var(--white);
}

.sidenav .sub-menu .la{
    font-size: 1.5rem;
}

/* exam */
/* exam/index */
.examindex{
    padding: 1rem;
}

.examindex .card{
    border: 0px;
}

.examindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}


/* exam/search */
.examsearch{
    padding: 1rem;
}


/* exam/create */
.examcreate{
    padding: 1rem;
}



/* home */
/* home/index */
.homeindex{
    padding: 1rem;
}



/* parent */
/* parent/index */
.parentindex{
    padding: 1rem;
}


/* parent/search */
.parentsearch{
    padding: 1rem;
}

.parentsearch .search-filter{
    padding: 5rem 15rem 5rem 15rem;
}


/* parent/add */
.parentadd{
    padding: 1rem;
}

.parentadd .parentaddform{
    padding: 5rem 15rem 5rem 15rem;
}

.parentadd .card{
    margin-bottom: 1rem;
}
 
.parentadd .card .card-header{
    cursor: pointer;
    color: var(--white);
    background-color: var(--sub-theme-color);
    border-radius: .25rem;
}



/* login */
/* login/index */
.login{
    background-image: linear-gradient(135deg,#8f75da 0,#727cf5 60%);
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.login .title{
    position: static;
}

.login .loginform{
    position: static;
}

.login .title h1{
    color: var(--white);
    
}

.login .title h2{
    color: var(--sub-text-color);
}



/* result */
/* result/index */
.resultindex{
    padding: 1rem;
}


/* result/search */
.resultsearch{
    padding: 1rem;
}


/* result/add */
.resultadd{
    padding: 1rem;
}



/* staff */
/* staff/index */
.staffindex{
    padding: 1rem;
}


/* staff/search */
.staffsearch{
    padding: 1rem;
}

.staffsearch .staffsearchfilter{
    background-color: var(--white);
    margin: 2rem 10rem 3rem 10rem;
    padding: 3rem 5rem 3rem 5rem;
    border: 0rem;
    text-align: center;
}

.staffsearch .staffsearchheading{
    color: var(--white);
    background-color: var(--sub-theme-color);
    padding: 1%;
    text-align: center;
}

.staffsearch .staffsearchfilter input{
    text-align: center;
}


/* staff/add */
.staffadd{
    padding: 5rem 15rem 5rem 15rem;
}

.staffadd form{
    display: contents;
}

.staffadd .card{
    margin-bottom: 1rem;
}
 
.staffadd .card .card-header{
    cursor: pointer;
    color: var(--white);
    background-color: var(--sub-theme-color);
    border-radius: .25rem;
}

.staffadd .form-control {
    color:var(--sub-text-color);
}



/* student */
/* student/index */
.stuindex{
    padding: 1rem;
}

.stuindex .card{
    border: 0rem;
}

.stuindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}


/* student/search */
.stusearch{
    padding: 1rem;
}

.stusearch .stusearchfilter{
    margin: 3rem 10rem 3rem 10rem;
    padding: 3rem 5rem 3rem 5rem;
    background-color: var(--white);
    border: 0rem;
    text-align: center;
}

.stusearch .stusearchheading{
    color: var(--white);
    background-color: var(--sub-theme-color);
    padding: 1rem;
    text-align: center;
}

.stusearch .stusearchfilter input{
    text-align: center;
}


/* student/add */
.stuadd{
    padding: 4rem 10rem 4rem 10rem;
}

.stuadd form{
    display: contents;
}

.stuadd .card{
    margin-bottom: 1rem;
}
 
.stuadd .card .card-header{
    cursor: pointer;
    color: var(--white);
    background-color: var(--sub-theme-color);
    border-radius: .25rem;
}

/* timetable */
/* timetable/index */
.timetableindex{
    padding: 1rem;
}

/* timetable/search */
.timetablesearch{
    padding: 1rem;
}


/* timetablecreate */
.timetablecreate{
    padding: 1rem;
}



/* user */
/* user/index */
.userindex{
    padding: 1rem;
}

.userindex .card{
    border: 0rem;
}

.userindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}



/* user/search */
.usersearch{
    padding: 10rem 20rem 5rem 20rem;
}

.usersearch .usersearchfilter{
    background-color: var(--white);
    padding: 4rem;
    border: 0.05rem solid var(--sub-theme-color);
    text-align: center;
}

.usersearch .usersearchheading{
    color: var(--white);
    background-color: var(--sub-theme-color);
    padding: 1rem;
    text-align: center;
}

.usersearch .usersearchfilter input{
    text-align: center;
}


/* user/add */
.useradd{
    padding: 5rem 20rem 5rem 20rem;
}

.useraddpanel{
    background-color: var(--white);
    color: var(--main-text-color);
    text-align: center;
    border: 0.05rem solid var(--sub-theme-color);
}

.usercreateheading{
    color: var(--white);
    background-color: var(--sub-theme-color);
    padding: 1rem;
}

.usercreatebody{
    padding: 4rem 6rem 4rem 6rem;
}

.usercreatebody input{
   text-align: center;
}