@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url("../fonts/ubuntu.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.text-capitalize{
    text-transform: uppercase;
}


body{
    cursor: default;
    font-size: 1rem;
    font-family: 'Ubuntu';
    font-size: 15px;
    font-weight: 400;
}

.digital-clock {
    text-align: center;
  }

.content{
    overflow-y: auto;
    margin-left: 16.666667%;
}

/* TOGGLE OVERRIDE */
.toggle.btn {
    width: 100%!important;
}


/* COMPONENT STYLES : START */
.hrsearch{
    display: block; 
    height: 1rem;
    border: 0; 
    border-top: 0.05rem solid var(--sub-theme-color);
    margin: 2rem 0rem 2rem 0rem; 
    padding: 0;
}

h4.page-title{
    margin-top: 0;
}

h5.page-title{
    margin-top: 1rem;
}

.table thead th{
    border: 0rem;
}


/* BOOTSTRAP SELECT VALIDATION */
.bootstrap-select.checked-subject .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle{
    border: 0px;
    background-color: #838383;
    color: #FFFFFF !important;
}

.bootstrap-select.checked-staff .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle{
    border: 0px;
    background-color: #a3a3a3;
    color: #FFFFFF !important;
}

.bootstrap-select.valid .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle {
    border: 0px;
    background-color: rgb(111, 201, 111);
    color: #FFFFFF;
}

.bootstrap-select.invalid .dropdown-toggle, .was-validated .bootstrap-select .selectpicker:valid+.dropdown-toggle {
    border: 0px;
    background-color: rgb(216, 117, 117);
    color: #FFFFFF;
}


/* Bootstrap Checkbox */
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }

/* ScrollBar */
::-webkit-scrollbar {
    width: 0.7rem;
  }



/* common  */
/* common/footer */
.footer{
    font-size: 80%
}

/* common/topmenu */
.topmenu{
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topmenu .heading-link{
    text-decoration: none;
}

.topmenu .title{
    text-align: left;
}

.topmenu .time{
    text-align: center;
}

.topmenu .messages{
    cursor: pointer;
}

.topmenu .messages .dropdown-menu{
    margin: 1rem;
}

.topmenu .messages .dropdown-menu i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.topmenu .notifications{
    cursor: pointer;
}

.topmenu .notifications .dropdown-menu{
    margin: 1rem;
    width: 40%;
    max-height: 20%;
    overflow: hidden;
    overflow-y: auto;
}

.topmenu .notifications .dropdown-menu i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.164);
    font-size: 1rem;
    padding-bottom: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each .title{
    font-size: 1rem;
    font-weight: 500;
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each .text{
    font-size: 0.8rem;
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each i.la{
    font-size: 1rem;
    margin: 0;
}

.topmenu .settings{
    cursor: pointer;
    text-decoration: none;
}

.topmenu i{
    font-size: 1.6rem;
    margin-left: 2rem;
}

.topmenu .settings .dropdown-menu i{
    font-size: 1.5rem;
    margin: 0px;
    margin-right: 1rem;
}

/* common/sidenav */
.left-pane{
    /* background-image: linear-gradient(135deg,#8f75da 0,#727cf5 60%); */
    height: 100vh;
    padding: 0rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 1000;
}

.left-pane .logo{
    height: 25vh;
    text-align: center;
}

.left-pane .logo .sidenavusername a{
    text-decoration: none;
    color: var(--white);
}

.left-pane .logo .sidenavusername a:hover{
    color: var(--main-text-color);
}

.hrsidenav{
    display: block;
    width: 80%; 
    height: 1rem;
    border: 0; 
    border-top: 0.05rem solid var(--sub-text-color);
    margin: 2rem 0rem 1rem 0rem; 
    padding: 0rem;
}

.sidenav{
    padding: 0rem 0rem 3rem 0rem;
    margin: 0%;
}

.sidenav li{
    cursor: pointer;
    list-style: none;  
}

.sidenav li a{
    text-decoration: none;
}

.sidenav li.main-menu{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.sidenav .main-menu .la {
    margin-right: 15px;
}

.sidenav li.main-menu .col-md-9{
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin: 0%;
}

.sidenav li.main-menu .col-md-3{
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    margin: 0%;
}

.sidenav li.main-menu a{
    display: flex;
    align-items: center;
}

.sidenav .main-menu .la{
    font-size: 1.6rem;
}

.sidenav .main-menu .la-angle-down{
    font-size: 1rem;
    float: right;
    padding-right: 1rem;
}

.sidenav ul {
    padding-left: 0;
}

.sidenav li.sub-menu{
    padding: 10px;
    padding-left: 50px;
    font-size: 15px;
}

.sidenav li.sub-menu .la {
    font-size: 20px;
    margin-right: 15px;
}

.sidenav li.sub-menu a{
    display: flex;
    align-items: center;
}

.sidenav .sub-menu .la{
    font-size: 1.5rem;
}