/* student */
/* student/index */
.stuindex{
    padding: 4rem;
}


/* student/search */
.stusearch{
    padding: 4rem;
}


/* student/add */
.stuadd{
    padding: 4rem;
}

.stuadd form{
    display: contents;
}

.stuadd .card{
    margin-bottom: 1rem;
}

/* student/profile */
.stuprofile{
    padding: 4rem;
}

.stuprofile img.avatar {
	width: 50px;
}

.stuprofile .card-body .nav.nav-pills {
	border-bottom: solid 1px #ececec;
}

.stuprofile .card-body .nav.nav-pills .nav-link {
	border-radius: 0;
}

.stuprofile .card-body .nav.nav-pills a.nav-link {
	color: #a0a0a0;
}

.stuprofile .card-body .nav.nav-pills .nav-link.active,.stuprofile .card-body .nav.nav-pills .nav-pills .show>.nav-link {
	background: #FFFFFF;
}

.stuprofile .card-body .nav.nav-pills .nav-link.active {
	border-bottom: solid 2px #727cf5;
}


.stuprofile .card-body .nav.nav-pills a.nav-link.active {
	color: #727cf5;
}
