.messagesinbox , .messagessingle{
	padding: 4rem;
}

.messagesinbox a {
	text-decoration: none;
	color: inherit;
}

.messagesinbox li.list-group-item a {
	display: flex;
	align-items: center;
}

.messagesinbox li.list-group-item:hover {
	cursor: pointer;
	background: #ECECEC;
}

.messagesinbox li.list-group-item img.avatar {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 25px;
}

.messagesinbox li.list-group-item .body h5 {
	font-size: 15px;
	color: #2d2d2d;
}

.messagesinbox li.list-group-item .body p {
	font-size: 13px;
	margin-bottom: 0;
}

.messagesinbox .btn {
	cursor: pointer;
}

.messagessingle .card .card-header {
	/* display: flex; */
	color: #8f75da;
	align-items: center;
	border-bottom: solid 1px #ECECEC;
}

.messagessingle .card .card-header :hover {
	text-decoration: none;
}

.messagessingle .card .card-header img.avatar {
	width: 45px;
	height: 45px;
	border-radius: 100%;
	margin-right: 25px;
}

.messagessingle .card .card-header h5 {
	margin-bottom: 0;
	color: #8f75da;
}

.messagessingle .card .card-body {
	height: 45vh;
	overflow-x: hidden;
	overflow-y: auto;
	border: 0rem;
}

.messagessingle .single-msg img.avatar {
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.messagessingle .single-msg .media-body {
	/* background-image: linear-gradient(90deg,#8f75da,#727cf5 30%); */
	background: #727cf5;
	/* background: #efefef; */
	padding: 0.5rem 1rem 0.5rem 1rem;
	border-radius: 2rem;
	margin-bottom: 1rem;
	color: #FFF;
}

.messagessingle .single-msg.incoming .media-body {
	/* background-image: linear-gradient(90deg,#8f75da,#727cf5 70%); */
	background: #8f75da;
	color: #FFF;
}

.messagessingle .single-msg p {
	font-size: 14px;
	margin-bottom: 0;
}

.messagessingle .card .card-footer {
	border: 0rem;
}
