/* health */
/* health/index */
.healthindex{
    padding: 4rem;
}


/* health/search */
.healthsearch{
    padding: 4rem;
}


/* health/add */
.healthadd{
    padding: 4rem;
}



/* home */
/* home/index */
.homeindex{
    padding: 4rem;
}