 
/* attendance */
/* attendance/index */
.attendanceindex{
    padding: 4rem;
  }


/* attendance/mark */
.attendancemark{
    /*padding: 1rem;*/
    padding: 4rem;
}

.attendancemark .attendancefilter{
    padding-top: 2rem;
}

/* attendance/search */
.attendancesearch{
    /*padding: 1rem;*/
    padding: 4rem;
}

.attendancesearch .attendancefilter{
    padding-top: 2rem;
}
