/* student */
/* student/index */
.stuindex{
    padding: 4rem;
}


/* student/search */
.stusearch{
    padding: 4rem;
}


/* student/add */
.stuadd{
    padding: 4rem;
}

.stuadd form{
    display: contents;
}

.stuadd .card{
    margin-bottom: 1rem;
}