/* Sport */
/* Sport/index */
.sportindex{
    padding: 4rem;
}


/* Sport/search/student */
.sportsearchstudent{
    padding: 4rem;
}

/* Sport/search/coach */
.sportsearchcoach{
    padding: 4rem;
}


/* Sport/assign */
.sportassign{
    padding: 4rem;
}


/* Sport/add */
.sportadd{
    padding: 4rem;
}