/* staff */
/* staff/index */
.staffindex{
    padding: 4rem;
}


/* staff/search */
.staffsearch{
    padding: 4rem;
}


/* staff/add */
.staffadd{
    padding: 4rem;
}

.staffadd form{
    display: contents;
}

.staffadd .card{
    margin-bottom: 1rem;
}


/* staff/profile */
.staffprofile{
    padding: 4rem;
}

.staffprofile img.avatar {
	width: 50px;
}

.staffprofile .card-body .nav.nav-pills {
	border-bottom: solid 1px #ececec;
}

.staffprofile .card-body .nav.nav-pills .nav-link {
	border-radius: 0;
}

.staffprofile .card-body .nav.nav-pills a.nav-link {
	color: #a0a0a0;
}

.staffprofile .card-body .nav.nav-pills .nav-link.active,.staffprofile .card-body .nav.nav-pills .nav-pills .show>.nav-link {
	background: #FFFFFF;
}

.staffprofile .card-body .nav.nav-pills .nav-link.active {
	border-bottom: solid 2px #727cf5;
}


.staffprofile .card-body .nav.nav-pills a.nav-link.active {
	color: #727cf5;
}
