/* exam */
/* exam/index */
.examindex{
    padding: 4rem;
}


/* exam/search */
.examsearch{
    padding: 4rem;
    padding-bottom: 0;
}

.examschedule{
    padding: 4rem;
    padding-top: 0;
}


/* exam/create */
.examcreate{
    padding: 4rem;
}