/* staff */
/* staff/index */
.staffindex{
    padding: 4rem;
}

.staffindex .card{
    border: 0px;
}

.staffindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}


/* staff/search */
.staffsearch{
    padding: 4rem;
}


/* staff/add */
.staffadd{
    padding: 4rem;
}

.staffadd form{
    display: contents;
}

.staffadd .card{
    margin-bottom: 1rem;
}