/* timetable */
/* timetable/index */
.timetableindex{
    padding: 4rem;
}

/* timetable/search */
.timetablesearch{
    padding: 4rem;
}


/* timetablecreate */
.timetablecreate{
    padding: 4rem;
}