/* user */
/* user/index */
.userindex{
    padding: 4rem;
}


/* user/search */
.usersearch{
    padding: 4rem;
}


/* user/add */
.useradd{
    padding: 4rem;
}

/* user/permission */
.userpermission{
    padding: 4rem;
}

