/* result */
/* result/index */
.resultindex{
    padding: 4rem;
}

.resultindex .card{
    border: 0px;
}

.resultindex .card-header{
    color: var(--sub-theme-color);
    background-color: var(--white);
    border: 0rem;
    font-weight: bold;
}

/* result/search */
.resultsearch{
    padding: 4rem;
}


/* result/add */
.resultadd{
    padding: 4rem;
}

.resultadd .card{
    margin-bottom: 1rem;
}