/* school */
/* school/index */
.schoolindex{
    padding: 4rem;
}

.schoolindex .card {
    margin-bottom: 25px;;
}

.schoolindex .card .card-body {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}