/* site */
:root{
    --main-theme-color: #727cf5;
    --main-bg-color: #e6e6e65b;
    --sub-theme-color: #8f75da;
    --main-text-color: #646363d3;
    --sub-text-color: #979797;
    --sidenav-sub-text-color: #CEDCE4;
    --footer-bg-color: #333333; 
}

.digital-clock {
    color: #ffffff;
    text-shadow: 0 0 1px #ff0;
}

.content{
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

.table{
    background-color: var(--white);
}

.card{
    border : 0px;
}

.card .card-header{
    color: var(--main-theme-color);
    background: var(--white);
    border: 0rem;
}

.chart-bg{
    background-color: var(--white);
}

/* SCROLLBAR */
/* Track */
/* Handle */
::-webkit-scrollbar-thumb {
    background: #b9b8bb5b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 179, 179, 0.596);
    /* background : var(--main-theme-color); */
}


/* BOOTSTRAP SELECT STYLE */
.btn-light {
    color: #495057 !important;
    background-color: #FFFFFF;
    border: 1px solid #ced4da !important;
}

/* common  */
/* common/footer */
.footer{
    background-color: var(--footer-bg-color);
    color: var(--sub-text-color);
}

/* common/topmenu */

.topmenu{
    color: var(--white);
    background: var(--main-theme-color);
    background-image: linear-gradient(145deg,#8f75da,#727cf5 70%);
}

.topmenu .heading-link{
    color: var(--white);
}

.topmenu .messages .dropdown-menu{
    background-color: var(--main-theme-color);
    color: var(--white);
}

.topmenu .notifications .dropdown-menu{
    background-color: var(--main-theme-color);
    color: var(--white);
}

.topmenu .notifications ul.list-group li.list-group-item.notification-unread {
    /* background:#ffffff1e; */
    background-color: var(--sub-theme-color);
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each:hover {
    background-color: var(--main-text-color);
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each i.mark-read:hover {
    font-weight: 600;
    color: #be9d2e;
}

.topmenu .notifications ul.list-group li.list-group-item.notification-each i.mark-delete:hover {
    font-weight: 400;
    color: #c03b3b;
}

.topmenu .settings .dropdown-menu{
    background-color: var(--main-theme-color);
}

.topmenu .settings .dropdown-menu .dropdown-item{
    color: var(--white);
}

.topmenu .settings .dropdown-menu .dropdown-item:hover{
    background: #ffffff2d;
    
}

/* common/sidenav */
.left-pane{
    /* background: var(--main-theme-color); */
    background-image: linear-gradient(145deg,#8f75da 20%,#727cf5);
    
}

.left-pane .logo .sidenavusername{
    color: var(--white);
}


.sidenav li a{
    color: var(--nav-sub-text-color);
}

.sidenav li.main-menu{
    /*color: var(--sidenav-sub-text-color);*/
    color: var(--white);
}

.sidenar li.main-menu.active {
    background: var(--white);
}

.sidenav .main-menu:hover{
    background: #ffffff2d;
}

.sidenav li.sub-menu{
    color: var(--white);
    background: #ffffff11;
}

.sidenav li.sub-menu:hover{
    background: #ffffff2d;
}