<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8" />
	<title>{{ app.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="shortcut icon" type="image/x-icon" href="{{ app.url }}/themes/{{ app.theme }}/assets/img/favicon.ico" />

	<!-- LIBS : CSS / LA -->
	<link rel="stylesheet" type="text/css" href="{{ app.url }}/themes/{{ app.theme }}/assets/libs/bts/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ app.url }}/themes/{{ app.theme }}/assets/libs/la/css/line-awesome.min.css" />

	<!-- TEMPUS DOMINUS DATETIME PICKER -->
	<link rel="stylesheet" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/tempusdominus-bootstrap-4.min.css" />

	<!-- bootstrap toggle -->
	<link rel="stylesheet" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/bootstrap-toggle.min.css" >


	<!-- ALERTIFY -->
	<link rel="stylesheet" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/alertify.min.css"/>
	<link rel="stylesheet" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/alertify.default.min.css"/>
	<link rel="stylesheet" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/bootstrap-select.min.css" />

	<!-- CSS : LOCAL -->
	<link rel="stylesheet" type="text/css" href="{{ app.url }}/themes/{{ app.theme }}/assets/css/core.css" />

{% for style in styles %}
	<!-- CSS : CUSTOM -->
	<link rel="stylesheet" type="text/css" href="{{ style }}" />
{% endfor %}

{% for meta in metas %}
	<!-- OG TAGS -->
	<meta name="{{ meta.name }}" content="{{ meta.content }}" />
{% endfor %}

</head>