{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="attendanceindex">

                    <!-- START : ATTENDANCE SUMMARY  -->
                    <section class="attendaceview">

                        <h4 class="page-title">Attendance Summary</h4>

                        <div class="row mt-5">
                            <!-- STUDENT SUMMARY -->
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-header">
                                        Total Students
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ student.total.all }}</h5>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ student.total.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ student.total.female }}
                                        </p>
                                        <a href="{{ app.url}}/student/index" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="card">
                                    <div class="card-header">
                                        Today <span class="text-success">Attendance</span> / <span class="text-danger">Absence</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="text-success">{{ student.attendance.all }}</span> / <span class="text-danger">{{ student.absent.all }}</span></h5>
                                        <p class="card-text">
                                            Male - <span class="text-success"> <i class="la la-male"></i> {{ student.attendance.male }}</span> / <span class="text-danger">{{ student.absent.male }}</span><br/>
                                            Female - <span class="text-success"> <i class="la la-female"></i> {{ student.attendance.female }}</span> / <span class="text-danger"> {{ student.absent.female }}</span>
                                        </p>
                                        <a href="{{ app.url}}/attendance/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>
                            </div>

                            <!-- STAFF SUMMARY -->
                            <div class="col-3 {% if permission.level == 'admin' %}d-none{% endif %}"> <!-- HANDLE PERMISSION !PERMISSION-->
                                <div class="card">
                                    <div class="card-header">
                                        Total Staff
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ staff.total.all }}</h5>
                                        <p class="card-text">l
                                            Male -  <i class="la la-male"></i> {{ staff.total.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ staff.total.female }}
                                        </p>
                                        <a href="{{ app.url}}/staff/index"> <span class="btn btn-xs btn-primary p-2">view details </span> </a>
                                    </div>
                                </div>
                            </div> 
            
                            <div class="col-3">
                                <div class="card">
                                    <div class="card-header">
                                        Today <span class="text-success">Attendance</span> / <span class="text-danger">Absence</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="text-success">{{ staff.attendance.all }}</span> / <span class="text-danger">{{ staff.absent.all }}</span></h5>
                                        <p class="card-text">
                                            Male - <span class="text-success"> <i class="la la-male"></i> {{ staff.attendance.male }}</span> / <span class="text-danger">{{ staff.absent.male }}</span><br/>
                                            Female - <span class="text-success"> <i class="la la-female"></i> {{ staff.attendance.female }}</span> / <span class="text-danger">{{ staff.absent.female }}</span>
                                        </p>
                                        <a href="{{ app.url}}/attendance/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- END : ATTENDANCE SUMMARY  -->

                    <!-- START : CLASS VIEW ATTENDANCE -->
                    <section class="class-attendance-chart mt-5">

                        <!-- TITLE -->
                        <h4 class="page-title mb-4">Class Attendance</h4>

                        <div class="col-12">
                            <div class="row">
                                <div class="col chart-bg pt-3" id="chart-1"></div>
                            </div>
                        </div>

                    </section>
                    <!-- END : CLASS VIEW ATTENDANCE -->

                    <!-- START : ABSENT STAFF  -->
                    <section class="absentstaff mt-5">

                        <h4 class="page-title"> Today Absent Staff </h4>

                        <div class="absentstaff-table mt-4">

                            <table id="table_staff_absent" class="table table-hover table-responsive-md">

                                <caption>Absent Staff List</caption>
                                
                                <thead class="thead-dark">
                                    <th scope="col"> Staff ID </th>
                                    <th scope="col"> Name </th>
                                    <th scope="col"> Teacher in Charge Class </th>
                                    <th scope="col"> Subjects </th>
                                </thead>

                                <tbody>
                                    <th scope="col"> 1 </th>
                                    <td> Mr.ABC </td>
                                    <td> 6A </td>
                                    <td> Maths </td>
                                </tbody>

                            </table>

                        </div>

                    </section>
                    <!-- END : ABSENT STAFF  -->
                    
                </div>
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>
    // DATA TABLE
    $(document).ready(function() {
        $('#table_staff_absent').DataTable();
    } );

    // APEX CHARTS
    let options = {
        chart: {
            height: 500,
            type: 'bar',
        },
        plotOptions: {
            bar: {
                horizontal: false,
            }
        },
        dataLabels: {
            enabled: true
        },
        series: [{
            data: [{% for class in classes %} {{ class.present }},{% endfor %}]
        }],
        xaxis: {
            categories: [ {% for class in classes %} '{{ class.name }}',{% endfor %} ],
        }
    }

    let chart1 = new ApexCharts(
        document.querySelector("#chart-1"),
        options
    )

    chart1.render()

</script>