{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="attendancemark">

                    <h4 class="page-title">Mark Attendance</h4>

                    <!-- START : ATTENDANCE FILTER -->
                    <div class="attendancefilter">
                    
                        <form name="form-mark-attendance" method="post">

                            <div class="form-row">

                                <div class="col-md-6">
                                    <div class="form-row">

                                        <div class="form-group col-sm-3 mr-2">
                                            <label for="addno">ID Number</label>
                                            {% if form.field.addno %}
                                            <input type="number" class="form-control" name="addno" value="{{ form.field.addno }}"/>
                                            {% else %}
                                            <input type="number" class="form-control" name="addno"/>
                                            {% endif %}
                                        </div>

                                        <div class="form-group col-sm-6">
                                            <label for="name">Name</label>
                                            {% if form.field.name %}
                                                <input type="text" class="form-control" name="name" value="{{ form.field.name }}"/>
                                            {% else %}
                                                <input type="text" class="form-control" name="name"/>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-row pull-right">

                                        <div class="form-check form-check-inline mr-3">
                                            <label class="form-check-label" for="name">Staff</label>
                                            <input class="form-check-input" id="inpt-toggle-staff" type="checkbox" name="isStaff" data-toggle="toggle" data-style="ios" data-on="Yes" data-off="No" {{ (form.field.isStaff) ? 'checked' : '' }} />
                                        </div>

                                        <div class="form-group mr-3">
                                            <label for="class">Class</label>
                                            <select class="form-control" id="input-select-class" name="class" required {{ (form.field.isStaff) ? 'disabled' : '' }}>
                                                {% for class in student_class %}
                                                    <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="date">Select Date</label>
                                            {% if form.field.date %}
                                                <input type="date" class="form-control" name="date" value="{{ form.field.date }}" required/>
                                            {% else %}
                                                <input type="date" class="form-control" name="date" required/>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>

                            </div>
                            
                            <div class="form-row">
                                <div class="form-group ml-auto mr-1">
                                    <input type="hidden" name="isSubmited" value="true" />
                                    <button class="btn btn-primary" type="submit"> Go </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- END : ATTENDANCE FILTER -->

                    <!-- START : ATTENDANCE ADD TABLE -->
                    <div class="attendance-add-table">
                        <table class="table table-hover table-responsive-md">

                            <thead class="thead-dark">
                                <tr>
                                    <th width="10%" class="text-center" scope="col">Admission No</th>
                                    <th width="10%" class="text-center" scope="col">Index No</th>
                                    <th width="10%" class="text-center" scope="col">Gender</th>
                                    <th class="text-center" scope="col">Name</th>
                                    <th width="20%" class="text-center" scope="col">Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% if search.students %}
                                    {% for student in search.students %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ student.admission_no }}</th>
                                            <td class="text-center">{{ student.index }}</td>
                                            <td class="text-center">{{ student.gender }}</td>
                                            <td class="text-center">{{ student.initials }} {{ student.surname }}</td>
                                            <td class="text-center">
                                                <input type="checkbox" class="test" name="status" data-stuid="{{ student.id }}" data-toggle="toggle" data-style="ios" data-on="Present" data-off="Absent" data-onstyle="success" data-offstyle="warning"/>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% elseif search.staff %}
                                    {% for staff in search.staff %}
                                    <tr>
                                        <th class="text-center" scope="row">{{ staff.admission_no }}</th>
                                        <td class="text-center">{{ staff.index }}</td>
                                        <td class="text-center">{{ staff.gender }}</td>
                                        <td class="text-center">{{ staff.initials }}{{ staff.surname }}</td>
                                        <td class="text-center">
                                            <input type="checkbox" class="test" name="status" data-toggle="toggle" data-style="ios" data-on="Present" data-off="Absent" data-onstyle="success" data-offstyle="warning"/>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center" scope="row">No records to display </td>
                                    </tr>
                                {% endif %}
                            </tbody>

                        </table>
                    </div>
                    <!-- END : ATTENDANCE ADD TABLE -->

                </div>
            </div>
            
        </div>
    </div>

    {{ template.footer|raw }}


    <script>
    $("input:checkbox.test").change(function () {
        console.log( $(this).data('stuid') )
    })

    $("input:checkbox#inpt-toggle-staff").change(function () {
        if ( $(this).prop('checked') ) {
            $("#input-select-class").prop('disabled', true);
        } else {
            $("#input-select-class").prop('disabled', false);
        }
    })
    </script>

</body>
</html>