{{ template.header|raw }}

<body>

    <div class="container-fluid portal">
        <div class="row">

            <div class="col-md-12">
                {{ template.topmenu|raw }}
            </div>

            <div class="col-md-8 mx-auto content">

                <div class="student">

                    <!-- START : STUDENT PROFILE  -->
                    <section class="profileview">

                        <div class="row">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/data/propic/student/{{ student.id }}">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ student.initials }} {{ student.surname }}</h5>
                                                <h6 class="my-0 text-secondary">( {{ class.name }} )</h6>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link" id="result-tab" data-toggle="tab" href="#result" role="result" aria-controls="result" aria-selected="true">Exam Results</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="timetable-tab" data-toggle="tab" href="#timetable" role="timetable" aria-controls="timetable" aria-selected="true">Class Timetable</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="health-tab" data-toggle="tab" href="#health" role="health" aria-controls="health" aria-selected="true">Health</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="sport-tab" data-toggle="tab" href="#sport" role="sport" aria-controls="sport" aria-selected="true">Sports</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="parent-tab" data-toggle="tab" href="#parent" role="tab" aria-controls="parent" aria-selected="false">Parents</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">Info</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="account-tab" data-toggle="tab" href="#account" role="account" aria-controls="account" aria-selected="true">Account</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">

                                            <!-- START : RESULT TAB -->
                                            <div class="tab-pane fade" id="result" role="tabpanel" aria-labelledby="result-tab">
                                                <div id="accordionResults">

                                                    {% for exam in exams %}
                                                    <div class="card mt-4">
                            
                                                        <div class="card-header" id="headingResults" data-toggle="collapse" data-target="#collapseResults" aria-expanded="true" aria-controls="collapseResults">
                                                            {{ exam.name }} - {{ exam.year }} : Grade {{ exam.grade }}
                                                        </div>
                                                    
                                                        <div id="collapseResults" class="collapse show" aria-labelledby="headingResults" data-parent="#accordionResults">
                                                            <div class="card-body">
                                                                <table class="table table-borderless table-responsive-md">
                                                                    <tbody>
                                                                        {% for subject in exam.subjects %}
                                                                        <tr>
                                                                            <th scope="row">{{ subject.name }}</th>
                                                                            <td scope="row">{{ subject.marks }}</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- END : RESULT TAB -->

                                            <!-- START : TIMETABLE TAB -->
                                            <div class="tab-pane fade" id="timetable" role="tabpanel" aria-labelledby="timetable-tab">
                                                <div class="row">
                                                    <section class="col-12 timetable">
                            
                                                        <table class="table table-bordered table-responsive-md">
                                
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th width="1%" class="text-center" scope="col">Period</th>
                                                                    <th width="20%" class="text-center" scope="col">Monday</th>
                                                                    <th width="20%" class="text-center" scope="col">Tuesday</th>
                                                                    <th width="20%" class="text-center" scope="col">Wednesday</th>
                                                                    <th width="20%" class="text-center" scope="col">Thursday</th>
                                                                    <th width="20%" class="text-center" scope="col">Friday</th>
                                                                </tr>
                                                            </thead>
                                
                                                            <tbody>
                            
                                                                {% set period = 1 %}
                                
                                                                {% for row in 1..9 %}
                                                                    {% if row != 5 %}
                                
                                                                    <tr>
                                                                        <th scope="row" class="text-center">{{ period }}</th>
                                                                        {% for cols in 1..5 %}
                                                                        <td class="text-center">
                            
                                                                            {% for subject in subjects %}
                                                                                {% if timetable[cols][period].subject_id == subject.id %}
                                                                                <span><b>{{ subject.name }}</b></span>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                            <br>
                                                                            {% for staff in staffs %}
                                                                                {% if timetable[cols][period].staff_id == staff.id %}
                                                                                <span>{{ staff.initials }} {{ staff.surname }}</span>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </td>
                                                                        {% endfor %}
                                                                    </tr>
                                                                    {% set period = period + 1 %}
                                                                    {% else %}
                                                                    <tr class="thead-dark">
                                                                        <th class="text-center" colspan="6">I N T E R V A L</th>
                                                                    </tr>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            
                                                            </tbody>
                                                        </table>
                                
                                                        <input id="classId" type="hidden" value="{{ class.id }}" />
                                
                                                    </section>
                                                </div>
                                            </div>
                                            <!-- END : TIMETABLE TAB -->

                                            <!-- START : HEALTH TAB -->
                                            <div class="tab-pane fade" id="health" role="tabpanel" aria-labelledby="hs-tab">
                                                <caption>Last updated on : {{ health.date }}</caption>
                                                <table class="table table-borderless table-responsive-md">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%" scope="col">Height</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.height }} cm</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Weight</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.weight }} kg</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">BMI index</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.bmi }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Blood Group</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.blood_group }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Heart Rate</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.heart_rate }} bpm</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Blood Pressure</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.blood_pressure }} mmHg</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Vaccinations</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.vaccination }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%" scope="col">Specialities</th>
                                                            <th width="10%" scope="col">:</th>
                                                            <td scope="row">{{ health.speciality }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END : HEALTH TAB -->

                                            <!-- START : SPORT TAB -->
                                            <div class="tab-pane fade" id="sport" role="tabpanel" aria-labelledby="sports-tab">
                                                <table class="table table-bordered table-responsive-md">
                                
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col" width="1%">Sport ID</th>
                                                            <th scope="col">Sport</th>
                                                            <th scope="col">Coach</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for sport in sports %}
                                                        <tr>
                                                            <td scope="row" width="10%">{{ sport.id }}</td>
                                                            <td>{{ sport.name }}</td>
                                                            <td>{{ sport.coach.name }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- END : SPORT TAB -->

                                            <!-- START : PARENT TAB -->
                                            <div class="tab-pane fade" id="parent" role="tabpanel" aria-labelledby="parents-tab">

                                                <div class="row">

                                                    {% for parent in parents %}
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">{{ parent.relation.name }}</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Name</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.initials }} {{ parent.surname }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC Number</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.nic }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.gender }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" readonly="readonly" value="{{ parent.dob }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Home Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_home }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Mobile Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_mobile }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Income</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.income }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.email }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.address }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.city }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="stu-district" name="district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == parent.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>
                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                            </div>
                                            <!-- END : PARENT TAB -->

                                            <!-- START : ABOUT TAB -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="full_name">Full Name</label>
                                                                            <input type="text" class="form-control" id="stu-full_name" value="{{ student.full_name }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-4">
                                                                        <div class="form-group">
                                                                            <label for="initials">Initials</label>
                                                                            <input type="text" class="form-control" id="stu-initials" value="{{ student.initials }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-8">
                                                                        <div class="form-group">
                                                                            <label for="surname">Surname</label>
                                                                            <input type="text" class="form-control" id="stu-surname" value="{{ student.surname }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="gender">Gender</label>
                                                                            <select class="form-control" id="stu-gender" name="gender" disabled>
                                                                                {% if student.gender == "male" %}
                                                                                    <option value="Male" selected>Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                {% else %}
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female" selected>Female</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" id="stu-dob" value="{{ student.dob }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Phone</label>
                                                                            <input type="number" class="form-control" id="stu-phone_mobile" value="{{ student.phone_mobile }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" id="stu-email" value="{{ student.email }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="religion">Religion</label>
                                                                            <select class="form-control" id="stu-religion" name="religion" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for religion in religions %}
                                                                                    {% if religion.id == student.religion_id %}
                                                                                        <option value="{{ religion.id }}" selected>{{ religion.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control"  id="stu-address" value="{{ student.address }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" id="stu-city" value="{{ student.city }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="stu-district" name="district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == student.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission No</label>
                                                                            <input type="number" class="form-control" id="stu-admission_no" value="{{ student.admission_no }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission Date</label>
                                                                            <input type="date" class="form-control" id="stu-admission_date" value="{{ student.admission_date }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Class</label>
                                                                            <select class="form-control" name="class" id="stu-class" disabled>
                                                                                {% for class in classes %}
                                                                                    {% if class.id == student.class_id %}
                                                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ class.id }}">{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : ABOUT TAB -->

                                            <!-- START : ACCOUNT TAB -->
                                            <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="status">Status</label>
                                                                            <select class="form-control" name="status" id="stu-status" disabled>
                                                                                {% if settings.status  == "Active" %}
                                                                                    <option value="Active" selected>Active</option>
                                                                                    <option value="Deactive">Deactive</option>
                                                                                {% else %}
                                                                                <option value="Active">Active</option>
                                                                                <option value="Deactive" selected>Deactive</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="role">User Role</label>
                                                                            <select class="form-control" name="role_id" id="stu-role_id" disabled>
                                                                                <option value="" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="theme">Theme</label>
                                                                            <select class="form-control" name="user_theme" disabled>
                                                                                {% if settings.theme  == "Dark" %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark" selected>Dark</option>
                                                                                {% else %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark">Dark</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" id="student-username" value="{{ settings.username }}" disabled>
                                                                            <small class="form-text text-muted" id="btn-edit" onclick="edit_mode()"><i class="la la-user"></i> change username</small>
                                                                            <small class="form-text text-success" id="btn-save" onclick="update_student('{{ student.id }}')" hidden><i class="la la-save"></i> Save</small>
                                                                            <small class="form-text text-info" id="btn-cancel" onclick="cancel_edit_mode()" hidden><i class="la la-close"></i> Cancel</small>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <input type="text" class="form-control" id="student-password" placeholder="{{ settings.password }}" disabled>
                                                                            <small class="form-text text-muted" id="btn-password" onclick="invokePasswordEditModal('{{student.id}}')"><i class="la la-key"></i> change password</small>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END : ACCOUNT TAB -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                                

                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}

<!-- START : MODAL : EDIT PASSWORD -->
<div class="modal fade" id="modal_edit-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Change your password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="modal-edit-password-student_id" />
                <form method="post">

                    <div class="col-12">
                        <div class="form-group">
                            <label for="cp">Your Current Password</label>
                            <input type="password" class="form-control" id="modal-edit-password-current_password"/>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="np">Your New Password</label>
                            <input type="password" class="form-control" id="modal-edit-password-new_password"/>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label for="cnp">Retype your New Password</label>
                            <input type="password" class="form-control" id="modal-edit-password-confirm_new_password"/>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-warning" onClick="update_password();">Change password</button>
            </div>

        </div>
    </div>
</div>
<!-- END : MODAL : EDIT PASSWORD -->
</body>

<script>

    // EDIT MODE ON
    edit_mode = () => {

        // MENU BUTTONS
        $('#btn-edit').attr('hidden', true);
        $('#btn-save').attr('hidden', false);
        $('#btn-cancel').attr('hidden', false);
        $('#btn-remove').attr('hidden', true);

        // ACCOUNT
        $('#student-username').attr('disabled', false);
    }

    // CANCEL EDIT
    cancel_edit_mode = () => {
        alertify.confirm('<span class="text-warning"><i class="la la-exclamation-circle"></i> Confirm</span>', 'Are you sure you want to cancel...? All Unsaved changes will be lost.', 
            function(){ location.reload(); },
            function(){ alertify.success('Continue editing..')}
            // function(){ alertify.error('Cancel')}
        );
    }

    // START : UPDATE STUDENT
    update_student = (student_id) => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('student_id', student_id)
        formData.append('username', $("#student-username").val())

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/portal/ajax_updatestudent",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Username updated successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                }
            },
            error: (e) => {
                alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : UPDATE STUDENT

    // INVOKE PASSWORD EDIT MODAL
    invokePasswordEditModal = (student_id) => {
        $("#modal-edit-password-student_id").val(student_id)
        $("#modal_edit-password").modal("show")
    }

    // START : UPDATE PASSWORD
    update_password = () => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('student_id', $("#modal-edit-password-student_id").val())
        formData.append('current_password', $("#modal-edit-password-current_password").val())
        formData.append('new_password', $("#modal-edit-password-new_password").val())
        formData.append('confirm_new_password', $("#modal-edit-password-confirm_new_password").val())

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/portal/ajax_update_student_password",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Password updated successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                }
            },
            error: (e) => {
                alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : UPDATE PASSWORD
</script>