{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}                            

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="container stuadd">

                    <form name="admission" method="POST" action="#">
                        <div id="accordionAdmission">
                        
                            <!-- START : STUDENT ADMISSION -->
                            <div class="card">
    
                                <div class="card-header" id="headingAdmission" data-toggle="collapse" data-target="#collapseAdmission" aria-expanded="true" aria-controls="collapseAdmission">
                                    New Student Admission
                                </div>
                            
                                <div id="collapseAdmission" class="collapse show" aria-labelledby="headingAdmission" data-parent="#accordionAdmission">
                                    <div class="card-body">

                                        <div class="form-row">
                                            
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="addno">Admission Number</label>
                                                    <input type="number" class="form-control" id="addno" maxlength="6"/>
                                                    <small id="addnolHelp" class="form-text text-muted">Admission Number will be assigned automatically if Empty</small>
                                                </div>
                                            </div>
                                            
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="adddate">Admission Date</label>
                                                    <input type="date" class="form-control" id="adddate"/>
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="class">Class</label>
                                                    <select class="form-control" id="class">
                                                        <option selected disabled> - Select Class - </option>
                                                        {% for class in student_class %}
                                                        <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="addclass" class="form-text text-muted">New Class</small> -->
                                                </div>
                                            </div>

                                            <!-- <div class="col-10">
                                                <div class="form-group">
                                                    <label for="subject_ids">Subjects</label>
                                                    <select class="form-control" id="subject_ids">
                                                        <option selected disabled> - Select Subject - </option>
                                                        <option value="0"> Chemistry (රසායන විද්‍යාව) </option>
                                                    </select>
                                                    <small id="addsubject" class="form-text text-muted">New Subject</small> 
                                                </div>
                                            </div> -->

                                        </div>

                                    </div>
                                </div>
    
                            </div>
    
                            <!-- START : STUDENT PERSONAL DETAILS -->
                            <div class="card">
    
                                <div class="card-header" id="headingPersonal" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">
                                    Personal Details                         
                                </div>
    
                                <div id="collapsePersonal" class="collapse" aria-labelledby="headingPersonal" data-parent="#accordionAdmission">
                                    <div class="card-body">

                                        <div class="form-row">
                                            
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="fn">Full Name</label>
                                                    <input type="text" class="form-control" id="fn"/>
                                                    <small id="fnHelp" class="form-text text-muted">ex - SAMARAKKODY ARACHCHIGE LAKMAL SAMARAKKODY</small>
                                                </div>
                                            </div>

                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label for="initials">Initials</label>
                                                    <input type="text" class="form-control" id="initials"/>
                                                    <small id="initialsHelp" class="form-text text-muted">ex - S A L</small>
                                                </div>
                                            </div>

                                            <div class="col-7">
                                                <div class="form-group">
                                                    <label for="sn">Surname</label>
                                                    <input type="text" class="form-control" id="sn"/>
                                                    <small id="snHelp" class="form-text text-muted">ex - SAMARAKKODY</small>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="dob">Date of Birth</label>
                                                    <input type="date" class="form-control" id="dob"/>
                                                    <small id="dobHelp" class="form-text text-muted">ex - 12/30/1995</small>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="gen">Gender</label>
                                                    <select class="form-control" id="gen">
                                                        <option selected disabled> - Select Gender - </option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                    <!-- <small id="addgen" class="form-text text-muted">New Gender</small> -->
                                                </div>                                                
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email"/>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="mobno">Mobile Number</label>
                                                    <input type="text" class="form-control" id="mobno" maxlength="10"/>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Address</label>
                                                    <input type="text" class="form-control" id="address"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" id="city"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="dist">District</label>
                                                    <select class="form-control" id="dist">
                                                        <option selected disabled> - Select District - </option>
                                                        {% for district in student_district %}
                                                            <option value="{{ district.id }}"> {{ district.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="adddistrict" class="form-text text-muted">New District</small> -->
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="province">Province</label>
                                                    <select class="form-control" id="province" disabled></select>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="bp">Birth Place</label>
                                                    <input type="text" class="form-control" id="bp"/>
                                                </div>
                                            </div>
        
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="rel">Religion</label>
                                                    <select class="form-control" id="rel">
                                                        <option selected disabled> - Select Religion - </option>
                                                        {% for religion in student_religion %}
                                                            <option value="{{ religion.id }}"> {{ religion.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="addreligion" class="form-text text-muted">New Religion</small> -->
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>
    
                            </div>
    
                            <!-- START : FIRST GUARDIAN DETAILS -->
                            <div class="card">
    
                                <div class="card-header" id="headingGuardian" data-toggle="collapse" data-target="#collapseGuardian" aria-expanded="false" aria-controls="collapseGuardian">
                                    Father/Mother or Guardian 's Details
                                </div>
    
                                <div id="collapseGuardian" class="collapse" aria-labelledby="headingGuardian" data-parent="#accordionAdmission">
                                    <div class="card-body">

                                        <div class="form-row">

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g1fn">Full Name</label>
                                                    <input type="text" class="form-control" id="g1fn" required/>
                                                </div>
                                            </div>
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1ini">Initials</label>
                                                    <input type="text" class="form-control" id="g1ini" required/>
                                                </div>                                                
                                            </div>
                                            
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label for="g1sn">Surname</label>
                                                    <input type="text" class="form-control" id="g1sn" required/>
                                                </div>                    
                                            </div>
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1dob">Date of Birth</label>
                                                    <input type="date" class="form-control" id="g1dob" required/>
                                                </div>        
                                            </div>
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1rel">Relationship</label>
                                                    <select class="form-control" id="g1rel" required>
                                                        <option selected disabled> - Select Relationship - </option>
                                                        {% for relation_type in student_relation_type %}
                                                            <option value="{{ relation_type.id }}"> {{ relation_type.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="addrelation" class="form-text text-muted">New Relationship</small> -->
                                                </div>
                                            </div>
                                            
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1gen">Gender</label>
                                                    <select class="form-control" id="g1gen" required>
                                                        <option selected disabled> - Select Gender - </option>
                                                        <option value="Male"> Male </option>
                                                        <option value="Female"> Female </option>
                                                    </select>
                                                    <!-- <small id="addgen" class="form-text text-muted">New Gender</small> -->
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1nic">National Identity Card (NIC)</label>
                                                    <input type="text" class="form-control" id="g1nic" required/>                                                    
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1tel">Landline Number</label>
                                                    <input type="text" class="form-control" id="g1tel" required/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1mobi">Mobile Number</label>
                                                    <input type="text" class="form-control" id="g1mobi"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1occu">Occupation</label>
                                                    <input type="text" class="form-control" id="g1occu"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1pos">Position</label>
                                                    <input type="text" class="form-control" id="g1pos"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1inc">Monthly Income</label>
                                                    <input type="number" class="form-control" id="g1inc"/>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g1mail">Email</label>
                                                    <input type="text" class="form-control" id="g1mail"/>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="g1address">Address</label>
                                                    <input type="text" class="form-control" id="g1address"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1city">City</label>
                                                    <input type="text" class="form-control" id="g1city"/>
                                                </div>                                                
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1dist">District</label>
                                                    <select class="form-control" id="g1dist">
                                                        <option selected disabled> - Select District - </option>
                                                        {% for district in student_district %}
                                                            <option value="{{ district.id }}"> {{ district.name }} </option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="adddistrict" class="form-text text-muted">New District</small> -->
                                                </div>                                                
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="g1province">Province</label>
                                                    <select class="form-control" id="g1province" disabled></select>
                                                </div>
                                            </div>

                                        </div>
                                            
                                    </div>
                                </div>
    
                            </div>
    
                        </div>
    
                        <button type="button" class="btn btn-primary" onClick="register();"> Register Student </button>
                        <button type="reset" class="btn btn-secondary"> Clear </button>
    
                    </form>

                </div>
                

            </div>
            
        </div>
    </div>

    {{ template.footer|raw }}

    <script>

        // FORMDATA REGISTERING
        register = () => {

            // PAYLOAD
            var formData = new FormData;

            // STUDENT DATA
            formData.append('admission_number', $("#addno").val())
            formData.append('admission_date', $("#adddate").val())
            formData.append('class', $("#class").val())
            // formData.append('subject', $("#subject_ids").val())
            formData.append('full_name', $("#fn").val())
            formData.append('initials', $("#initials").val())
            formData.append('surname', $("#sn").val())
            formData.append('date_of_birth', $("#dob").val())
            formData.append('gender', $("#gen").val())
            formData.append('email', $("#email").val())
            formData.append('mobile_number', $("#mobno").val())
            formData.append('address', $("#address").val())
            formData.append('city', $("#city").val())
            formData.append('district', $("#dist").val())
            formData.append('province', $("#province").val())
            formData.append('birth_place', $("#bp").val())
            formData.append('religion', $("#rel").val())

            // GUARDIAN 1ST DATA
            formData.append('first_guardian_full_name', $("#g1fn").val())
            formData.append('first_guardian_initials', $("#g1ini").val())
            formData.append('first_guardian_surname', $("#g1sn").val())
            formData.append('first_guardian_date_of_birth', $("#g1dob").val())
            formData.append('first_guardian_relation', $("#g1rel").val())
            formData.append('first_guardian_gender', $("#g1gen").val())
            formData.append('first_guardian_nic', $("#g1nic").val())
            formData.append('first_guardian_telephone', $("#g1tel").val())
            formData.append('first_guardian_mobile_number', $("#g1mobi").val())
            formData.append('first_guardian_occupation', $("#g1occu").val())
            formData.append('first_guardian_position', $("#g1pos").val())
            formData.append('first_guardian_income', $("#g1inc").val())
            formData.append('first_guardian_email', $("#g1mail").val())
            formData.append('first_guardian_address', $("#g1address").val())
            formData.append('first_guardian_city', $("#g1city").val())
            formData.append('first_guardian_district', $("#g1dist").val())
            formData.append('first_guardian_province', $("#g1province").val())

        

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/student/ajax_add",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {

                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Student added successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }

        //VIEW PROVINCE BY DISTRICT
        $("#dist").on('change', function () {

            var id = $("#dist").val()

            $.ajax({
                url: '{{ app.url }}/student/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

        //VIEW PROVINCE BY DISTRICT
        $("#g1dist").on('change', function () {

        var id = $("#g1dist").val()

            $.ajax({
                url: '{{ app.url }}/student/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#g1province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

        // DATE TIME PICKER
        $("#datetimepicker_admission_date").datetimepicker({
            format: 'YYYY-MM-DD',
            icons: {
                up: 'la la-angle-up',
                down: 'la la-angle-down'
            }
        })

    </script>
</body>