{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                               
                {{ template.topmenu|raw }}

                <div class="stuprofile">
                {% if permission.student.profile.view %}

                    <!-- START : STUDENT PROFILE  -->
                    <section class="profileview">

                        <h4 class="page-title">Student Details</h4>

                        <div class="row mt-5">
                            <div class="col-12">

                                {% if propic.upload.failed.status %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{ propic.upload.failed.message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/data/propic/student/{{ student.id }}">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ student.initials }} {{ student.surname }}</h5>
                                                <h6 class="my-0 text-secondary mb-2">( {{ class.name }} )</h6>
                                                <button class="btn btn-xs btn-warning" id="btn-edit" onclick="edit_mode()"><i class="la la-edit"></i> Edit</button>
                                                <button class="btn btn-xs btn-success" id="btn-save" onclick="update_student('{{ student.id }}')" hidden><i class="la la-save"></i> Save</button>
                                                <button class="btn btn-xs btn-info" id="btn-cancel" onclick="cancel_edit_mode()" hidden><i class="la la-close"></i> Cancel</button>
                                                <button class="btn btn-xs btn-danger" id="btn-remove" onclick="remove_student('{{ student.id }}')"><i class="la la-trash"></i> Delete</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">Info</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="parents-tab" data-toggle="tab" href="#parents" role="tab" aria-controls="parents" aria-selected="false">Parents</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Settings</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">
                                            
                                            <!-- ABOUT STUDENT -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="full_name">Full Name</label>
                                                                            <input type="text" class="form-control" id="stu-full_name" value="{{ student.full_name }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-4">
                                                                        <div class="form-group">
                                                                            <label for="initials">Initials</label>
                                                                            <input type="text" class="form-control" id="stu-initials" value="{{ student.initials }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-8">
                                                                        <div class="form-group">
                                                                            <label for="surname">Surname</label>
                                                                            <input type="text" class="form-control" id="stu-surname" value="{{ student.surname }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="gender">Gender</label>
                                                                            <select class="form-control" id="stu-gender" name="gender" disabled>
                                                                                {% if student.gender == "male" %}
                                                                                    <option value="Male" selected>Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                {% else %}
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female" selected>Female</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" id="stu-dob" value="{{ student.dob }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Phone</label>
                                                                            <input type="number" class="form-control" id="stu-phone_mobile" value="{{ student.phone_mobile }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" id="stu-email" value="{{ student.email }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="religion">Religion</label>
                                                                            <select class="form-control" id="stu-religion" name="religion" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for religion in religions %}
                                                                                    {% if religion.id == student.religion_id %}
                                                                                        <option value="{{ religion.id }}" selected>{{ religion.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control"  id="stu-address" value="{{ student.address }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" id="stu-city" value="{{ student.city }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="stu-district" name="district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == student.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission No</label>
                                                                            <input type="number" class="form-control" id="stu-admission_no" value="{{ student.admission_no }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission Date</label>
                                                                            <input type="date" class="form-control" id="stu-admission_date" value="{{ student.admission_date }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Class</label>
                                                                            <select class="form-control" name="class" id="stu-class" disabled>
                                                                                {% for class in classes %}
                                                                                    {% if class.id == student.class_id %}
                                                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ class.id }}">{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- PROFILE PICTURE UPLOAD -->
                                                                <form action="#" method="post" enctype="multipart/form-data">
                                                                    <!-- HIDDEN -->
                                                                    <input type="hidden" name="student_id" value="{{ student.id }}" >
                                                                    <div class="form-row">
                                                                        <div class="col-4">
                                                                            <div class="form-group">
                                                                                <label for="">Profile Picture Upload</label>
                                                                                <input class="form-control-file" type="file" name="propic" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class="form-group">
                                                                                <label for="">&nbsp;</label>
                                                                                <button type="submit" class="btn btn-primary btn-sm form-control-sm form-control" onclick="upload_profile_picture()">Save</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : BIO TAB -->

                                            <!-- START : PARENT TAB -->
                                            <div class="tab-pane fade" id="parents" role="tabpanel" aria-labelledby="parents-tab">

                                                <div class="row">

                                                    {% for parent in parents %}
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">{{ parent.relation.name }}</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Name</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.initials }} {{ parent.surname }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC Number</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.nic }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.gender }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" readonly="readonly" value="{{ parent.dob }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Home Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_home }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Mobile Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_mobile }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Income</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.income }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.email }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.address }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.city }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="stu-district" name="district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == parent.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>
                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                            </div>
                                            <!-- END : PARENT TAB -->

                                            <!-- START : TOOLS TAB -->
                                            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="status">Status</label>
                                                                            <select class="form-control" name="status" id="stu-status" disabled>
                                                                                {% if settings.status  == "Active" %}
                                                                                    <option value="Active" selected>Active</option>
                                                                                    <option value="Deactive">Deactive</option>
                                                                                {% else %}
                                                                                <option value="Active">Active</option>
                                                                                <option value="Deactive" selected>Deactive</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="role">User Role</label>
                                                                            <select class="form-control" name="role_id" id="stu-role_id" disabled>
                                                                                <option value="" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="theme">Theme</label>
                                                                            <select class="form-control" name="user_theme" disabled>
                                                                                {% if settings.theme  == "Dark" %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark" selected>Dark</option>
                                                                                {% else %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark">Dark</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" id="stu-username" value="{{ settings.username }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <input type="text" class="form-control" id="stu-password" placeholder="{{ settings.password }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="confirm_password">Confirm Password</label>
                                                                            <input type="text" class="form-control" id="stu-confirm_password" placeholder="Retype if changed" disabled>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END : TOOLS TAB -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        
                    </section>
                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // EDIT MODE ON
    edit_mode = () => {

        // MENU BUTTONS
        $('#btn-edit').attr('hidden', true);
        $('#btn-save').attr('hidden', false);
        $('#btn-cancel').attr('hidden', false);
        $('#btn-remove').attr('hidden', true);

        // BIO
        $('#stu-full_name').attr('disabled', false);
        $('#stu-initials').attr('disabled', false);
        $('#stu-surname').attr('disabled', false);
        $('#stu-gender').attr('disabled', false);
        $('#stu-dob').attr('disabled', false);
        $('#stu-phone_mobile').attr('disabled', false);
        $('#stu-email').attr('disabled', false);
        $('#stu-religion').attr('disabled', false);
        $('#stu-address').attr('disabled', false);
        $('#stu-city').attr('disabled', false);
        $('#stu-district').attr('disabled', false);

        // ACADEMIC
        $('#stu-admission_no').attr('disabled', false);
        $('#stu-admission_date').attr('disabled', false);
        $('#stu-class').attr('disabled', false);

        // SETTINGS
        $('#stu-status').attr('disabled', false);
        $('#stu-role_id').attr('disabled', false);
        $('#stu-username').attr('disabled', false);
        $('#stu-password').attr('disabled', false);
        $('#stu-confirm_password').attr('disabled', false);
    }

    // CANCEL EDIT
    cancel_edit_mode = () => {
        alertify.confirm('<span class="text-warning"><i class="la la-exclamation-circle"></i> Confirm</span>', 'Are you sure you want to cancel...? All Unsaved changes will be lost.', 
            function(){ location.reload(); },
            function(){ alertify.success('Continue editing..')}
            // function(){ alertify.error('Cancel')}
        );
    }

    // START : UPDATE STUDENT
    update_student = (student_id) => {

        // PAYLOAD
        var formData = new FormData;

        // BIO DATA
        formData.append('student_id', student_id)
        formData.append('full_name', $("#stu-full_name").val())
        formData.append('initials', $("#stu-initials").val())
        formData.append('surname', $("#stu-surname").val())
        formData.append('gender', $("#stu-gender").val())
        formData.append('dob', $("#stu-dob").val())
        formData.append('phone_mobile', $("#stu-phone_mobile").val())
        formData.append('email', $("#stu-email").val())
        formData.append('religion', $("#stu-religion").val())
        formData.append('address', $("#stu-address").val())
        formData.append('city', $("#stu-city").val())
        formData.append('district', $("#stu-district").val())

        // ACADEMIC
        formData.append('admission_no', $("#stu-admission_no").val())
        formData.append('admission_date', $("#stu-admission_date").val())
        formData.append('class_id', $("#stu-class").val())

        // SETTINGS
        formData.append('status', $("#stu-status").val())
        formData.append('role_id', $("#stu-role_id").val())
        formData.append('username', $("#stu-username").val())
        formData.append('password', $("#stu-password").val())
        formData.append('confirm_password', $("#stu-confirm_password").val())

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/student/ajax_updatestudent",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Student Details Updated successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                }
            },
            error: (e) => {
                alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : UPDATE STUDENT

    // START : REMOVE STUDENT
    remove_student = (student_id) => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('student_id', student_id)

        alertify.confirm('<span class="text-danger"><i class="la la-exclamation-circle"></i> Caution</span>', 'Are you sure you want to Delete...? All data related to this record will be deleted.', 
        function(){ 

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/student/ajax_removestudent",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Student Record Deleted successfully ... ").set('onok', function() {
                            window.location.replace("{{ app.url}}/student/search");
                        })
                    } else {
                        console.log(res);
                        alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                    }
                },
                error: (e) => {
                    alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })

        },
        function(){ alertify.error('Deletion process cancelled')}
        );
    }
    // END : REMOVE STUDENT

</script>