{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                               
                {{ template.topmenu|raw }}

                <div class="stuprofile">

                    <!-- START : STUDENT PROFILE  -->
                    <section class="profileview">

                        <h4 class="page-title">Student Details</h4>

                        <div class="row mt-5">
                            <div class="col-12">

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/data/propic/student/{{ student.id }}">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ student.initials }} {{ student.surname }}</h5>
                                                <h6 class="my-0 text-secondary mb-2">( {{ class.name }} )</h6>
                                                <button class="btn btn-xs btn-warning"><i class="la la-edit"></i>Edit</button>
                                                <button class="btn btn-xs btn-danger" onclick="remove_student('{{ student.id }}')"><i class="la la-trash"></i></button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="parents-tab" data-toggle="tab" href="#parents" role="tab" aria-controls="parents" aria-selected="false">Parents</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Settings</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">
                                            
                                            <!-- ABOUT STUDENT -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Full Name</label>
                                                                            <input type="text" class="form-control" value="{{ student.full_name }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <select class="form-control" name="gender">
                                                                                {% if student.gender == "male" %}
                                                                                    <option value="Male" selected>Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                {% else %}
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female" selected>Female</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" value="{{ student.dob }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Phone</label>
                                                                            <input type="number" class="form-control" value="{{ student.phone_mobile }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" value="{{ student.email }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" value="{{ student.city }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Religion</label>
                                                                            <select class="form-control" name="religion">
                                                                                {% for religion in religions %}
                                                                                    {% if religion.id == student.religion_id %}
                                                                                        <option value="{{ religion.id }}" selected>{{ religion.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" value="{{ student.address }}">
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission No</label>
                                                                            <input type="number" class="form-control" value="{{ student.admission_no }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission Date</label>
                                                                            <input type="date" class="form-control" value="{{ student.admission_date }}">
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Class</label>
                                                                            <select class="form-control" name="class">
                                                                                {% for class in classes %}
                                                                                    {% if class.id == student.class_id %}
                                                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ class.id }}">{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>                                                                    

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : BIO TAB -->

                                            <!-- START : PARENT TAB -->
                                            <div class="tab-pane fade" id="parents" role="tabpanel" aria-labelledby="parents-tab">

                                                <div class="row">

                                                    {% for parent in parents %}
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">{{ parent.relation.name }}</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Name</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.initials }} {{ parent.surname }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC Number</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.nic }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.gender }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" readonly="readonly" value="{{ parent.dob }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Home Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_home }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Mobile Phone</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.phone_mobile }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Income</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.income }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.email }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.address }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" readonly="readonly" value="{{ parent.city }}">
                                                                        </div>
                                                                    </div>
                                                    
                                                                </div>
                                                    
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}

                                                </div>

                                            </div>
                                            <!-- END : PARENT TAB -->

                                            <!-- START : TOOLS TAB -->
                                            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="status">Status</label>
                                                                            <select class="form-control" name="status">
                                                                                {% for status in user.status %}
                                                                                    {% if status.id  == settings.status %}
                                                                                        <option value="{{ status.id }}" selected>{{ status.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ status.id }}">{{ status.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="role">User Role</label>
                                                                            <select class="form-control" name="user_role">
                                                                                <option value="" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="theme">Preffered Theme</label>
                                                                            <select class="form-control" name="user_theme">
                                                                                {% for theme in user.themes %}
                                                                                    {% if theme.name  == settings.theme %}
                                                                                        <option value="{{ theme.name }}" selected>{{ theme.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ theme.name }}">{{ theme.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-3">
                                                                        <div class="form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" value="{{ settings.username }}">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-3">
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <input type="text" class="form-control" value="{{ settings.password }}">
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        
                    </section>
                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // START : REMOVE STUDENT
    remove_student = (student_id) => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('student_id', student_id)

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/student/ajax_removestudent",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert("Success", "Student Record Deleted successfully ... ").set('onok', function() {
                        window.location.replace("{{ app.url}}/student/search");
                    })
                } else {
                    console.log(res);
                    alertify.alert("Failed", res.message);
                }
            },
            error: (e) => {
                alertify.alert("Error", "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : REMOVE STUDENT

</script>