{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <!-- START : CONTENT -->
            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="healthadd">

                    <!-- START : SPORT SEARCH -->
                    <h4 class="page-title"> Add Health Records </h4>

                    <div class="card mt-4">

                        <div class="card-header">
                            Search Students
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="form-row">

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="student_name">Name</label>
                                            <input type="text" class="form-control" name="student_name" value="{{ (form.field.student_name) ? form.field.student_name }}" />
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="student_gender">Gender</label>
                                            <select class="form-control selectpicker show-tick" name="student_gender">
                                                <option value="" selected>- Select Gender -</option>
                                                {% if form.field.student_gender == 'male' %}
                                                    <option value="male" selected>Male</option>
                                                    <option value="female">Female</option>
                                                {% elseif form.field.student_gender == 'female' %}
                                                    <option value="male">Male</option>
                                                    <option value="female" selected>Female</option>
                                                {% else %}
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_class">Class</label>
                                            <select class="form-control selectpicker show-tick" name="student_class">
                                                <option value="" selected>- Select Class -</option>
                                                {% for class in student_class %}
                                                    {% if form.field.student_class == class.id %}
                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                    {% else %}
                                                        <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>  
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_grade">Grade</label>
                                            <select class="form-control selectpicker show-tick" name="student_grade">
                                                <option value="" selected>- Select Grade -</option>
                                                {% for grade in student_grade %}
                                                    {% if form.field.student_grade == grade.id %}
                                                        <option value="{{ grade.id }}" selected> Grade - {{ grade.name }} </option>
                                                    {% else %}
                                                        <option value="{{ grade.id }}"> Grade - {{ grade.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_speciality">Specialities</label>
                                            <input type="text" class="form-control" name="student_speciality" value="{{ (form.field.student_speciality) ? form.field.student_speciality }}" />
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_vaccination">Vaccinations</label>
                                            <input type="text" class="form-control" name="student_vaccination" value="{{ (form.field.student_vaccination) ? form.field.student_vaccination }}" />
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="student_sport">Sport</label>
                                            <select class="form-control selectpicker show-tick" name="student_sport[]" multiple>
                                                {% for sport in sports %}
                                                    {% if sport.id in form.field.student_sport %}
                                                    <option value="{{ sport.id }}" selected> {{ sport.name }} </option>
                                                    {% else %}
                                                    <option value="{{ sport.id }}"> {{ sport.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <small class="form-text text-muted">Multiple Sports can be selected</small>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-5 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">Height</label>
                                                    <input type="text" class="form-control" name="student_min_height" value="{{ (form.field.student_min_height) ? form.field.student_min_height }}" />
                                                    <small class="form-text text-muted">Min</small>
                                                </div>
                                            </div>

                                            <div class="col-1 p-0 my-auto text-center">-</div>

                                            <div class="col-5 pl-0 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">&nbsp;</label>
                                                    <input type="text" class="form-control" name="student_max_height" value="{{ (form.field.student_max_height) ? form.field.student_max_height }}" />
                                                    <small class="form-text text-muted">Max</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-5 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">Weight</label>
                                                    <input type="text" class="form-control" name="student_min_weight" value="{{ (form.field.student_min_weight) ? form.field.student_min_weight }}" />
                                                    <small class="form-text text-muted">Min</small>
                                                </div>
                                            </div>

                                            <div class="col-1 p-0 my-auto text-center">-</div>

                                            <div class="col-5 pl-0 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">&nbsp;</label>
                                                    <input type="text" class="form-control" name="student_max_weight" value="{{ (form.field.student_max_weight) ? form.field.student_max_weight }}" />
                                                    <small class="form-text text-muted">Max</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                   

                                    <div class="col-12 mt-3">
                                        <input type="hidden" name="isSubmitedStudent" value="true"/>
                                        <button class="btn btn-primary px-5" type="submit">Search</button>
                                        <button class="btn btn-secondary" type="reset">Clear</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <!-- END : SPORT SEARCH -->

                    <!-- START : SEARCH RESULTS -->
                    <section class="mt-5">
                        <!-- START : SEARCH RESULT TABLE -->
                        {% if students %}
                            <table id="table_sport_search_student" class="table table-hover table-responsive-md">
                                <caption> Search Results of Students </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">#</th>
                                        <th width="1%" class="text-center" scope="col">ID</th>
                                        <th width="5%" scope="col">Name</th>
                                        <th width="10%" scope="col">Speciality</th>
                                        <th width="10%" scope="col">Vaccination</th>
                                        <th width="1%" scope="col">Height <br/> (cm)</th>
                                        <th width="1%" scope="col">Weight <br/> (kg)</th>
                                        <th width="1%" scope="col">H/R <br/> (bpm)</th>
                                        <th width="1%" scope="col">B/P <br/> (mmHg)</th>
                                        <th width="1%" scope="col">Date</th>
                                        <th width="1%" class="text-center" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ student.id }}</th>
                                            <td class="text-center">{{ student.admission_no }}</td>
                                            <td> {{ student.name }}</td>
                                            <td><input type="text" class="form-control form-control-sm" id="speciality"/></td>
                                            <td><input type="text" class="form-control form-control-sm" id="vaccination"/></td>
                                            <td class="text-center"><input class="form-control form-control-sm" type="text" maxlength="3" id="height"/></td>
                                            <td class="text-center"><input class="form-control form-control-sm" type="text" maxlength="3" id="weight"/></td>
                                            <td class="text-center"><input class="form-control form-control-sm" type="text" maxlength="3" id="heart_rate"/></td>
                                            <td class="text-center"><input class="form-control form-control-sm" type="text" maxlength="3" id="blood_pressure"/></td>
                                            <td class="text-center"><input class="form-control form-control-sm" type="date"/></td>
                                            <td>
                                                <div class="col-12 text-center m-0 p-0">
                                                    <button class="btn btn-sm btn-warning">Save</button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <table class="table table-bordered table-responsive-md">
                                <caption> Search Results of Students </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">No records to display</td>
                                    </tr>
                                </thead>
                            </table>

                        {% endif %}
                        <!-- END : SEARCH RESULT TABLE -->
                    </section>
                    <!-- END : SEARCH RESULTS -->

                </div>
                <!-- END : CONTENT -->

            </div>
        </div>
    </div>

    {{ template.footer|raw }}

    <script>

        // DATA TABLE
        $(document).ready(function() {
            $('#table_sport_search_student').DataTable();
        } );
    
    </script>
</body>