{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="healthindex">
                {% if permission.health.index.view %}

                    <!-- START : SPORT SUMMARY  -->
                    <section class="attendaceview">

                        <h4 class="page-title"> Health Overview </h4>

                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card-deck">

                                    <div class="card">
                                        <div class="card-header">
                                            Total Students
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ student.total.all }}</h5>
                                            <p class="card-text">
                                                Male - <span class="text-success"> <i class="la la-male"></i> {{ student.total.male }} </span><br/>
                                                Female - <span class="text-success"> <i class="la la-female"></i> {{ student.total.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/student" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>

                                    <!-- TOTAL COACHES -->
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="text-success">Total Students Average BMI</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-success">{{ student.average.bmi.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-success"> <i class="la la-male"></i> {{ student.average.bmi.male }}</span><br/>
                                                Female - <span class="text-success"> <i class="la la-female"></i> {{ student.average.bmi.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/health/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>

                                    <!-- STUDENTS DOING SPORTS -->
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="text-warning">Total Students Above Average BMI</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-warning">{{ student.above.bmi.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-warning"> <i class="la la-male"></i> {{ student.above.bmi.male }} </span><br/>
                                                Female - <span class="text-warning"> <i class="la la-female"></i> {{ student.above.bmi.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/health/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>

                                    <!-- STUDENTS DOING SPORTS -->
                                    <div class="card">
                                        <div class="card-header">
                                            <span class="text-danger">Total Students Below Average BMI</span>
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><span class="text-danger">{{ student.below.bmi.all }}</span></h5>
                                            <p class="card-text">
                                                Male - <span class="text-danger"> <i class="la la-male"></i> {{ student.below.bmi.male }} </span><br/>
                                                Female - <span class="text-danger"> <i class="la la-female"></i> {{ student.below.bmi.female }} </span>
                                            </p>
                                            <a href="{{ app.url}}/health/search" class="btn btn-xs btn-primary p-2">view details</a>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>

                        </div>

                    </section>
                    <!-- END : ATTENDANCE SUMMARY  -->

                    <!-- START : CLASS VIEW ATTENDANCE -->
                    <section class="class-attendance-chart mt-5">

                        <!-- TITLE -->
                        <h4 class="page-title mb-4">BMI Graph</h4>

                        <div class="row">
                            <div class="col-6">
                                <div class="chart-bg pt-3" id="chart-1"></div>
                            </div>
                            <div class="col-6">
                                <div class="chart-bg pt-3" id="chart-2"></div>    
                            </div>
                            
                        </div>

                    </section>
                    <!-- END : CLASS VIEW ATTENDANCE -->
                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // APEXCHARTS
    let options = {
        chart: {
            height: 500,
            type: 'bar',
            stacked: true,
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        plotOptions: {
            bar: {
                horizontal: false,
            },
            
        },
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        series: [{
            name: 'Below Average',
            data: [{% for belowbmi in belowbmis %} {{ belowbmi.all }}, {% endfor %}]
        },{
            name: 'In Average',
            data: [{% for averagebmi in averagebmis %} {{ averagebmi.all }}, {% endfor %}]
        },{
            name: 'Above Average',
            data: [{% for abovebmi in abovebmis %} {{ abovebmi.all }}, {% endfor %}]
        }],
        title: {
            text: 'Vizualization by Class'
        },
        xaxis: {
            categories: [{% for class in classes %} '{{ class.name }}', {% endfor %}],
            labels: {
                formatter: function(val) {
                    return val + ""
                }
            }
        },
        yaxis: {
            title: {
                text: undefined
            },
            
        },
        tooltip: {
            y: {
                formatter: function(val) {
                return val + ""
            }
            }
        },
        fill: {
            opacity: 1
            
        },        
        legend: {
            position: 'top',
            horizontalAlign: 'left',
            offsetX: 40
        }
    }

    let options2 = {
        chart: {
            width: 600,
            type: 'pie',
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        title: {
            text: 'Overall percentage'
        },
        labels: ['Below in BMI', 'Average in BMI', 'Above in BMI'],
        series: [{{overall_below_bmi}}, {{overall_average_bmi}}, {{overall_above_bmi}}],
        responsive: [{
            breakpoint: 480,
            options: {
                chart: {
                    width: 200
                },
                legend: {
                    position: 'bottom'
                }
            }
        }]
    }

    let chart1 = new ApexCharts(
        document.querySelector("#chart-1"),
        options
    );

    let chart2 = new ApexCharts(
        document.querySelector("#chart-2"),
        options2
    );
        
    chart1.render()
    chart2.render()

</script>