{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <!-- START : CONTENT -->
            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="healthsearch">

                    <!-- START : SPORT SEARCH -->
                    <h4 class="page-title"> Search Health Records </h4>

                    <div class="card mt-4">

                        <div class="card-header">
                            Search Students
                        </div>

                        <div class="card-body">
                            <form method="post">
                                <div class="form-row">

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="student_name">Name</label>
                                            <input type="text" class="form-control" name="student_name" value="{{ (form.field.student_name) ? form.field.student_name }}" />
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="student_gender">Gender</label>
                                            <select class="form-control selectpicker show-tick" name="student_gender">
                                                <option value="" selected>- Select -</option>
                                                {% if form.field.student_gender == 'male' %}
                                                    <option value="male" selected>Male</option>
                                                    <option value="female">Female</option>
                                                {% elseif form.field.student_gender == 'female' %}
                                                    <option value="male">Male</option>
                                                    <option value="female" selected>Female</option>
                                                {% else %}
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_class">Class</label>
                                            <select class="form-control selectpicker show-tick" name="student_class">
                                                <option value="" selected>- Select -</option>
                                                {% for class in student_class %}
                                                    {% if form.field.student_class == class.id %}
                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                    {% else %}
                                                        <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>  
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_grade">Grade</label>
                                            <select class="form-control selectpicker show-tick" name="student_grade">
                                                <option value="" selected>- Select -</option>
                                                {% for grade in student_grade %}
                                                    {% if form.field.student_grade == grade.id %}
                                                        <option value="{{ grade.id }}" selected> Grade - {{ grade.name }} </option>
                                                    {% else %}
                                                        <option value="{{ grade.id }}"> Grade - {{ grade.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="form-group">
                                            <label for="student_sport">Sport</label>
                                            <select class="form-control selectpicker show-tick" name="student_sport[]" multiple>
                                                {% for sport in sports %}
                                                    {% if sport.id in form.field.student_sport %}
                                                    <option value="{{ sport.id }}" selected> {{ sport.name }} </option>
                                                    {% else %}
                                                    <option value="{{ sport.id }}"> {{ sport.name }} </option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <small class="form-text text-muted">Multiple Sports can be selected</small>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-5 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">Height</label>
                                                    <input type="text" class="form-control" name="student_min_height" value="{{ (form.field.student_min_height) ? form.field.student_min_height }}" />
                                                    <small class="form-text text-muted">Min</small>
                                                </div>
                                            </div>

                                            <div class="col-1 p-0 my-auto text-center">-</div>

                                            <div class="col-5 pl-0 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">&nbsp;</label>
                                                    <input type="text" class="form-control" name="student_max_height" value="{{ (form.field.student_max_height) ? form.field.student_max_height }}" />
                                                    <small class="form-text text-muted">Max</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="row">
                                            <div class="col-5 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">Weight</label>
                                                    <input type="text" class="form-control" name="student_min_weight" value="{{ (form.field.student_min_weight) ? form.field.student_min_weight }}" />
                                                    <small class="form-text text-muted">Min</small>
                                                </div>
                                            </div>

                                            <div class="col-1 p-0 my-auto text-center">-</div>

                                            <div class="col-5 pl-0 pr-0">
                                                <div class="form-group p-0 m-0">
                                                    <label for="height">&nbsp;</label>
                                                    <input type="text" class="form-control" name="student_max_weight" value="{{ (form.field.student_max_weight) ? form.field.student_max_weight }}" />
                                                    <small class="form-text text-muted">Max</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_bmi">BMI</label>
                                            <select class="form-control selectpicker show-tick" name="student_bmi">
                                                <option value="" selected>- Select -</option>
                                                {% if form.field.student_bmi == 'below-average' %}
                                                    <option value="below-average" selected>Below Average</option>
                                                    <option value="in-average">In Average</option>
                                                    <option value="above-average">Above Average</option>
                                                {% elseif form.field.student_bmi == 'in-average' %}
                                                    <option value="below-average">Below Average</option>
                                                    <option value="in-average" selected>In Average</option>
                                                    <option value="above-average">Above Average</option>
                                                {% elseif form.field.student_bmi == 'above-average' %}
                                                    <option value="below-average">Below Average</option>
                                                    <option value="in-average">In Average</option>
                                                    <option value="above-average" selected>Above Average</option>
                                                {% else %}
                                                    <option value="below-average">Below Average</option>
                                                    <option value="in-average">In Average</option>
                                                    <option value="above-average">Above Average</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <div class="form-group">
                                            <label for="student_bmi">Blood Group</label>
                                            <select class="form-control selectpicker show-tick" name="student_blood_group">
                                                <option value="" selected>- Select -</option>
                                                {% for type in blood.types %}
                                                    <option value="{{ type.name }}" {% if form.field.student_blood_group == type.name %}selected{% endif %}>{{ type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <input type="hidden" name="isSubmitedStudent" value="true"/>
                                        <button class="btn btn-primary px-5" type="submit">Search</button>
                                        <button class="btn btn-secondary" type="button" onclick="clearForm(this.form);">Clear</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                        
                    </div>
                    <!-- END : SPORT SEARCH -->

                    <!-- START : SEARCH RESULTS -->
                    <section class="mt-5">
                        <!-- START : SEARCH RESULT TABLE -->
                        {% if students %}
                            <table id="table_sport_search_student" class="table table-hover table-responsive-md">
                                <caption> Search Results of Students </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th class="text-center" scope="col">Height <br/> (cm)</th>
                                        <th class="text-center" scope="col">Weight <br/> (kg)</th>
                                        <th class="text-center" scope="col">BMI <br/> ()</th>
                                        <th class="text-center" scope="col">Heart rate <br/> (bpm)</th>
                                        <th class="text-center" scope="col">Blood Pressure <br/> (mmHg)</th>
                                        <th class="text-center" scope="col">Blood Group <br/> (+/-)</th>
                                        <th scope="col">Speciality</th>
                                        <th scope="col">Vaccination</th>
                                        <th class="text-center" scope="col">Date</th>                                    
                                        <th width="12%" class="text-center" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for student in students %}
                                        <tr>
                                            <td class="text-center">{{ student.admission_no }}</td>
                                            <td>{{ student.name }}</td>
                                            <td class="text-center">{{ student.height }}</td>
                                            <td class="text-center">{{ student.weight }}</td>
                                            <td class="text-center">{{ student.bmi }}</td>
                                            <td class="text-center">{{ student.hr }}</td>
                                            <td class="text-center">{{ student.bp }}</td>
                                            <td class="text-center">{{ student.bg }}</td>
                                            <td>{{ student.speciality }}</td>
                                            <td>{{ student.vaccination }}</td>
                                            <td class="text-center">{{ student.date }}</td>
                                            <td>
                                                <div class="col-12 text-center p-0 m-0">
                                                        <button class="btn btn-sm btn-success mt-1"><i class="la la-user"></i>View Profile</button>
                                                        <button class="btn btn-sm btn-danger" onclick="remove_health('{{ student.health_id }}')"><i class="la la-trash"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        {% else %}
                            <table class="table table-bordered table-responsive-md">
                                <caption> Search Results of Students </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">No records to display</td>
                                    </tr>
                                </thead>
                            </table>
                        {% endif %}
                        <!-- END : SEARCH RESULT TABLE -->
                    </section>
                    <!-- END : SEARCH RESULTS -->

                </div>
                <!-- END : CONTENT -->

            </div>
        </div>
    </div>

    {{ template.footer|raw }}

    <script>

        // DATA TABLE
        $(document).ready(function() {
            $('#table_sport_search_student').DataTable();
        } );

        // INVOKE HEALTH EDIT MODAL
        invokeSportEditModal = (id, name) => {
            $("#modal-edit-sport-id").val(id)
            $("#modal-edit-sport-name").val(name)
            $("#modal_editsport").modal("show")
        }

        // START : EDIT SPORT
        editsport = () => {

            // PAYLOAD
            var formData = new FormData;
            formData.append('id', $("#modal-edit-sport-id").val())
            formData.append('name', $("#modal-edit-sport-name").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/school/ajax_editsport",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {
                    
                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Sport Edited successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res);
                        alertify.alert("Failed", res.message);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }
        // END : EDIT SPORT

        // START : REMOVE SPORT
        remove_health = (health_id) => {

        // PAYLOAD
        var formData = new FormData;
        formData.append('health_id', health_id)

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/health/ajax_removehealth",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert("Success", "Health Record Deleted successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert("Failed", res.message);
                }
            },
            error: (e) => {
                alertify.alert("Error", "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
        }
        // END : REMOVE SPORT
    
    </script>

    <script>
        
        //  CLEAR FORM
        function clearForm(oForm) {
        
            var elements = oForm.elements; 
            
            oForm.reset();
        
            for(i=0; i<elements.length; i++) {
                
            field_type = elements[i].type.toLowerCase();
            
            switch(field_type) {
            
                case "text":
                case "number":
                case "date":
                case "time":
                case "password": 
                case "textarea":
                case "hidden":	

                    elements[i].value = ""; 
                    break;

                case "radio":
                case "checkbox":
                        if (elements[i].checked) {
                            elements[i].checked = false; 
                    }
                    break;
        
                case "select-one":
                case "select-multi":
                            elements[i].selectedIndex = -1;
                    break;
        
                default: 
                    break;
            }

            location.replace(location);
            }
        }

    </script>
</body>