{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">

                {{ template.topmenu|raw }}

                <div class="staffadd">

                    <form name="empadmission" method="POST" action="#">
                        <div id="accordionAdmission">
                        
                            <div class="card">

                                <div class="card-header" id="headingAdmission" data-toggle="collapse" data-target="#collapseAdmission" aria-expanded="true" aria-controls="collapseAdmission">
                                    New Staff Admission
                                </div>
                            
                                <div id="collapseAdmission" class="collapse show" aria-labelledby="headingAdmission" data-parent="#accordionAdmission">
                                    <div class="card-body">

                                        <div class="form-row">

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="admission_date">Admission Date</label>
                                                    <input type="date" id="admission_date" class="form-control" />
                                                </div>
                                            </div>
    
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="employee_no">Employee ID</label>
                                                    <input type="number" class="form-control" id="employee_no"/>
                                                </div>
                                            </div>
    
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="nic_no">NIC</label>
                                                    <input type="text" class="form-control" id="nic_no"/>
                                                    <small id="nicno" class="form-text text-muted">ex :- 953651408V</small>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="category">Category</label>
                                                    <select class="form-control" id="category_id">
                                                        <option selected disabled>- Select Category -</option>
                                                        {% for category in staff_category %}
                                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="addcategory" class="form-text text-muted">New category</small> -->
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="type">Type</label>
                                                    <select class="form-control" id="type_id">
                                                        <option selected disabled>- Select Type -</option>
                                                        {% for type in staff_type %}
                                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <small id="addtype" class="form-text text-muted">New Type</small> -->
                                                </div>
                                            </div>                                            

                                            <!-- <div class="col-4">
                                                <div class="form-group">
                                                    <label for="class">Class in Charge</label>
                                                    <select class="form-control" id="class_id">
                                                        <option selected disabled>- Select CIG -</option>
                                                        {% for class in staff_class %}
                                                        <option value="{{ class.id }}">{{ class.grade.name}} - {{ class.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <small id="addclass" class="form-text text-muted">New Class</small>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="subject_ids">Subjects</label>
                                                    <select class="form-control" id="subject_ids">
                                                        <option selected disabled> - Select Subjects - </option>
                                                        <option value="0"> Chemistry (රසායන විද්‍යාව) </option>
                                                    </select>
                                                    <small id="addsubject" class="form-text text-muted">New Subject</small>
                                                </div>
                                            </div> -->

                                        </div>    
                                        
                                    </div>
                                </div>

                            </div>
    
                            <div class="card">

                                <div class="card-header" id="headingPersonal" data-toggle="collapse" data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">
                                    Personal Details                         
                                </div>
    
                                <div id="collapsePersonal" class="collapse" aria-labelledby="headingPersonal" data-parent="#accordionAdmission">                                    
                                    <div class="card-body">

                                        <div class="form-row">

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="fn">Full Name</label>
                                                    <input type="text" class="form-control" id="fn"/>
                                                    <small id="fnHelp" class="form-text text-muted">ex - SAMARAKKODY ARACHCHIGE LAKMAL SAMARAKKODY</small>
                                                </div>
                                            </div>                                            

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="ini">Initials</label>
                                                    <input type="text" class="form-control" id="ini"/>
                                                    <small id="iniHelp" class="form-text text-muted">ex - S A L</small>
                                                </div>
                                            </div>

                                            <div class="col-8">
                                                <div class="form-group col-md-8">
                                                    <label for="sn">Surname</label>
                                                    <input type="text" class="form-control" id="sn"/>
                                                    <small id="snHelp" class="form-text text-muted">ex - SAMARAKKODY</small>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="dob">Date of Birth</label>
                                                    <input type="date" class="form-control" id="dob"/>
                                                    <small id="dobHelp" class="form-text text-muted">ex - 30/12/1995</small>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="rel_id">Religion</label>
                                                    <select class="form-control" id="rel_id">
                                                        <option selected disabled> - Select Religion - </option>
                                                        {% for religion in staff_religion %}
                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="gen">Gender</label>
                                                    <select class="form-control" id="gen">
                                                        <option selected disabled> - Select Gender - </option>
                                                        <option value="Male">Male</option>
                                                        <option value="Female">Female</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="phone_home">Landline Number</label>
                                                    <input type="text" class="form-control" id="phone_home" maxlength="10"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="phone_mobile">Mobile Number</label>
                                                    <input type="text" class="form-control" id="phone_mobile" maxlength="10"/>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Address</label>
                                                    <input type="text" class="form-control" id="address"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="city">City</label>
                                                    <input type="text" class="form-control" id="city"/>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="dist">District</label>
                                                    <select class="form-control" id="dist">
                                                        <option selected disabled> - Select District - </option>
                                                        {% for district in staff_district %}
                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="province">Province</label>
                                                    <select class="form-control" id="province" disabled></select>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <button type="button" class="btn btn-primary" onClick="register();"> Register Staff Member </button>
                        <button type="reset" class="btn btn-secondary"> Clear </button>
                        
                    </form>
                </div>                    

            </div>
        </div>
    </div>

    {{ template.footer|raw }}

    <script>

        register = () => {

            // PAYLOAD
            var formData = new FormData;

            // FORM DATA
            formData.append('admission_date', $("#admission_date").val())
            formData.append('employee_number', $("#employee_no").val())
            formData.append('nic_number', $("#nic_no").val())
            formData.append('category', $("#category_id").val())
            formData.append('type', $("#type_id").val())
            // formData.append('class', $("#class_id").val())
            // formData.append('subjects', $("#subject_ids").val())
            formData.append('full_name', $("#fn").val())
            formData.append('initials', $("#ini").val())
            formData.append('surname', $("#sn").val())
            formData.append('date_of_birth', $("#dob").val())
            formData.append('religion', $("#rel_id").val())
            formData.append('gender', $("#gen").val())
            formData.append('email', $("#email").val())
            formData.append('telephone', $("#phone_home").val())
            formData.append('mobile_number', $("#phone_mobile").val())
            formData.append('address', $("#address").val())
            formData.append('city', $("#city").val())
            formData.append('district', $("#dist").val())
            formData.append('province', $("#province").val())

            // CONSOLE LOG
            console.log("ADMISSION DATE : " + $("#admission_date").val())
            console.log("EMPLOYEE NO : " + $("#employee_no").val())
            console.log("NIC NO : " + $("#nic_no").val())
            console.log("CATEGORY : " + $("#category").val())
            console.log("TYPE : " + $("#type").val())
            // console.log("CLASS : " + $("#class").val())
            // console.log("SUBJECT IDS : " + $("#subject_ids").val())
            console.log("FN : " + $("#fn").val())
            console.log("INI : " + $("#ini").val())
            console.log("SN : " + $("#sn").val())
            console.log("DOB : " + $("#dob").val())
            console.log("RELIGION : " + $("#rel_id").val())
            console.log("GEN : " + $("#gen").val())
            console.log("EMAIL : " + $("#email").val())
            console.log("LANDLINE : " + $("#phone_home").val())
            console.log("MOBILE : " + $("#phone_mobile").val())
            console.log("ADDRESS : " + $("#address").val())
            console.log("CITY : " + $("#city").val())
            console.log("DISTRICT : " + $("#district").val())
            console.log("PROVINCE : " + $("#province").val())

            // REQUEST
            $.ajax({
                url: "{{ app.url }}/staff/ajax_add",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (res) => {

                    if ( res.status == 'success' ) {
                        alertify.alert("Success", "Staff added successfully ... ").set('onok', function() {
                            location.reload();
                        })
                    } else {
                        console.log(res.error);
                        alertify.alert(res.error);
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        }

        //VIEW PROVINCE BY DISTRICT
        $("#dist").on('change', function () {

            var id = $("#dist").val()

            $.ajax({
                url: '{{ app.url }}/staff/ajax_retrive_province_by_district/' + id,
                processData: false,
                contentType: false,
                success: (res) => {
                    $("#province").find('option')
                    .remove()
                    .end()
                    .append('<option value='+ res.data.id +'>' + res.data.name + '</option>')
                    .val(res.data.id)
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ")
                    console.log(e.responseText)
                }
            })

        })

    </script>

</body>