{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="staffindex">

                    <h4 class="page-title"> Staff Overview </h4>

                    <!-- START : CARD SUMMARY -->
                    <section class="row card-summary mt-4">
                        <div class="col-12">

                            <div class="card-deck">

                                <!-- STAFF TOTAL -->
                                <div class="card">
                                    <div class="card-header">
                                        Total Staff
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ staff.total.all }}</h5>
                                        <p class="card-text">
                                            Male - <i class="la la-male"></i> {{ staff.total.male }}<br/>
                                            Female - <i class="la la-female"></i> {{ staff.total.female }}
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/staff/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>
                            
                                <!-- STAFF TOTAL ATTENDANCE -->
                                <div class="card">
                                    <div class="card-header">
                                        Total Staff <br/><span class="text-success">Attendance</span> / <span class="text-danger">Absence</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="text-success">{{ staff.total.attendance.all }}</span> / <span class="text-danger">{{ staff.total.absent.all }}</span></h5>
                                        <p class="card-text">
                                            Male - <span class="text-success"> <i class="la la-male"></i> {{ staff.total.attendance.male }}</span> / <span class="text-danger">{{ staff.total.absent.male }}</span><br/>
                                            Female - <span class="text-success"> <i class="la la-female"></i> {{ staff.total.attendance.female }}</span> / <span class="text-danger">{{ staff.total.absent.female }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/attendance/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>

                                <!-- STAFF ACADEMIC -->
                                <div class="card">
                                    <div class="card-header">
                                        Academic Staff
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ staff.academic.all }}</h5>
                                        <p class="card-text">
                                            Male - <i class="la la-male"></i> {{ staff.academic.male }}<br/>
                                            Female - <i class="la la-female"></i> {{ staff.academic.female }}
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/staff/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>

                            </div>
                        
                            <div class="card-deck mt-4">                            

                                <!-- STAFF ACADEMIC ATTENDANCE -->
                                <div class="card">
                                    <div class="card-header">
                                        Academic Staff <span class="text-success">Attendance</span> / <span class="text-danger">Absence</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="text-success">{{ staff.academic.attendance.all }}</span> / <span class="text-danger">{{ staff.academic.absent.all }}</span></h5>
                                        <p class="card-text">
                                            Male - <span class="text-success"> <i class="la la-male"></i> {{ staff.academic.attendance.male }}</span> / <span class="text-danger">{{ staff.academic.absent.male }}</span><br/>
                                            Female - <span class="text-success"> <i class="la la-female"></i> {{ staff.academic.attendance.female }}</span> / <span class="text-danger">{{ staff.academic.absent.female }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/attendance/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>

                                <!-- STAFF NON-ACADEMIC -->
                                <div class="card">
                                    <div class="card-header">
                                        Non-Academic Staff
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">{{ staff.nonacademic.all }}</h5>
                                        <p class="card-text">
                                            Male - <i class="la la-male"></i> {{ staff.nonacademic.male }}<br/>
                                            Female - <i class="la la-female"></i> {{ staff.nonacademic.female }}
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/staff/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>

                                <!-- STAFF NON-ACADEMIC ATTENDANCE -->
                                <div class="card">
                                    <div class="card-header">
                                        Non-Academic Staff <span class="text-success">Attendance</span> / <span class="text-danger">Absence</span>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><span class="text-success">{{ staff.nonacademic.attendance.all }}</span> / <span class="text-danger">{{ staff.nonacademic.absent.all }}</span></h5>
                                        <p class="card-text">
                                            Male - <span class="text-success"> <i class="la la-male"></i> {{ staff.nonacademic.attendance.male }}</span> / <span class="text-danger">{{ staff.nonacademic.absent.male }}</span><br/>
                                            Female - <span class="text-success"> <i class="la la-female"></i> {{ staff.nonacademic.attendance.female }}</span> / <span class="text-danger">{{ staff.nonacademic.absent.female }}</span>
                                        </p>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="{{ app.url}}/attendance/search" class="btn btn-xs btn-primary p-2">view details</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </section>
                    <!-- END : CARD SUMMARY -->

                    <!-- START : CLASS VIEW ATTENDANCE -->
                    <section class="attendance-class-view mt-5">
                        <h4 class="page-title"> Teacher in Charge Availability </h4>

                        <!-- TEACHER IN CHARGE TABLE -->
                        <table class="table table-bordered table-responsive-md mt-4">
                            <thead>
                                <tr>
                                    <th class="text-center" width="5%" scope="col"> # </th>
                                    <th class="text-center" width="10%" scope="col"> Class </th>
                                    <th scope="col"> Teacher in Charge </th>
                                    <th class="text-center" width="20%" scope="col"> Status </th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for class in classes %}
                                <tr>
                                    <th class="text-center" scope="row"> {{ class.id }} </th>
                                    <td class="text-center"> {{ class.grade.name }} - {{ class.name }} </td>
                                    <td> {{ class.staff.name.initials }} {{ class.staff.name.surname }}</td>
                                    {% if class.staff.status == "Present" %}
                                    <td class="text-center text-success"> {{ class.staff.status }}</td>
                                    {% elseif class.staff.status == "Absent" %}
                                    <td class="text-center text-danger"> {{ class.staff.status }}</td>
                                    {% else %}
                                    <td class="text-center"> {{ class.staff.status }}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %} 
                            </tbody>  

                        </table>
                    </section>
                    <!-- END : CLASS VIEW ATTENDANCE -->

                </div>
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>