{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                               
                {{ template.topmenu|raw }}

                <div class="staffprofile">
                {% if permission.staff.profile.view %}

                    <!-- START : STAFF PROFILE  -->
                    <section class="profileview">

                        <h4 class="page-title">Staff Details</h4>

                        <div class="row mt-5">
                            <div class="col-12">

                                {% if propic.upload.failed.status %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>{{ propic.upload.failed.message }}</strong>
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                {% endif %}

                                <div class="card">
                                    <div class="card-header">
                                        <div class="media">
                                            <img class="mr-4 img-fluid rounded-circle img-thumbnail" width="150px" height="150px" src="{{ app.url }}/data/propic/staff/{{ staff.id }}">
                                            <div class="media-body align-self-center">
                                                <h5 class="my-0">{{ staff.initials }} {{ staff.surname }}</h5>
                                                <h6 class="my-0 text-secondary mb-2">{{ staff.type }}</h6>
                                                {% if permission.staff.profile.edit %}
                                                <button class="btn btn-xs btn-warning" id="btn-edit" onclick="edit_mode()"><i class="la la-edit"></i> Edit</button>
                                                <button class="btn btn-xs btn-success" id="btn-save" onclick="update_staff('{{ staff.id }}')" hidden><i class="la la-save"></i> Save</button>
                                                <button class="btn btn-xs btn-info" id="btn-cancel" onclick="cancel_edit_mode()" hidden><i class="la la-close"></i> Cancel</button>
                                                {% if permission.staff.profile.edit %}
                                                <button class="btn btn-xs btn-danger" onclick="remove_staff('{{ staff.id }}')"><i class="la la-trash"></i> Delete</button>
                                                {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!-- CARD BODY -->
                                    <div class="card-body px-0">
                                        
                                        <ul class="nav nav-pills" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="about" aria-controls="about" aria-selected="true">About</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="tools-tab" data-toggle="tab" href="#tools" role="tab" aria-controls="tools" aria-selected="false">Settings</a>
                                            </li>
                                        </ul>

                                        <div class="tab-content p-3" id="myTabContent">
                                            
                                            <!-- ABOUT STAFF -->
                                            <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
                                                
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Bio Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">
                                                                    
                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="full_name">Full Name</label>
                                                                            <input type="text" class="form-control" id="staff-full_name" value="{{ staff.full_name }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="initials">Initials</label>
                                                                            <input type="text" class="form-control" id="staff-initials" value="{{ staff.initials }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="surname">Surname</label>
                                                                            <input type="text" class="form-control" id="staff-surname" value="{{ staff.surname }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">NIC</label>
                                                                            <input type="text" class="form-control" id="staff-nic" value="{{ staff.nic }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Gender</label>
                                                                            <select class="form-control" name="gender" id="staff-gender" disabled>
                                                                                {% if staff.gender == "Male" %}
                                                                                    <option value="Male" selected>Male</option>
                                                                                    <option value="Female">Female</option>
                                                                                {% else %}
                                                                                    <option value="Male">Male</option>
                                                                                    <option value="Female" selected>Female</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Date of Birth</label>
                                                                            <input type="date" class="form-control" id="staff-dob" value="{{ staff.dob }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Religion</label>
                                                                            <select class="form-control" name="religion" id="staff-religion" disabled>
                                                                                    <option value="null" selected>- select -</option>
                                                                                {% for religion in religions %}
                                                                                    {% if religion.id == staff.religion_id %}
                                                                                        <option value="{{ religion.id }}" selected>{{ religion.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ religion.id }}">{{ religion.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Landline</label>
                                                                            <input type="number" class="form-control" id="staff-phone_home" value="{{ staff.phone_home }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label for="">Mobile</label>
                                                                                <input type="number" class="form-control" id="staff-phone_mobile" value="{{ staff.phone_mobile }}" disabled>
                                                                            </div>
                                                                        </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Email</label>
                                                                            <input type="email" class="form-control" id="staff-email" value="{{ staff.email }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <div class="form-group">
                                                                            <label for="">Address</label>
                                                                            <input type="text" class="form-control" id="staff-address" value="{{ staff.address }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">City</label>
                                                                            <input type="text" class="form-control" id="staff-city" value="{{ staff.city }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="district">District</label>
                                                                            <select class="form-control" id="staff-district" name="district" id="staff-district" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for district in districts %}
                                                                                    {% if district.id == staff.district_id %}
                                                                                        <option value="{{ district.id }}" selected>{{ district.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ district.id }}">{{ district.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                        </div>                                                        
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-header">Academic Data</div>
                                                            <div class="card-body">
                                                                
                                                                <div class="form-row">

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Employee No</label>
                                                                            <input type="number" class="form-control" id="staff-employee_number" value="{{ staff.employee_number }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Admission Date</label>
                                                                            <input type="date" class="form-control" id="staff-admission_date" value="{{ staff.admission_date }}" disabled>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="">Type</label>
                                                                            <select class="form-control" name="type" id="staff-type" disabled>
                                                                                {% for type in staff_types %}
                                                                                    {% if type.id == staff.type_id %}
                                                                                        <option value="{{ type.id }}" selected>{{ type.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ type.id }}">{{ type.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="class">Class</label>
                                                                            <select class="form-control" name="class" id="staff-class" disabled>
                                                                                <option value="null" selected>- Select -</option>
                                                                                {% for class in classes %}
                                                                                    {% if class.id == tic.class.id %}
                                                                                        <option value="{{ class.id }}" selected>{{ class.grade.name }} - {{ class.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ class.id }}">{{ class.grade.name }} - {{ class.name }} </option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>  
                                                                    </div>

                                                                    <div class="col-6">
                                                                        
                                                                        <div class="form-group">
                                                                            <label for="">Subjects</label>
                                                                            <select class="form-control selectpicker show-tick" name="subjects" id="staff-subjects" multiple disabled>
                                                                                {% for subject in subjects %}
                                                                                    {% if subject.id in staff_subjects %}
                                                                                        <option value="{{ subject.id }}" selected>{{ subject.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                                <!-- PROFILE PICTURE UPLOAD -->
                                                                <form action="#" method="post" enctype="multipart/form-data">
                                                                    <!-- HIDDEN -->
                                                                    <input type="hidden" name="staff_id" value="{{ staff.id }}" >
                                                                    <div class="form-row">
                                                                        <div class="col-4">
                                                                            <div class="form-group">
                                                                                <label for="">Profile Picture Upload</label>
                                                                                <input class="form-control-file" type="file" name="propic" />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-2">
                                                                            <div class="form-group">
                                                                                <label for="">&nbsp;</label>
                                                                                <button type="submit" class="btn btn-primary btn-sm form-control-sm form-control" onclick="upload_profile_picture()">Save</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- END : BIO TAB -->

                                            <!-- START : SETTINGS TAB -->
                                            <div class="tab-pane fade" id="tools" role="tabpanel" aria-labelledby="tools-tab">

                                                <div class="row">

                                                    
                                                    <div class="col-md-12">
                                                        <div class="card">
                                                            <div class="card-header">Account</div>
                                                            <div class="card-body">
                                                    
                                                                <div class="form-row">

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="status">Status</label>
                                                                            <select class="form-control" name="status" id="staff-status" disabled>
                                                                                {% if settings.status  == "Active" %}
                                                                                    <option value="Active" selected>Active</option>
                                                                                    <option value="Deactive">Deactive</option>
                                                                                {% else %}
                                                                                <option value="Active">Active</option>
                                                                                <option value="Deactive" selected>Deactive</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                    
                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">User Role</label>
                                                                            <select class="form-control" name="role_id" id="staff-role_id" disabled>
                                                                                <option value="null" selected>- select -</option>
                                                                                {% for role in user.roles %}
                                                                                    {% if role.id  == settings.user_role.id %}
                                                                                        <option value="{{ role.id }}" selected>{{ role.name }}</option>
                                                                                    {% else %}
                                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                                    {% endif %}
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="">Preffered Theme</label>
                                                                            <select class="form-control" name="user_theme" disabled>
                                                                                {% if settings.theme  == "Dark" %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark" selected>Dark</option>
                                                                                {% else %}
                                                                                    <option value="Default">Default</option>
                                                                                    <option value="Dark">Dark</option>
                                                                                {% endif %}
                                                                            </select>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="username">Username</label>
                                                                            <input type="text" class="form-control" id="staff-username" value="{{ settings.username }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="password">Password</label>
                                                                            <input type="password" class="form-control" id="staff-password" placeholder="{{ settings.password }}" disabled>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-2">
                                                                        <div class="form-group">
                                                                            <label for="confirm_password">Confirm Password</label>
                                                                            <input type="password" class="form-control" id="staff-confirm_password" placeholder="Retype if changed" disabled>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- END : SETTINGS TAB -->

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                                
                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // EDIT MODE ON
    edit_mode = () => {

        // MENU BUTTONS
        $('#btn-edit').attr('hidden', true);
        $('#btn-save').attr('hidden', false);
        $('#btn-cancel').attr('hidden', false);
        $('#btn-remove').attr('hidden', true);

        // BIO
        $('#staff-full_name').attr('disabled', false);
        $('#staff-initials').attr('disabled', false);
        $('#staff-surname').attr('disabled', false);
        $('#staff-nic').attr('disabled', false);
        $('#staff-gender').attr('disabled', false);
        $('#staff-dob').attr('disabled', false);
        $('#staff-phone_home').attr('disabled', false);
        $('#staff-phone_mobile').attr('disabled', false);
        $('#staff-email').attr('disabled', false);
        $('#staff-religion').attr('disabled', false);
        $('#staff-address').attr('disabled', false);
        $('#staff-city').attr('disabled', false);
        $('#staff-district').attr('disabled', false);

        // ACADEMIC
        $('#staff-employee_number').attr('disabled', false);
        $('#staff-admission_date').attr('disabled', false);
        $('#staff-class').attr('disabled', false);
        $('#staff-type').attr('disabled', false);
        $('#staff-subjects').prop('disabled', false);
        $('#staff-subjects').selectpicker('refresh');

        // SETTINGS
        $('#staff-status').attr('disabled', false);
        $('#staff-role_id').attr('disabled', false);
        $('#staff-username').attr('disabled', false);
        $('#staff-password').attr('disabled', false);
        $('#staff-confirm_password').attr('disabled', false);
    }

    // CANCEL EDIT
    cancel_edit_mode = () => {
        alertify.confirm('<span class="text-warning"><i class="la la-exclamation-circle"></i> Confirm</span>', 'Are you sure you want to cancel...? All Unsaved changes will be lost.', 
            function(){ location.reload(); },
            function(){ alertify.success('Continue editing..')}
            // function(){ alertify.error('Cancel')}
        );
    }

    // START : UPDATE STAFF
    update_staff = (staff_id) => {

        // PAYLOAD
        var formData = new FormData;

        // BIO DATA
        formData.append('staff_id', staff_id)
        formData.append('full_name', $("#staff-full_name").val())
        formData.append('initials', $("#staff-initials").val())
        formData.append('surname', $("#staff-surname").val())
        formData.append('nic', $("#staff-nic").val())
        formData.append('gender', $("#staff-gender").val())
        formData.append('dob', $("#staff-dob").val())        
        formData.append('phone_mobile', $("#staff-phone_mobile").val())
        formData.append('phone_home', $("#staff-phone_home").val())
        formData.append('email', $("#staff-email").val())
        formData.append('religion_id', $("#staff-religion").val())
        formData.append('address', $("#staff-address").val())
        formData.append('city', $("#staff-city").val())
        formData.append('district_id', $("#staff-district").val())

        // SYSTEM
        formData.append('employee_number', $("#staff-employee_number").val())
        formData.append('admission_date', $("#staff-admission_date").val())
        formData.append('class_id', $("#staff-class").val())
        formData.append('type_id', $("#staff-type").val())
        formData.append('subject_ids', $("#staff-subjects").val())

        // SETTINGS
        formData.append('status', $("#staff-status").val())
        formData.append('role_id', $("#staff-role_id").val())
        formData.append('username', $("#staff-username").val())
        formData.append('password', $("#staff-password").val())
        formData.append('confirm_password', $("#staff-confirm_password").val())

        // REQUEST
        $.ajax({
            url: "{{ app.url }}/staff/ajax_updatestaff",
            method: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            dataType: 'json',
            success: (res) => {
                
                if ( res.status == 'success' ) {
                    alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Staff Details Updated successfully ... ").set('onok', function() {
                        location.reload();
                    })
                } else {
                    console.log(res);
                    alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                }
            },
            error: (e) => {
                alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                console.log(e.responseText)
            }
        })
    }
    // END : UPDATE STAFF

    // START : REMOVE STAFF
    remove_staff = (staff_id) => {

        alertify.confirm('<span class="text-danger"><i class="la la-exclamation-circle"></i> Caution</span>', 'Are you sure you want to Delete...? All data related to this staff will be deleted.', 
            function(){

                // PAYLOAD
                var formData = new FormData;
                formData.append('staff_id', staff_id)

                // REQUEST
                $.ajax({
                    url: "{{ app.url }}/staff/ajax_removestaff",
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    dataType: 'json',
                    success: (res) => {
                        
                        if ( res.status == 'success' ) {
                            alertify.alert('<span class="text-success"><i class="la la-check-circle"></i> Success</span>', "Staff Record Deleted successfully ... ").set('onok', function() {
                                window.location.replace("{{ app.url}}/staff/search");
                            })
                        } else {
                            console.log(res);
                            alertify.alert('<span class="text-warning"><i class="la la-exclamation-circle"></i> Warning</span>', res.message);
                        }
                    },
                    error: (e) => {
                        alertify.alert('<span class="text-danger"><i class="la la-exclamation-triangle"></i> Error</span>', "Something went wrong ... ");
                        console.log(e.responseText)
                    }
                })
            },
            function(){ alertify.error('Staff deletion process cancelled')}
            // function(){ alertify.error('Cancel')}
        );
    }
    // END : REMOVE STAFF

</script>