{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="timetablesearch">
                {% if permission.timetable.class_timetable.view %}

                    <h4 class="page-title"> Create Time Table </h4>

                    <section class="selectowner">

                        <form method="post">

                            <div class="form-row">

                                <div class="form-group col-md-1 ml-auto">
                                    <label for="timetable_class"> Select Class </label>
                                    <select class="form-control" name="timetable_class">                                    
                                    {% for class in classes %}
                                        {% if class.id == form.field.timetable_class %}
                                            <option selected value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                        {% else %}
                                            <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>

                            
                                <div class="form-group">
                                    <label for="timetable_class"> &nbsp; </label>
                                    <input type="hidden" name="isSubmited" value="true"/>
                                    <button type="submit" class="form-control btn btn-primary">Select</button>
                                </div>
                            </div>

                        </form>

                    </section>

                    <!-- START : CLASS TIME TABLE -->
                    {% if class.id %}

                        <section class="timetable">
                            
                            <table class="table table-bordered table-responsive-md">
    
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">Period</th>
                                        <th width="20%" class="text-center" scope="col">Monday</th>
                                        <th width="20%" class="text-center" scope="col">Tuesday</th>
                                        <th width="20%" class="text-center" scope="col">Wednesday</th>
                                        <th width="20%" class="text-center" scope="col">Thursday</th>
                                        <th width="20%" class="text-center" scope="col">Friday</th>
                                    </tr>
                                </thead>
    
                                <tbody>

                                    {% set period = 1 %}
    
                                    {% for row in 1..9 %}
                                        {% if row != 5 %}
    
                                        <tr>
                                            <th scope="row" class="text-center">{{ period }}</th>
                                            {% for cols in 1..5 %}
                                            <td class="text-center">

                                                {% for subject in subjects %}
                                                    {% if timetable[cols][period].subject_id == subject.id %}
                                                    <span><b>{{ subject.name }}</b></span>
                                                    {% endif %}
                                                {% endfor %}
                                                <br>
                                                {% for staff in staffs %}
                                                    {% if timetable[cols][period].staff_id == staff.id %}
                                                    <span>{{ staff.initials }} {{ staff.surname }}</span>
                                                    {% endif %}
                                                {% endfor %}
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% set period = period + 1 %}
                                        {% else %}
                                        <tr class="thead-dark">
                                            <th class="text-center" colspan="6">I N T E R V A L</th>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
    
                            <input id="classId" type="hidden" value="{{ class.id }}" />
    
                        </section>
                    {% else %}

                        <table class="table table-responsive-md">
                            <tbody>
                                <tr>
                                    <td class="text-center">No records to Display. Please select a class to Add / Edit Timetable</td>
                                </tr>
                            </tbody>
                        </table>

                    {% endif %}
                    <!-- END : CLASS TIME TABLE -->

                {% else %}
                    {% include "blocks/permission_denied.html" %}
                {% endif %}
                </div>
                
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}

</body>