{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="timetablesearch">

                    <!-- START : CLASS TIMETABLE SECTION -->
                    <section class="classtimetable mt-4">

                        <!-- START : SELECT CLASS -->
                        <form method="post">

                            <div class="form-row mr-2">

                                <h4 class="page-title mb-0 pb-0"> Class Time Table </h4>

                                <div class="form-group col-md-1 ml-auto p-0">
                                    <label for="timetable_class"> Select Class </label>
                                    <select class="form-control" name="timetable_class">
                                        <option selected disabled>- Select -</option>
                                        {% for class in classes %}
                                            {% if class.id == form.field.timetable_class %}
                                                <option selected value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                            {% else %}
                                                <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="form-group ml-1">
                                    <label> &nbsp; </label>
                                    <input type="hidden" name="isSubmitedClassTimeTable" value="true"/>
                                    <button type="submit" class="form-control btn btn-primary"> View </button>
                                </div>
                            </div>

                        </form>
                        <!-- END : SELECT CLASS -->

                        <!-- START : CLASS TIME TABLE -->
                        {% if class.id %}
                            <section class="timetable">
                                
                                <table class="table table-bordered table-responsive-md">

                                    <thead class="thead-dark">
                                        <tr>
                                            <th width="1%" class="text-center" scope="col">Period</th>
                                            <th width="20%" class="text-center" scope="col">Monday</th>
                                            <th width="20%" class="text-center" scope="col">Tuesday</th>
                                            <th width="20%" class="text-center" scope="col">Wednesday</th>
                                            <th width="20%" class="text-center" scope="col">Thursday</th>
                                            <th width="20%" class="text-center" scope="col">Friday</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        {% set period = 1 %}

                                        {% for row in 1..9 %}
                                            {% if row != 5 %}

                                            <tr>
                                                <th scope="row" class="text-center">{{ period }}</th>
                                                {% for cols in 1..5 %}
                                                <td class="text-center">
                                                    {% if timetables[cols].period.id == period %}
                                                    <span>{{ timetables[cols].period.subject_name }}</span>
                                                    <br>
                                                    <span>{{ timetables[cols].period.staff_name }}</span>
                                                    {% endif %}
                                                </td>
                                                {% endfor %}
                                            </tr>
                                            {% set period = period + 1 %}
                                            {% else %}
                                            <tr class="thead-dark">
                                                <th class="text-center" colspan="6">I N T E R V A L</th>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}

                                    </tbody>
                                </table>

                                <input id="classId" type="hidden" value="{{ class.id }}" />

                            </section>
                        {% else %}

                            <table class="table table-responsive-md">
                                <tbody>
                                    <tr>
                                        <td class="text-center">No records to Display. Please select a class to View Class Timetable</td>
                                    </tr>
                                </tbody>
                            </table>

                        {% endif %}
                        <!-- END : CLASS TIME TABLE -->

                    </section>
                    <!-- END : CLASS TIMETABLE SECTION -->

                    <!-- START : SELECT SCHEDULE DATE -->
                    <section class="dateschedule mt-5">

                        <h4 class="page-title">REPORT DATE SCHEDULE</h4>

                        <!-- START : SELECT SCHEDULE DATE -->
                        <form name="selectperiodtimetable">

                            <div class="form-row mr-2">

                                <div class="form-group col-md-1 ml-auto mr-1">
                                    <label for="period"> Period </label>
                                    <select class="form-control" id="period">
                                        <option selected disabled> - Select - </option>
                                        <option value="1">Period 1</option>
                                        <option value="2">Period 2</option>
                                        <option value="3">Period 3</option>
                                        <option value="4">Period 4</option>
                                        <option value="5">Period 5</option>
                                        <option value="6">Period 6</option>
                                        <option value="7">Period 7</option>
                                        <option value="8">Period 8</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="date"> Date </label>
                                    <input class="form-control" type="date" id="date"/>
                                </div>

                            </div>

                            <div class="form-row mr-2">
                                <div class="form-group ml-auto">
                                    <button type="submit" class="form-control btn btn-primary"> View </button>
                                </div>
                            </div>

                        </form>
                        <!-- END : SELECT SCHEDULE DATE -->

                        <!-- START : DATE SCHEDULE -->
                        <div class="timetable">

                            <table class="table table-hover table-responsive-md">
    
                                <thead class="thead-dark">
    
                                    <tr>
                                        <th scope="col">Period</th>
                                        <th scope="col">Class</th>
                                        <th scope="col">Subject</th>
                                        <th scope="col">Staff</th>
                                        <th scope="col">Staff status</th>
                                    </tr>
    
                                </thead>
    
                                <tbody>
    
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>6A</td>
                                        <td>English</td>
                                        <td>Mr.ABC</td>
                                        <td>Present</td>
                                    </tr>
    
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>6A</td>
                                        <td>Maths</td>
                                        <td>Mrs.ABC</td>
                                        <td>Absent</td>
                                    </tr>
                                
                                </tbody>
    
                            </table>
    
                        </div>
                        <!-- END : DATE SCHEDULE -->

                    </section>
                    <!-- END : SELECT SCHEDULE DATE -->

                    

                </div>

            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>