{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="timetablecreate">

                    <h4 class="page-title"> Create Time Table </h4>

                    <section class="selectowner">

                        <form method="post">

                            <div class="form-row">

                                <div class="form-group col-md-1 ml-auto">
                                    <label for="timetable_class"> Select Class </label>
                                    <select class="form-control" name="timetable_class">                                    
                                    {% for class in classes %}
                                        {% if class.id == form.field.timetable_class %}
                                            <option selected value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                        {% else %}
                                            <option value="{{ class.id }}"> {{ class.grade.name }} - {{ class.name }} </option>
                                        {% endif %}
                                    {% endfor %}
                                    </select>
                                </div>

                            
                                <div class="form-group">
                                    <label for="timetable_class"> &nbsp; </label>
                                    <input type="hidden" name="isSubmited" value="true"/>
                                    <button type="submit" class="form-control btn btn-primary">Select</button>
                                </div>
                            </div>

                        </form>

                    </section>

                    <!-- START : CLASS TIME TABLE -->
                    {% if class.id %}
                        <section class="timetable">
                            
                            <table class="table table-bordered table-responsive-md">
    
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Period</th>
                                        <th class="text-center" scope="col">Monday</th>
                                        <th class="text-center" scope="col">Tuesday</th>
                                        <th class="text-center" scope="col">Wednesday</th>
                                        <th class="text-center" scope="col">Thursday</th>
                                        <th class="text-center" scope="col">Friday</th>
                                    </tr>
                                </thead>
    
                                <tbody>
    
                                    {% set period = 1 %}
    
                                    {% for row in 1..9 %}
                                        {% if row != 5 %}
    
                                        <pre class="d-none">
                                        {{ dump(timetables[period]) }}
                                        </pre>
    
                                        <tr>
                                            <th scope="row" class="text-center">{{ period }}</th>
                                            {% for cols in 1..5 %}
                                            <td class="text-center">
                                                <select class="selectpicker subject-picker" data-live-search="true">
                                                        <option selected disabled>- Subject -</option>
                                                    {% for subject in subject %}
                                                        {% if timetables[cols][period].subject_id == subject.id %}
                                                        <option data-subject="{{ subject.id }}" data-period="{{ period }}" data-day="{{ cols }}" value="{{ subject.id }}" class="checked-subject" selected>{{ subject.name }}</option>
                                                        {% else %}
                                                        <option data-subject="{{ subject.id }}" data-period="{{ period }}" data-day="{{ cols }}" value="{{ subject.id }}">{{ subject.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <select class="selectpicker staff-picker" data-live-search="true">
                                                        <option selected disabled> - Teacher - </option>
                                                    {% for staff in staffs %}
                                                        {% if timetables[cols][period].staff_id == staff.id %}
                                                        <option data-staff="{{ staff.id }}" data-period="{{ period }}" data-day="{{ cols }}" value="{{ staff.id }}" class="checked-staff" selected> {{ staff.initials }} {{ staff.surname }}</option>
                                                        {% else %}
                                                        <option data-staff="{{ staff.id }}" data-period="{{ period }}" data-day="{{ cols }}" value="{{ staff.id }}"> {{ staff.initials }} {{ staff.surname }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            {% endfor %}
                                        </tr>
                                        {% set period = period + 1 %}
                                        {% else %}
                                        <tr class="thead-dark">
                                            <th class="text-center" colspan="6">I N T E R V A L</th>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    
                                
                                </tbody>
                            </table>
    
                            <input id="classId" type="hidden" value="{{ class.id }}" />
    
                        </section>
                    {% else %}

                        <table class="table table-responsive-md">
                            <tbody>
                                <tr>
                                    <td class="text-center">No records to Display. Please select a class to Add / Edit Timetable</td>
                                </tr>
                            </tbody>
                        </table>

                    {% endif %}
                    
                    <!-- END : CLASS TIME TABLE -->

                </div>
                
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}

    <script>

        $(document).ready(() => {
            console.log( $(".checked-subject").parent().addClass("checked-subject") );
            console.log( $(".checked-staff").parent().addClass("checked-staff") );
        });

        $(".subject-picker").on('change', (event) => {
            
            var formData = new FormData
            formData.append("class", $("#classId").val())
            formData.append("day", $(event.target.selectedOptions[0]).data('day'))
            formData.append("period", $(event.target.selectedOptions[0]).data('period'))
            formData.append("subject", $(event.target.selectedOptions[0]).data('subject'))

            $.ajax({
                url: "{{ app.url }}/timetable/ajax_assign_subject",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (Response) => {
                    if ( Response.status == 'success' ) {
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("selectedopt")
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("invalid")
                        $(event.target.selectedOptions[0]).parent().parent().addClass("valid")
                    } else {
                        alertify.alert("Error", Response.error);
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("selectedopt")
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("valid")
                        $(event.target.selectedOptions[0]).parent().parent().addClass("invalid")
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        })

        $(".staff-picker").on('change', (event) => {

            var formData = new FormData
            formData.append("class", $("#classId").val())
            formData.append("day", $(event.target.selectedOptions[0]).data('day'))
            formData.append("period", $(event.target.selectedOptions[0]).data('period'))
            formData.append("staff", $(event.target.selectedOptions[0]).data('staff'))

            $.ajax({
                url: "{{ app.url }}/timetable/ajax_assign_staff",
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                dataType: 'json',
                success: (Response) => {
                    if ( Response.status == 'success' ) {
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("selectedopt")
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("invalid")
                        $(event.target.selectedOptions[0]).parent().parent().addClass("valid")
                    } else {
                        alertify.alert("Error", Response.error);
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("selectedopt")
                        $(event.target.selectedOptions[0]).parent().parent().removeClass("valid")
                        $(event.target.selectedOptions[0]).parent().parent().addClass("invalid")
                    }
                },
                error: (e) => {
                    alertify.alert("Error", "Something went wrong ... ");
                    console.log(e.responseText)
                }
            })
        })
    </script>

</body>