{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">
                
                {{ template.topmenu|raw }}

                <div class="usersearch">

                    <!-- START : USER SEARCH FORM -->
                    <div class="card">
                        <div class="card-header">Search User</div>
                        <div class="card-body">
                            <form method="post">

                                <div class="form-row">
                                    
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="role_id">User Role</label>
                                            <select class="form-control" name="role_id">
                                                <option value="" selected>- Select -</option>
                                                {% for user_role in user.roles %}
                                                <option value="{{ user_role.id }}">{{ user_role.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="empno">Emp ID</label>
                                            <input type="number" class="form-control" id="empno"></select>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label for="status">Status</label>
                                            <select class="form-control" name="status">
                                                <option value="" selected>- Select -</option>
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="staff_name">Staff Name</label>
                                            <select class="form-control selectpicker show-tick" data-live-search="true" name="staff_name">
                                                <option value="" selected>Search staff name here</option>
                                                {% for staff in staffs %}
                                                <option value="{{ staff.id }}">{{ staff.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                            
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="username">Username</label>
                                            <input type="text" class="form-control" name="username"/>
                                        </div>
                                    </div>
                                
                                </div>

                                <input type="hidden" name="isSubmited" value="true"/>
                                <button class="btn btn-primary pl-5 pr-5" type="submit">Search</button>
                                <button class="btn btn-secondary" type="clear">Clear</button>

                            </form>
    
                        </div>
                    </div>
                    <!-- END : USER SEARCH FORM -->

                    <!-- START : SEARCH RESULTS -->
                    <section class="mt-5">
                        <!-- START : SEARCH RESULT TABLE -->
                        {% if users %}
                            <table id="table_user_search" class="table table-hover table-responsive-md">
                                <caption> Search Results of Users </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th width="1%" class="text-center" scope="col">ID</th>
                                        <th width="10%" class="text-center" scope="col">Name</th>
                                        <th width="1%" class="text-center" scope="col">NIC</th>
                                        <th width="5%" class="text-center" scope="col">Gender</th>
                                        <th width="5%" class="text-center" scope="col">Telephone</th>
                                        <th width="5%" class="text-center" scope="col">Email</th>
                                        <th width="10%" class="text-center" scope="col">City</th>        
                                        <th width="12%" class="text-center" scope="col">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <th class="text-center" scope="row">{{ user.id }}</th>
                                           <td class="text-center">{{ user.staff_name }}</td>
                                            <td class="text-center">{{ user.nic }}</td>
                                            <td class="text-center">{{ user.gender }}</td>
                                            <td class="text-center">{{ user.phone_home }}</td>
                                            <td class="text-center">{{ user.email }}</td>
                                            <td class="text-center">{{ user.city }}</td>                                  
                                            <td class="text-center"><button type="button" class="btn btn-xs btn-success"><i class="la la-user"></i>View Profile</button></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-bordered table-responsive-md">
                                <caption> Search Results of Users </caption>
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Fill your requirements and click search to view</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center" scope="row">No records to display</td>
                                    </tr>
                                </thead>
                            </table>
                        {% endif %}
                        <!-- END : SEARCH RESULT TABLE -->
                    </section>
                    <!-- END : SEARCH RESULTS -->
                </div>
            </div>
            
        </div>
    </div>

{{ template.footer|raw }}
</body>