{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <!-- START : CONTENT -->
            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="messagessingle">

                    <!-- START : HEALTH SEARCH -->
                    <h4 class="page-title">Messages</h4>

					<div class="card mt-5">
						<div class="card-header">
							<img src="{{ app.url }}/data/propic/student/53" class="avatar">
							<h5>
								Srivin Prabhash
							</h5>
						</div>

						<div id="messages-wrapper" class="card-body">
							
							{% for message in messages %}
								{% if message.owner == true %}
								<div class="media single-msg incoming">
									<img class="avatar mr-3" src="{{ app.url }}/data/propic/student/53" alt="Generic placeholder image">
									<div class="media-body">
										<p>{{ message.body }}</p>
									</div>
								</div>
								{% else %}
								<div class="media single-msg">
									<div class="media-body">
										<p>{{ message.body }}</p>
									</div>
									<img class="avatar ml-3" src="{{ app.url }}/data/propic/student/53" alt="Generic placeholder image">
								</div>
								{% endif %}
							{% endfor %}

						</div>

						<!-- CARD FOOTER -->
						<div class="card-footer">
							<form action="">
								<div class="form-group">
									<textarea class="form-control"></textarea>
								</div>
								<div class="form-group">
									<button type="submit" class="btn btn-primary btn-sm"><i class="la la-paper-plane"></i> &nbsp; Send</button>
								</div>
							</form>
						</div>

					</div>
				</div>

            </div>
                <!-- END : CONTENT -->

        </div>
    </div>

    {{ template.footer|raw }}

    <script>
		
		// SCROLL TO BOTTOM ON PAGE LOAD
		jQuery(document).ready(function($) {
			$("#messages-wrapper").scrollTop($('#messages-wrapper')[0].scrollHeight)
		});

    </script>

</body>