{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="row">
                    <!-- START : CLASS MANAGER -->
                    <div class="col mx-auto">
                        <div class="card">
                            <h5 class="card-header"> Class </h5>
                            <div class="card-body">
                                <div class="table-responsive-md">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"> # </th>
                                                <th scope="col"> Grade </th>
                                                <th scope="col"> Class </th>
                                                <th scope="col"> Teacher in Charge </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for class in class %}
                                            <tr>
                                                <th scope="row"> {{ class.id }} </th>
                                                <td> {{ class.grade.name }} </td>
                                                <td> {{ class.name }} </td>
                                                <td> {{ class.staff.initials }} {{ class.staff.surname }}</td>
                                            </tr>
                                            {% endfor %} 
                                        </tbody>                                      
                                    </table>
                                </div>
                                <button type="button" class="btn btn-primary">Add New Class</button>
                            </div>
                        </div>
                    </div>
                    <!-- END : CLASS MANAGER -->

                    <!-- START : GRADE MANAGER -->
                    <div class="col mx-auto">
                        <div class="card">
                            <h5 class="card-header"> Grade </h5>
                            <div class="card-body">
                                <div class="table-responsive-md">
                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col"> # </th>
                                                <th scope="col"> Grade </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for class in class %}
                                            <tr>
                                                <th scope="row"> {{ class.grade.id }} </th>
                                                <td> {{ class.grade.name }} </td>
                                            </tr>
                                            {% endfor %} 
                                        </tbody>                                        
                                    </table>
                                </div>                                
                                <button type="button" class="btn btn-primary">Add New Grade</button>
                            </div>
                        </div>
                    </div>
                    <!-- END : GRADE MANAGER -->

                    <!-- START : RELIGION MANAGER -->
                    <div class="col mx-auto">
                            <div class="card">
                                <h5 class="card-header"> Religion </h5>
                                <div class="card-body">
                                    <div class="table-responsive-md">
                                        <table class="table table-borderless">
                                            <thead>
                                                <tr>
                                                    <th scope="col"> # </th>
                                                    <th scope="col"> Religion </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for religion in religion %}
                                                <tr>
                                                    <th scope="row"> {{ religion.id }} </th>
                                                    <td> {{ religion.name }} </td>
                                                </tr>
                                                {% endfor %} 
                                            </tbody>                                        
                                        </table>
                                    </div>                                
                                    <button type="button" class="btn btn-primary">Add New Religion</button>
                                </div>
                            </div>
                        </div>
                        <!-- END : GRADE MANAGER -->

                </div>

            </div>
        </div>
    </div>

{{ template.footer|raw }}
</body>