{{ template.header|raw }}

<body>

    <div class="container-fluid home">
        <div class="row">
            
            {{ template.sidenav|raw }}

            <div class="col-md-10 content">               
                {{ template.topmenu|raw }}

                <div class="homeindex">

                    <h4 class="page-title"> Dashboard </h4>

                    <!-- START : STUDENT STAFF CARDS -->
                    <div class="row mt-5">

                        <!-- STUDENT SUMMARY -->
                        <div class="col-6">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Students</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-4">
                                        <h6 class="card-title">Total - {{ student.total.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ student.total.male }} <br/>
                                            Female -  <i class="la la-female"></i> {{ student.total.female }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Attendance - {{ student.attendance.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ student.attendance.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ student.attendance.female }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Absent - {{ student.absent.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ student.absent.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ student.absent.female }}
                                        </p>
                                        <div class="row">
                                            <a href="{{ app.url}}/student/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>
                                        
                                </div>

                            </div>
                        </div>

                        <!-- STAFF SUMMARY -->
                        <div class="col-6">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Staff</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-4">
                                        <h6 class="card-title">Total - {{ staff.total.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ staff.total.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ staff.total.female }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Attendance - {{ staff.attendance.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ staff.attendance.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ staff.attendance.female }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Absent - {{ staff.absent.all }}</h6>
                                        <p class="card-text">
                                            Male -  <i class="la la-male"></i> {{ staff.absent.male }}<br/>
                                            Female -  <i class="la la-female"></i> {{ staff.absent.female }}
                                        </p>
                                        <div class="row">
                                            <a href="{{ app.url}}/staff/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>
                                        
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- END : STUDENT STAFF CARDS -->

                    <!-- START : CLASS VIEW ATTENDANCE -->
                    <section class="class-attendance-chart mt-5">

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 chart-bg pt-3" id="chart-1"></div>
                                <div class="col-12 chart-bg pt-3" id="chart-2"></div>
                            </div>
                        </div>

                    </section>
                    <!-- END : CLASS VIEW ATTENDANCE -->

                    <!-- START : EXAM CARD -->
                    <div class="row mt-4">

                        <!-- EXAM SUMMARY -->
                        <div class="col-12">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Exams</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-6">
                                        <h6 class="card-title">Upcoming</h6>
                                        <p class="card-text">
                                            GCE O/L 2019 <br/> 2019.08.06 - 2019.08.26
                                        </p>
                                    </div>

                                    <div class="col-6">
                                        <h6 class="card-title">Recent</h6>
                                        <p class="card-text">
                                            GCE A/L 2019 <br/> 2019.08.06 - 2019.08.26
                                        </p>
                                        
                                        <div class="row">
                                            <a href="{{ app.url}}/exam/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>
                                        
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- START : PARENT USER SPORT CARDS -->
                    <div class="row mt-4">

                        <!-- PARENT SUMMARY -->
                        <div class="col-4">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Parents</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-4">
                                        <h6 class="card-title">Total</h6>
                                        <p class="card-text">
                                            {{ parent.total.all }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Male</h6>
                                        <p class="card-text">
                                            {{ parent.total.male }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Female</h6>
                                        <p class="card-text">
                                            {{ parent.total.female }}
                                        </p>

                                        <div class="row">
                                            <a href="{{ app.url}}/parent/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <!-- USER SUMMARY -->
                        <div class="col-4">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Users</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-4">
                                        <h6 class="card-title">Total</h6>
                                        <p class="card-text">
                                            {{ user.total.all }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Active</h6>
                                        <p class="card-text">
                                            {{ user.total.active }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Disabled</h6>
                                        <p class="card-text">
                                            {{ user.total.disabled }}
                                        </p>

                                        <div class="row">
                                            <a href="{{ app.url}}/user/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>
                                        
                                </div>

                            </div>
                        </div>

                        <!-- SPORT SUMMARY -->
                        <div class="col-4">
                            <div class="card">

                                <div class="card-header">
                                    <h5 class="card-title">Sports</h5>
                                </div>

                                <div class="row card-body pt-0">

                                    <div class="col-4">
                                        <h6 class="card-title">Total</h6>
                                        <p class="card-text">
                                            {{ sport.total.all }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Coaches</h6>
                                        <p class="card-text">
                                            {{ coach.total.all }}
                                        </p>
                                    </div>

                                    <div class="col-4">
                                        <h6 class="card-title">Students</h6>
                                        <p class="card-text">
                                            {{ sport.student.total.all }}
                                        </p>

                                        <div class="row">
                                            <a href="{{ app.url}}/sport/" class="btn btn-xs btn-primary p-2 mr-3 ml-auto">view details</a>
                                        </div>
                                    </div>
                                        
                                </div>

                            </div>
                        </div>    

                    </div>
                    <!-- END : PARENT USER SPORT CARDS -->

                </div>
            </div>
        </div>
    </div>

{{ template.footer|raw }}
</body>

<script>

    // APEXCHARTS
    let options = {
        chart: {
            height: 400,
            type: 'bar',
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        
        plotOptions: {
            bar: {
                horizontal: false,
            }
        },
        dataLabels: {
            enabled: true
        },
        title: {
            text: 'Students'
        },
        series: [{
            data: [{% for class in classes %} {{ class.total }},{% endfor %}]
        }],
        xaxis: {
            categories: [ {% for class in classes %} '{{ class.name }}',{% endfor %} ],
        }
    }

    let options2 = {
        chart: {
            height: 400,
            type: 'bar',
            animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 1500,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
        },
        plotOptions: {
            bar: {
                horizontal: false,
            }
        },
        dataLabels: {
            enabled: true
        },
        title: {
            text: 'Attendance'
        },
        series: [{
            data: [{% for class in classes %} {{ class.present }},{% endfor %}]
        }],
        xaxis: {
            categories: [ {% for class in classes %} '{{ class.name }}',{% endfor %} ],
        }
    }

    let chart1 = new ApexCharts(
        document.querySelector("#chart-1"),
        options
    )
    let chart2 = new ApexCharts(
        document.querySelector("#chart-2"),
        options2
    )
    chart1.render()
    chart2.render()

</script>